﻿<%@ Page Language="C#" Debug="True" Strict="True" %>
<script runat="server">
    public void Page_Load()
    {
        Response.TrySkipIisCustomErrors = true;
        Response.StatusCode = 404;
        Response.Status = "404 Not Found";
        Server.ClearError();
    }
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/99a43e8f-c5e8-45fa-9d11-fcac56f301cd.css" />
    <meta name="description" content="Page not found">
    <link rel="icon" href="/Content/common/favicon_QIC.png">
    <title>Page not found | QIC</title>
    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/common/css/404.css" rel="stylesheet">
    <link href="/Content/common/css/fonts/fonts.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <img src="/Content/common/images/QIC_logo.png" alt="qic logo">
    </header>
    <div class="full-screen-banner">
        <div class="text-box">
            <h1>SORRY. WE CAN’T SEEM TO FIND THE PAGE YOU ARE LOOKING FOR. <span class="red-highlight"></span></h1>
        </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/Content/common/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
