﻿@model Qic.Sc.Web.Areas.Corporate.Model.StackedHeroModel
<div class="row">
    @foreach (var panel in Model.Panels.Take(3))
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            @Html.Partial(MVC.Corporate.Featured.Views._StackedPanel, panel)
        </div>
    }
</div>