﻿@model IEnumerable<Qic.Sc.Entities.UserDefined.QIC.Shared.Feature.IFeature>
@foreach (var feature in Model)
{
    var backgroundImgeStyle = string.IsNullOrEmpty(feature.HeroImage.Src) ? null : "background-image: url('" + feature.HeroImage.GetMaxWidthSrc(1230) + "')";
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-featured">
            <div class="panel panel-default panel-news featured-content">
                <div class="sub-featured-image col-lg-8 col-md-8 col-sm-12 col-xs-12" style="@Html.Raw(backgroundImgeStyle)">
                    @if (!string.IsNullOrEmpty(@feature.Headline))
                    {
                        <div class=" text-box col-lg-9 col-md-9 col-sm-9 col-xs-10">
                            <p>@feature.Headline</p>
                        </div>
                    }
                </div>
                <div class="panel-body news-container">
                    <div class="item-news col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <h5 class="sub-headline"><a href="@Url.ForItem(feature.EntityId)">@feature.Title</a></h5>
                        @if (feature.PublicationDate != DateTime.MinValue)
                        {
                            <span class="icon-calendar"> @feature.PublicationDate.ToString(Constants.DateFormat)</span>
                        }
                        <div class="lead">
                            @Html.Raw(feature.PullQuote)
                        </div>
                        <a class="read-more" href="@Url.ForItem(@feature.EntityId)">+ Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}