﻿@model Qic.Sc.Web.Areas.Corporate.Model.StackedHeroModel
@for (var i = 0; i < Model.Panels.Count(); i = i + 3)
{
    <div class="row simple-panel">
        @foreach (var panel in Model.Panels.Skip(i).Take(3))
        {
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.Partial(MVC.Corporate.Featured.Views._StackedPanel, panel)
            </div>
        }
    </div>

}