﻿@using Links
@using Qic.Sc.Web
@model Qic.Sc.Web.Areas.Portal.Models.ChangePasswordModel

<div class="row login-container" id="forgot-password">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="icon-profile panel-title" aria-hidden="true"></span>
                RESET PASSWORD
            </div>
            <div class="panel-body">
                <form id="changepassword" action="@Url.ForItem(Constants.Content.ClientPortal.Home.Login.ChangePassword.ItemID.Guid)" method="POST" class="col-md-12">
                    @if (Model.Messages != null)
                    {
                        foreach (var message in Model.Messages)
                        {
                            <div class="error-msg">
                                <span>@message</span>
                            </div>
                        }
                    }
                    <fieldset class="form-group">
                        @Html.LabelFor(model => model.NewPassword)
                        @Html.TextBoxFor(model => model.NewPassword, new { @name = "model.NewPassword", @type = "password", @required = "true", @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </fieldset>

                    <fieldset class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @name = "model.ConfirmPassword", @type = "password", @required = "true", @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </fieldset>

                    <fieldset class="form-group">
                        <button class="btn-default" type="submit">Change</button>
                    </fieldset>
                    @Html.HiddenFor(model => model.User.UserName)
                    @Html.HiddenFor(model => model.Token)
                    @Html.HiddenFor(model => model.Timestamp)
                </form>
            </div>
        </div>
    </div>
</div>

@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_min_js)"></script>)
@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_unobtrusive_min_js)"></script>)
@Html.RegisterPageScript(@<script>
    $.validator.addMethod("qicPassword", function (value, element) {
        return this.optional(element) || /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(value);
    }, $.validator.messages.phone || "Minimum password complexity strength requires one digit, one lower and upper case letter, and at least 8 characters.");

    $("#changepassword").validate({
        rules: {
            NewPassword: {
                qicPassword: true,
                required: true
            },
            ConfirmPassword: {
                equalTo: "#NewPassword"
            }
        }
    });

    function styleErrorMessage() {
        if (!$('#NewPassword').valid() && $('#NewPassword').val().length > 0) {
            $('#NewPassword-error').attr("style", "margin-top: 25px;  width: 310px");
            $('#NewPassword').attr("style", "margin-top: 50px");
        } else {
            $('#NewPassword-error').removeAttr("style");
            $('#NewPassword').removeAttr("style");
        }
    }

    $(document).ready(function() {
        $('#NewPassword').blur(function () {
            styleErrorMessage();
        });

        $('#NewPassword').keyup(function () {
            styleErrorMessage();
        });
    });
    </script>)
