﻿@using Links
@using Qic.Sc.Web
@model Qic.Sc.Web.Areas.Portal.Models.UserModel

<div class="row login-container" id="forgot-password">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="icon-profile panel-title" aria-hidden="true"></span>
                RESET PASSWORD
            </div>
            <div class="panel-body">
                <form id="passwordreset" action="@Url.ForItem(Constants.Content.ClientPortal.Home.Login.ResetPassword.ItemID.Guid)" method="POST" class="col-md-12">
                    @if (Model.Messages != null)
                    {
                        foreach (var message in Model.Messages)
                        {
                            <div class="error-msg">
                                <span>@message</span>
                            </div>
                        }
                    }
                     <fieldset class="form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new { @name = "model.UserName", @type = "email", @required = "true", @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </fieldset>
                    <fieldset class="form-group">
                        <button class="btn-default" type="submit">Reset</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_min_js)"></script>)
@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_unobtrusive_min_js)"></script>)
@Html.RegisterPageScript(@<script>$("#passwordreset").validate();</script>)
