﻿@model Qic.Sc.Web.Areas.Portal.Models.WelcomeModel

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <h4>Client Portal</h4>
<h1>Welcome, @Model.FirstName</h1> 
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        @if (Model.Notifications > 0)
{
    <div class="notification pull-right">
        <div id="new-notifications" class="new-notification">
            <span class="badge">@Model.Notifications</span>
            <span class="">New Notifications</span>
            <ul class="content-notification">
                @foreach (var alert in Model.Alerts)
                {
                    <li>
                        <span class="icon-notification icon"></span>
                        <span>@alert.Title</span>
                        <span><a href="@Url.ForItem(alert.EntityId)">View</a></span>
                    </li>
                }
            </ul>
        </div>
    </div>
}
    </div>
</div>



<div id="fixed-nav" class="hidden-xs hidden-sm">
    <ul>
        <li>
            <a href="#"><span class="fixed-description">Back to top</span><span class="icon-top fixed-icon"></span></a>
        </li>
        <li>
            <a class="search-click" href="@Url.ForItem(Constants.Content.ClientPortal.Home.Search.ItemID.Guid)"><span class="fixed-description">Search</span><span class="icon-search fixed-icon"></span></a>
        </li>
        <li>
            <a href="mailto:clientservices@qic.com"><span class="fixed-description">Contact</span><span class="icon-mail fixed-icon"></span></a>
        </li>
        <li>
            <a href="tel:+61 (0)7 3020 7082 "><span class="fixed-description">+61 (0)7 3020 7082 </span><span class="icon-phone fixed-icon"></span></a>
        </li>
    </ul>
</div>