﻿@model  Qic.Sc.Web.Areas.Corporate.Model.BannerModel
@{
    var backgroundImgeStyle = string.IsNullOrEmpty(Model.Feature.HeroImage.Src) ? null : "background-image: url('" + Model.Feature.HeroImage.GetMaxWidthSrc(1230) + "'); ";
    if (Model.Height > 0)
    {
        backgroundImgeStyle += "height: " + Model.Height + "px;";
    }
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
        <div class="banner-primary" style="@Html.Raw(backgroundImgeStyle)">
            @if (!string.IsNullOrEmpty(Model.Feature.PullQuote))
            {
                <div class="text-box col-lg-7 col-md-6 col-sm-6 col-xs-12">
                    <div class="lead">
                        @Html.Raw(Model.Feature.PullQuote)
                    </div>
                    @if (Model.IsLinkVisible)
                    {
                        <a class="btn-default" href="@Url.ForItem(@Model.Feature.EntityId)">@Model.Feature.GetDisplayNameOrName()</a>
                    }
                </div>
            }
    </div>
</div>
</div>
