﻿@model Qic.Sc.Web.Areas.Corporate.Model.CallToActionModel
@if (Model != null)
{
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="text-uppercase">
                    @Html.Raw(Model.Banner)
                </div>
            </div>
            @if (Model.DropDownLinks != null && Model.DropDownLinks.Any())
            {
                var first = Model.DropDownLinks.First();
                var droplinks = Model.DropDownLinks.Skip(1).ToArray();
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right">
                    <div class="btn-group btn-block">
                        <a class="btn btn-danger btn-lg btn-block" data-toggle="dropdown" role="button" aria-expanded="false">
                            @first.GetDisplayNameOrName()@if (droplinks.Any())
                                                         {
                                                             <span class="glyphicon glyphicon-menu-down"></span>
                                                         }
                        </a>
                        @if (droplinks.Any())
                        {
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var dropDown in droplinks)
                                {
                                    <li><a href="@Url.ForItem(dropDown.EntityId)">@dropDown.GetDisplayNameOrName()</a></li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}