﻿@model IEnumerable<Qic.Sc.Web.Areas.Corporate.Model.SmallHeroModel>
@foreach (var feature in Model)
{
    var backgroundImgeStyle = string.IsNullOrEmpty(feature.HeroImage.Src) ? null : "background-image: url('" + feature.HeroImage.GetMaxWidthSrc(1230) + "')";
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-featured small-hero">
            <div class="panel panel-default panel-news featured-content">
                <div class="sub-featured-image col-lg-4 col-md-4 col-sm-4 col-xs-12" style="@Html.Raw(backgroundImgeStyle)">
                </div>
                <div class="panel-body news-container">
                    <div class="item-news col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        @if (!string.IsNullOrEmpty(feature.Title))
                        {
                            <div class="lead">
                                @Html.Raw(feature.Title)
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(feature.SubTitle))
                        {
                            <h5 class="sub-headline">@feature.SubTitle</h5>
                        }
                        @if (!string.IsNullOrEmpty(feature.DateFormat) && feature.Date != DateTime.MinValue)
                        {
                            <span class="icon-calendar">@feature.Date.ToString(feature.DateFormat)</span>
                        }
                        <div>
                            @Html.Raw(feature.Content)
                        </div>
                        @if (!string.IsNullOrEmpty(feature.Link))
                        {
                            <a class="btn-default" href="@feature.Link">Discover</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}