﻿@using Qic.Sc.Entities.UserDefined.Components.Site.Configuration.MenuItem
@model Qic.Sc.Web.Areas.Corporate.Model.NavigationModel

@{
    var array = Model.Menu.Take(3).ToArray();
}

@foreach (IMenuItem item in array)
{
    <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 no-margin">
        <h3><a href="@Url.ContentLink(item.Link, Model.ContextSite)">@item.GetTitleOrName()</a></h3>
        <ul class="list-unstyled list-group">
            @foreach (var subitem in item.SubItems)
            {
                <li><a href="@Url.ContentLink(subitem.Link, Model.ContextSite)">@subitem.GetTitleOrName()</a></li>
            }
            @if (array[0] == item)
            {
                @* TODO Turn on LinkedIn Follow button after it works normally on LinkedIn side *@
                @* <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>*@
                @* <script type="IN/FollowCompany" data-id="16671" data-counter="right"></script>–>*@
            }
        </ul>
    </div>
}
