﻿@using Qic.Sc.Entities.UserDefined.Components.Site.Configuration.MenuItem
@model Qic.Sc.Web.Areas.Corporate.Model.NavigationModel

@if (Model != null)
{
    <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 no-margin">
        <h3>Corporate Governance</h3>
        @if (Model.Menu != null && Model.Menu.Any())
        {
            <ul class="list-unstyled list-group">
                @foreach (var subitem in Model.Menu)
                {
                    <li><a href="@Url.ContentLink(subitem.Link, Model.ContextSite)">@subitem.GetTitleOrName()</a></li>
                }
            </ul>
        }
    </div>
}
