﻿@model Qic.Sc.Web.Areas.Corporate.Model.TopNavModel

@if (Model != null && Model.Menu.Any())
{
    <li class="list-group-item main-list-item">
        <ul class="list-unstyled list-group">
            @foreach (var item in Model.Menu)
            {
                if (item.EntityId == Constants.Content.Corporate.Configuration.Navigation.TopMenu.PortalLogin.ItemID.Guid && !string.IsNullOrEmpty(Model.UserFirstName))
                {
                    <li class="list-group-item mobile-links">
                        <a href="@Url.ContentLink(@item.Link)">@Model.UserFirstName</a>
                    </li>
                }
                else
                {
                    <li class="list-group-item mobile-links"><a href="@Url.ContentLink(@item.Link, Model.ContextSite)">@item.GetDisplayNameOrName()</a></li>
                }
            }
            @* TODO Turn on LinkedIn Follow button after it works normally on LinkedIn side *@
            @* <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>*@
            @* <script type="IN/FollowCompany" data-id="16671"></script>–>*@
        </ul>
    </li>
}
