﻿@model IEnumerable<Qic.Sc.Entities.UserDefined.Components.Site.Configuration.MenuItem.IMenuItem>

@{
    var emailBody = String.Format("Visit QIC.com%0D%0A%0D%0Ahttp://www.qic.com");
    var emailSubject = String.Format("Visit QIC.com");
    var emailShare = String.Format("mailto:?subject={0}&body={1}", emailSubject, emailBody);
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<style>
    .fixed-icon {
        font-size: 1.2em;
    }
</style>

<div id="fixed-nav" class="hidden-xs hidden-sm hidden-md">
    <ul>
        <li>
            <span class="fixed-description" style="display: none;">Back to top</span><span class="icon-top fixed-icon"></span>
        </li>
        @if (Model != null && Model.Any())
        {
            foreach (var sideMenu in Model)
            {
                var icon = sideMenu.EntityId == Constants.Content.Corporate.Configuration.Navigation.SideMenu.Contact.ItemID.Guid ? "fa fa-commenting-o" : sideMenu.EntityId == Constants.Content.Corporate.Configuration.Navigation.SideMenu.Phone.ItemID.Guid ? "fa fa-phone" : null;
                var attributeHref = sideMenu.EntityId == Constants.Content.Corporate.Configuration.Navigation.SideMenu.Phone.ItemID.Guid && !string.IsNullOrEmpty(sideMenu.Title) ? string.Format("{0}{1}", "tel:", sideMenu.Title) : Url.ContentLink(sideMenu.Link);
                if (!string.IsNullOrEmpty(icon) && sideMenu.Link != null)
                {
                    var displayText = sideMenu.EntityId == Constants.Content.Corporate.Configuration.Navigation.SideMenu.Phone.ItemID.Guid ? sideMenu.Title : sideMenu.GetDisplayNameOrName();
                    <li>
                        <a href="@attributeHref"><span class="fixed-description" style="display: none;">@displayText</span><span class="@icon fixed-icon"></span></a>
                    </li>
                }
            }
        }
        <li>
            <a href="https://www.linkedin.com/company/qic" target="_blank"><span class="fixed-description" style="display: none;">Follow us</span><span class="fa fa-3 fa-linkedin-square fixed-icon"></span></a>
        </li>
        <li>
            <a href="@emailShare" target="_blank"><span class="fixed-description" style="display: none;">Share</span><span class="fa fa-envelope-o fixed-icon"></span></a>
        </li>
    </ul>
</div>
