﻿@using Links
@using Qic.Sc.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/99a43e8f-c5e8-45fa-9d11-fcac56f301cd.css" />
    <link rel="icon" href="@Url.Content(Links.Content.common.favicon_QIC_png)">
    @Html.Sitecore().Placeholder("head")
    @Styles.Render(Bundles.Styles.Corporate)
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-25756108-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>
<body>

    <header>
        @Html.Sitecore().RenderingEx(
            Constants.Layout.Renderings.Corporate.NavigationTopMenu.ID,
            new { DataSource = Constants.Content.Corporate.Configuration.Navigation.TopMenu.ID })
        @Html.Sitecore().RenderingEx(
            Constants.Layout.Renderings.Corporate.NavigationMegaMenu.ID,
            new { DataSource = Constants.Content.Corporate.Configuration.Navigation.MegaMenu.ID })
    </header>

    @RenderBody()

    @Html.Sitecore().RenderingEx(
            Constants.Layout.Renderings.Corporate.NavigationSideMenu.ID,
            new { DataSource = Constants.Content.Corporate.Configuration.Navigation.SideMenu.ID })
    <footer>
        <div class="text-box">
            <div class="container">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 no-margin">
                    <p>CAN'T FIND WHAT YOU NEED? <span class="red-highlight">GET IN CONTACT.</span></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-margin">
                    <a class="btn-default" href="@Url.ForItem(Constants.Content.Corporate.Home.ContactUs.ItemID.Guid)">Get in touch</a>
                </div>
            </div>
        </div>
        <div id="home-footer">
            <div class="container">
                <div class="col-lg-12 no-margin home-anchor">
                    <a href="@Url.ForItem(Constants.Content.Corporate.Home.ItemID.Guid, Constants.CorporateSiteName)">Back to QIC.com</a>
                </div>
            </div>
        </div>
        <div id="footer-links">
            <div class="container">
                @Html.Sitecore().RenderingEx(
                    Constants.Layout.Renderings.Corporate.NavigationFooter.ID,
                    new { DataSource = Constants.Content.Corporate.Configuration.Navigation.MegaMenu.ID })
                @Html.Sitecore().RenderingEx(
                    Constants.Layout.Renderings.Corporate.NavigationLocations.ID,
                    new { DataSource = Constants.Content.Corporate.Configuration.Navigation.Locations.ID })
            </div>
        </div>
        <div id="disclaimer-links">
            <div class="container">
                @Html.Sitecore().RenderingEx(
                    Constants.Layout.Renderings.Corporate.NavigationLegal.ID,
                    new { DataSource = Constants.Content.Corporate.Configuration.Navigation.Legal.ID })
            </div>
        </div>
    </footer>

    @Html.Sitecore().RenderingEx(
                Constants.Layout.Renderings.Corporate.ContentDisclaimer.ID,
                     new { DataSource = Constants.Content.Corporate.Configuration.Disclaimer.ID })

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    @Scripts.Render(Bundles.Scripts.Corporate)
    @Html.RenderPageScript()
</body>
</html>
