﻿@{
    Layout = MVC.Corporate.Shared.Views._Layout;
}

<div class="container">
    @Html.Sitecore().Placeholder("top")
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            @Html.Sitecore().Placeholder("master")
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            @Html.Sitecore().Placeholder("aside")
        </div>
    </div>
</div>
