﻿@model Qic.Sc.Web.Areas.Portal.Models.ContentModels
<div class="panel panel-default" id="no-bg-panel">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class="glyphicon glyphicon-info-sign panel-title" aria-hidden="true"></span> @(string.IsNullOrEmpty(Model.Title)? Model.PageMetadata.GetDisplayNameOrName() : Model.Title)
    </div>
    <div class="panel-body">
      @Html.Raw(Model.PageMetadata.Content)
    </div>
</div>
