﻿@using Qic.Sc.Entities.UserDefined.Components.Pages.Pagecontent;
@model IPageContent

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 no-margin">
    <div class="form-container">
        @Html.Raw(Model.Content)
    </div>
</div>
