﻿@model Qic.Sc.Web.Areas.Corporate.Model.SearchModel

@if (Model != null)
{
    <div class="form-container search-container">
        <h1 class="headline"><span class="red-highlight">@Model.ResultsCount</span> Results</h1>
        <p>You have searched for <span class="red-highlight">@Model.SearchQuery</span></p>
        @if (Model.PageCount > 1)
        {
            <div class="pager-arrows" style="float: right;">
                @if (Model.Previous != null)
                {
                    <a id="search-list-prev" href="@Model.Previous"><span class="glyphicon glyphicon-chevron-left"></span></a>
                }
                <span id="pageCount">Page @Model.Page</span>
                @if (Model.Next != null)
                {
                    <a id="search-list-next" href="@Model.Next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                }
            </div>
        }
        @if (Model.SearchResults != null)
        {
            <ul class="search-results">
                @foreach (var result in Model.SearchResults)
                {
                    <li>
                        <h1><a href="@Url.ForItem(@result.EntityId)">@result.Title</a></h1>
                        @if (result.PublicationDate != DateTime.MinValue)
                        {
                            <span class="icon-calendar">@result.PublicationDate.ToString(Constants.DateFormat)</span>
                        }
                        @Html.Raw(result.PullQuote)
                    </li>
                }
            </ul>
        }

        @if (Model.PageCount > 1)
        {
            <div class="pager-arrows">
                @if (Model.Previous != null)
                {
                    <a id="search-list-prev" href="@Model.Previous"><span class="glyphicon glyphicon-chevron-left"></span></a>
                }
                <span id="pageCount">Page @Model.Page</span>
                @if (Model.Next != null)
                {
                    <a id="search-list-next" href="@Model.Next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                }
            </div>
        }
    </div>
}