﻿@using Links
@using Qic.Sc.Entities.UserDefined.Components.Site.Configuration.MenuItem
@using Qic.Sc.Web
@model Qic.Sc.Web.Areas.Corporate.Model.NavigationModel

@if (Model != null)
{
    <div class="no-margin home-anchor">
        <ul>
            <li id="logo-li"><a href="@Url.ForItem(Constants.Content.Corporate.Home.ItemID.Guid, Model.ContextSite)"><img src="@Url.Content(Content.portal.images.QIC_logo_footer_png)" alt="qic logo" /></a></li>
            @if (Model.Menu != null && Model.Menu.Any())
            {
                foreach (var item in Model.Menu)
                {
                    <li><a href="@Url.ContentLink(item.Link, Model.ContextSite)">@item.GetTitleOrName()</a></li>
                }
            }
        </ul>
        <div class="hidden-xs hidden-sm"><span class="copy-right">QIC @DateTime.Now.Year</span></div>
    </div>
}
