/* Blog.QIC */

/* Desktop */
#Blog h1 {
	font-size: 41pt;
	color: #000000;
}

#Blog h2 {
	color: #ec2e21;
	font-size: 32pt;
	margin: 40px 0;
    text-transform: none;
}

#Blog h3 {
	color: #202020;
	font-size: 24pt;
	margin: 0;
	padding-bottom: 15px;
}

#Blog header {
	background: #c12d1e url('../imgs/blog-header.jpg') center center no-repeat;
	display: inline-block;
	margin-bottom: 0px;
}

#Blog a {
    color: #ec2e21;
}

#Blog #white-top,
#Blog #red-header,
#Blog #red-footer,
#Blog .main-logo {
	background: transparent;
}

	#Blog #red-header,
	#Blog #red-footer {
		height: 195px;
	}

	#Blog hr {
		margin: -20px 0 19px -16px;
	}

	#Blog #white-top {
		float: right;
		min-width: 550px;
		margin-bottom: 65px;

	}

	#Blog #white-top a {
		color: #ffffff !important;
	}

#Blog #red-header .main-logo img {
	height: auto;
}

#Blog #red-header #mega-nav {
	background: #202020;
}

#Blog #red-footer #mega-nav {
	background: #ec2e21;
}

#Blog #red-header #mega-nav #mega-nav-menu {
	margin: 10px 0 0 0;
	padding: 0px;
}

#Blog #red-header #mega-nav #mega-nav-menu li a {
	border: none;
	line-height: 55px;
}

#Blog li.search-li {
	background: #ffffff;
	height: 90px !important;
}

#Blog li.search-li span {
	color: red;
	float: none !important;
	top: 0px !important;
}

/*#Blog pre {
    white-space: pre-wrap;
}*/


.featured-post,
.author-hero {
	height: 450px;
    position: relative;
    margin: 20px 0 50px;
    border-radius: 5px;
    padding: 0;
    max-width: 1260px;
    overflow: hidden;
}

	.featured-post .text-box,
	.author-hero .text-box {
	    position: absolute;
	    padding: 35px;
	    top: 0;
	    overflow: hidden;
    	background: transparent;
	}

	.featured-post .text-box h1,
	.author-hero .text-box h1 {
		text-transform: uppercase;
		font-size: 34pt;
		float: left;
    	clear: right;
	}

	.featured-post .text-box h1{
		color: #ec2e21;
		background: #ffffff;
		padding: 20px 50px 0px 20px;
	}
	.author-hero .text-box h1 {
		color: #ffffff !important;
		background: #ec2e21;
		padding: 20px 50px 20px 20px;
	}

	.featured-post .text-box p.description,
	.author-hero .text-box p.description {
		color: #4c4d4f;
		font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
		font-size: 19pt;
		line-height: 20pt;
		padding: 20px 25px;
		width: 650px;
		float: left;
    	clear: both;
    	text-transform: none;
    	margin-top: -15px;
    }

    .featured-post .text-box p.description{
		background: #ffffff;
    }

    .featured-post .author {
		clear: both;
		background: #ec2e21;
		color: #ffffff;
		float: left;
		min-width: 250px;
		text-transform: none;
	}

        .featured-post .author img {
            padding: 5px;
            height: 50px;
            width: 50px;
            margin: 10px 0 10px 5px;
        }

	.featured-post .author p.name {
		color: #ffffff;
	}

	.author-hero .author {
		position: relative;
	}

/* Font Awesome Fixes */

.fa {
	color: red;
	margin-left: 10px;
}

.fa-4 {
    font-size: 3em !important;
}

.fa-linkedin-square {
	color: #1583BB;
}

.fa-twitter-square {
	color: #1DA1F2;
}

/* End Font Awesome Fixes */

.author {
	background: #ffffff;
	color: #4c4d4f;
	display: flex;
	float: none;
}

.author img {
	height: 50px;
	width: 50px;
	float: left;
    margin: 10px 10px 0 0;
}

.author p.name {
	font-size: 13pt;
    clear: both;
    margin: 25px 0px 0px 0px;
	text-transform: none;
    color: #ec2e21;
	line-height: 15pt;
	margin-top: 15px
}

.author p.date,
.author p.position {
	font-size: 8pt;
    line-height: 8pt !important;
	text-transform: none;
}

hr.author {
	border: solid 4px #ec2e21;
	width: 200px;
	margin: 0 0 30px !important;
}

hr.header {
	border: solid 4px #ec2e21;
	width: 200px;
	margin: 0px !important;
}

.article {
	background: #ffffff;
	margin-bottom: 30px;
}

    .article a:hover {
        text-decoration: none;
    }

    .article p.description {
    	font-size: 16pt;
    	padding: 15px 0px;
    	line-height: 18pt;
    	background: #ffffff;
    }

    .article hr {
		border: solid 3px #ec2e21;
		width: 95%;
		margin: 15px auto 0px !important;    	
    }

	.article .author {
		display: inline-block;
	}

#Blog footer {
	background: #ffffff url('../imgs/blog-footer.jpg') top center no-repeat;
	border-bottom: solid 15px #202020;
	margin-top: 50px;
}

@media (max-width: 1024px) {
	.main-logo {
		padding: 5px !important;
		margin: 0px;
	}

	#Blog #red-header {
		height: 70px;
	}

	.featured-post .text-box h1 {
	    font-size: 23pt;
	    padding: 0px;
    }

    .featured-post .text-box > a p.description,
    .author-hero .text-box > a p.description {
    	padding: 0px;
    	margin: 0 0 30px 0;
    	width: auto;
    	font-size: 14pt;
    	line-height: 16pt
    }

	.featured-post,
	.author-hero {
		overflow: auto;
		height: auto;
		background: #ffffff;
	}

	.featured-post a > img {
		height: 125px;
	}

	.featured-post .text-box {
	    position: relative;
	    padding: 10px;
	}

	.author-hero .text-box {
		position: absolute;
		top: 250px;
	}

	.author-hero .text-box h1 {
	    font-size: 23pt;
	    padding: 10px;
    }

    .author-hero .author {
	    float: none !important;
	    position: relative !important;
	    top: 0px;
	    left: 35px;
	    text-align: left !important;
	    background: transparent;
	    display: block;
	    margin: 10px 0;
    }

    .author-hero .author p {
		font-size: 15pt !important;
	}

	.author-hero .author p.position {
		font-size: 11pt !important;
	}
}


/* Article page */

body.article-page {
	background: #ffffff;
}

p {
	font-size: 16pt;
	line-height: 18pt !important;
}

.categories-bar {
	height: 75px;
	background: #ffffff;
	margin-top: -5px;
}

	.categories-bar i {
		padding-top: 5px;
	}

.category-title {
	text-transform: uppercase;
	color: #ec2e21;
	padding-top: 21px;
}

    .category-title a {
        color: #ec2e21;
    }

    .category-title a:hover {
        text-decoration: none;
    }

	.category-title p {
		float: right;
		margin-left: 10px;
		font-size: 16pt;
	}

	.category-title small {
		text-transform: none;
		color: #4c4d4f;
		font-size: 11pt;
		font-style: italic;
	}

    .article h3 {
        /*color: #ec2e21 !important;*/
        text-transform: uppercase;
    }

.article-hero {
	height: 350px;
    position: relative;
    /* margin: 20px 0 50px;
    border-radius: 5px; */
    padding: 0;
    max-width: 1260px;
    overflow: hidden;
}

	.article-hero h1 {
		color: #ec2e21;
		background: #ffffff;
		text-transform: uppercase;
		font-size: 34pt;
		padding: 20px 50px 20px 0px;
		float: left;
    	clear: right;
    	position: absolute;
    	margin: 0px;
    	bottom: 0px;
        max-width: 900px;
	}

	.description {
		color: #4c4d4f !important;
		font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
		font-size: 21pt;
		line-height: 22pt;
		padding: 20px 0px;
		float: left;
    	clear: both;
    	text-transform: none;
    	/* margin: 0 0 20px 0; */
    }

    .share {
    	padding: 20px 50px;
    }

.author-hero .author {
	float: right;
	position: absolute;
	bottom: 20px;
	right: 340px;
    text-align: right;
    background: transparent;
    display: block;
}

	.author-hero .author p {
		font-size: 20pt;
		color: #4c4d4f;
		line-height: normal;
		margin: 0px;
	}

	.author-hero .author p.position {
		font-size: 14pt;
	}

    .bio {
    	margin-bottom: 50px;
    }

/*Fix for search */
body header #red-header #mega-nav #mega-nav-menu .closer {
    background: #202020;
}

body header #mega-nav-search input {
    padding: 5px 17px 5px 15px;
}


/*Follow on LinkedIn*/
.linkedin {
    width: 30px;
    height: 30px;
    background: url('../imgs/linkedinlogo.png');
    display: block;
    float: right;
    top: 10px;
    position: relative;
    right: 20px;
}

.textbox p {
    height: auto;
}

/*.red-highlight {
	background: #ffe3b1;
	color: #4c4d4f !important;
	border-radius: 10px;
	display: block;
    padding: 15px;
    margin: 10px; 
    font-size: 16pt;
	line-height: 18pt !important;
}*/

#Blog pre {
	background: #ffe3b1;
	color: #4c4d4f !important;
	border-radius: 10px;
	display: block;
    padding: 15px;
    margin: 10px; 
    font-size: 16pt;
	line-height: 18pt !important;
    white-space: pre-wrap;
    word-break: normal;
    font-family: 'Calibri W01 Light',Calibri,Arial,sans-serif;
    border: none;
}