﻿@model Qic.Sc.Web.Areas.Corporate.Model.NavigationModel

@if (Model != null && Model.Menu.Any())
{
    <li class="list-group-item main-list-item">
        <ul class="list-unstyled list-group">
            @foreach (var item in Model.Menu)
            {
                <li class="list-group-item mobile-links"><a href="@Url.ContentLink(@item.Link, Model.ContextSite)">@item.GetDisplayNameOrName()</a></li>
            }
        </ul>
    </li>
}
