﻿@using Links
@using Qic.Sc.Entities.UserDefined.Components.Site.Configuration.MenuItem
@model Qic.Sc.Web.Areas.Corporate.Model.NavigationModel

<div id="red-header">
    <div class="container">
        <div class="col-lg-2 col-md-3 col-sm-12 main-logo">
            <a href="@Url.ForItem(Constants.Content.Corporate.Home.ItemID.Guid, Constants.CorporateSiteName)"><img src="@Url.Content(Links.Content.portal.images.QIC_logo_png)" alt="qic logo"></a>
            <span id="mobile-menu-icon" class="hidden-md hidden-lg glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div id="mega-nav" class="col-lg-10 col-md-9 text-right pull-right hidden-sm hidden-xs">
            <ul id="mega-nav-menu">
                @foreach (var menu in Model.Menu.Take(3))
                {
                    <li class="mega-nav-menu-item has-details col-lg-3 col-md-3 col-sm-3" id="mega-@menu.GetItemNameAsId()"><a href="@Url.ContentLink(menu.Link, Model.ContextSite)">@menu.GetTitleOrName()</a></li>
                }
                <li class="mega-nav-menu-item search-li opener col-lg-3 col-md-3 col-sm-3"><a>Search<span class="glyphicon glyphicon-search"></span></a></li>
                <li class="mega-nav-menu-item search-li closer col-lg-3 col-md-3 col-sm-3"><a><span class="glyphicon icon-up closer-trigger"></span></a></li>
            </ul>
        </div>
    </div>
</div>
@foreach (var menu in Model.Menu.Take(3))
{
    <div class="mega-nav-submenu hidden-sm hidden-xs" id="mega-@menu.GetItemNameAsId()-details">
        <div class="container">
            @foreach (var subitem in menu.SubItems)
            {
                <ul class="col-lg-3 col-md-3 col-sm-3">
                    <li class="mega-nav-submenu-title"><a href="@Url.ContentLink(subitem.Link, Model.ContextSite)">@subitem.GetTitleOrName()</a></li>
                    @foreach (var subsubitem in subitem.SubItems)
                    {
                        <li class="mega-nav-submenu-item"><a href="@Url.ContentLink(subsubitem.Link, Model.ContextSite)">@subsubitem.GetTitleOrName() </a></li>
                    }

                </ul>
            }
        </div>
    </div>
}
@* Removing Search Functionality *@
@*<div class="hidden-sm hidden-xs" id="mega-nav-search">
    <div class="container">
        <span class="glyphicon glyphicon-search"></span>
        <form id="searchForm" action="@Url.ForItem(Constants.Content.Corporate.Home.Search.ItemID.Guid)">
            <input name="searchQuery" type="text" placeholder="SEARCH..." autocomplete="off" />
            <a id="mega-nav-trigger" class="btn-default">Search site</a>
        </form>
    </div>
</div>*@
<div class="container " id="mobile-content-menu">
    <ul class="list-unstyled list-group" id="main-list-menu">

        @foreach (var menu in Model.Menu.Take(3))
        {
            <li class="list-group-item main-list-item">

                <h4><a class="collapsable-trigger"></a></h4>
                <a href="@Url.ContentLink(menu.Link, Model.ContextSite)">@menu.GetTitleOrName()</a>

                @foreach (var subitem in menu.SubItems)
                {
                    <ul class="list-unstyled list-group secondary-list">

                        <li class="list-group-item sub-menu-item-title">
                            <a href="@Url.ContentLink(subitem.Link, Model.ContextSite)">@subitem.GetTitleOrName()</a>
                        </li>

                        @foreach (var subsubitem in subitem.SubItems)
                        {
                            <li class="list-group-item">
                                <a href="@Url.ContentLink(subsubitem.Link, Model.ContextSite)">@subsubitem.GetTitleOrName()</a>
                            </li>
                        }

                    </ul>
                }
            </li>
        }
        @* Removing Search Functionality *@
        @*<li class="list-group-item main-list-item">
            <form id="searchForm" action="@Url.ForItem(Constants.Content.Corporate.Home.Search.ItemID.Guid)">
                <input type="text" name="searchQuery" autocomplete="off" id="input-search" class="form-control" placeholder="SEARCH" aria-label="...">
                <span class="icon-search"></span>
            </form>
        </li>*@
        @Html.Sitecore().RenderingEx(
            Constants.Layout.Renderings.Portal.NavigationMegaTopMenu.ID,
            new { DataSource = Constants.Content.Corporate.Configuration.Navigation.TopMenu.ID })
    </ul>
</div>
@* Removing Search Functionality *@
@*@Html.RegisterPageScript(
    @<script>
        $(document).ready(function () {
            $("#mega-nav-trigger").click(function () {
                $("#searchForm").eq(0).submit();
            });

            $("#searchForm input").keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    $(this).closest("#searchForm").submit();
                }
            });
        });
    </script>)*@
