﻿@model Qic.Sc.Web.Areas.Corporate.Model.NavigationModel

@if (Model != null && Model.Menu.Any())
{
    <div class="container" id="headerTop">
        <div class="row">
            <div class="col-lg-9 col-md-8  text-right loginSec pull-right hidden-sm hidden-xs">
                @foreach (var item in Model.Menu)
                {
                    if (item.EntityId == Constants.Content.Corporate.Configuration.Navigation.TopMenu.QIC.ItemID.Guid)
                    {
                        <span><a href="@Url.ContentLink(@item.Link, Model.ContextSite)">QIC.com</a></span>
                    }
                    else
                    {
                        <span><a href="@Url.ContentLink(@item.Link, Model.ContextSite)">@item.GetDisplayNameOrName()</a></span>
                    }
                    
                    
                }
            </div>
        </div>
    </div>
}