body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Less [31mNameError: variable @red is undefined[39m[31m in [39mC:\\Users\\julio.a.huerta.canez\\Documents\\Code\\QIC Portal_021515\\QIC Portal\\public\\less\\modules\\aside.less[90m on line 12, column 12:[39m \A [90m11 			 .list-group-item{[39m \A 12 			 	color:[7m[31m[1m@[22mred;[39m[27m \A [90m13 			 	padding-left: 0px !important;[39m[0m[0m \A  \A '; }

  body * {
  	display: none;
  }
