﻿@using Links
@using Qic.Sc.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/99a43e8f-c5e8-45fa-9d11-fcac56f301cd.css" />
    <link rel="icon" href="@Url.Content(Content.common.favicon_QIC_png)">
    @Html.Sitecore().Placeholder("head")
    @Styles.Render(Bundles.Styles.Portal)
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var qic = qic || {};
        qic.searchTerm = null;
    </script>
</head>
<body class="PortalClient @ViewBag.BodyClasses">
    @Html.Sitecore().RenderingEx(Constants.Layout.Renderings.Portal.NavigationTopMenu.ID, new { DataSource = Constants.Content.Corporate.Configuration.Navigation.TopMenu.ID, contextSite = Constants.CorporateSiteName })
    <header>
        <div id="red-header">
            <div class="container">
                @Html.Sitecore().RenderingEx(Constants.Layout.Renderings.Portal.AccountControl.ID)
                <div class="row">
                    <span id="menu-mobile" class="glyphicon glyphicon-menu-hamburger pull-right" style="visibility: hidden"></span>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div id="home-footer">
            <div class="container">
                <div class="col-lg-12 no-margin home-anchor">
                    <a href="@Url.ForItem(Constants.Content.Corporate.Home.ItemID.Guid, Constants.CorporateSiteName)">Back to QIC.com</a>
                </div>
            </div>
        </div>
        <div id="footer-links">
            <div class="container">
                @Html.Sitecore().RenderingEx(Constants.Layout.Renderings.Corporate.NavigationFooter.ID, new { DataSource = Constants.Content.Corporate.Configuration.Navigation.MegaMenu.ID, contextSite = Constants.CorporateSiteName })
                @Html.Sitecore().RenderingEx(Constants.Layout.Renderings.Corporate.NavigationLocations.ID, new { DataSource = Constants.Content.Corporate.Configuration.Navigation.Locations.ID, contextSite = Constants.CorporateSiteName })
            </div>
        </div>
        <div id="disclaimer-links">
            <div class="container">
                @Html.Sitecore().RenderingEx(Constants.Layout.Renderings.Corporate.NavigationLegal.ID, new { DataSource = Constants.Content.Corporate.Configuration.Navigation.Legal.ID, contextSite = Constants.CorporateSiteName })
            </div>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    @Scripts.Render(Bundles.Scripts.Portal)

    <script>
        var windowLocationDownload = window.location;
        //Creates an observable array with observable items
        function toOBArrayWithOBItems(dataDocuments) {
            var obArray = ko.observableArray();

            for (var i = 0; i < dataDocuments.length; i++) {
                var obDocument = {
                    FileName: ko.observable(
                        dataDocuments[i].FileName),
                    TitleFileName: ko.observable(dataDocuments[i].FileName),
                    IsFavourite: ko.observable(dataDocuments[i].IsFavourite),
                    IsVisible: ko.observable(dataDocuments[i].IsVisible),
                    Name: ko.observable(
                        dataDocuments[i].Name),
                    TitleName: ko.observable(dataDocuments[i].Name),
                    PublishedDate: ko.observable(dataDocuments[i].PublishedDate),
                    ReportDate: ko.observable(dataDocuments[i].ReportDate),
                    ReportName: ko.observable(
                        dataDocuments[i].ReportName),
                    TitleReportName: ko.observable(dataDocuments[i].ReportName),
                    DocumentType: ko.observable(dataDocuments[i].DocumentType),
                    RelativeUrl: ko.observable(dataDocuments[i].RelativeUrl),
                    IsNew: ko.observable(dataDocuments[i].IsNew),
                    ReportId: ko.observable(dataDocuments[i].ReportId),
                    reportSelected: ko.observable(false),
                }

                obArray.push(obDocument);
            }
            return obArray;
        }

        function toObFilterArray(dataFilters) {
            if (dataFilters != undefined) {
                var obArray = ko.observableArray();
                for (var i = 0; i < dataFilters.length; i++) {
                    var obDocument = {
                        Id: ko.observable(dataFilters[i].Id),
                        Name: ko.observable(dataFilters[i].Name),
                    }

                    obArray.push(obDocument);
                }
                return obArray;
            }
            return ko.observableArray();
        }

        function updateNoResultRow(data) {
            if (data.Documents == undefined ||
                data.Documents.length == 0) {
                $('.tbodydocuments').hide();
                $('.noResultsTr').removeAttr('style');
                $('.noResultsTr').show();
                $('#paging').hide();
            }
            else {
                $('.tbodydocuments').show();
                $('.noResultsTr').hide();
                $('#paging').show();
            }
        }
        function updateNoResultRowDashboard(data) {
            if ($('#newReports').length == 0) {
                //show no results
                $('#newReports .tbodydocuments').hide();
                $('#newReports .noResultsTr').removeAttr('style');
                $('#newReports .noResultsTr').show();
            }
            else {
                $('#newReports .tbodydocuments').show();
                $('#newReports .noResultsTr').hide();
            }

            if ($('#favouriteReports tbody').has('td').length == 0) {
                //show no results
                $('#favouriteReports .tbodydocuments').hide();
                $('#favouriteReports .noResultsTr').removeAttr('style');
                $('#favouriteReports .noResultsTr').show();
            }
            else {
                $('#favouriteReports .tbodydocuments').show();
                $('#favouriteReports .noResultsTr').hide();
            }
        }
        qic.activeModel = {};
        qic.logOutMenuVisibility = ko.observable(false);
        // @* Build an knockout model from the model rendered from the server. For filter so we can bind to the form controls *@
        function DocumentsViewModel(data) {
            this.Documents = toOBArrayWithOBItems(data.Documents);
            this.selectAllCheckBox = ko.observable(false);
            this.selectedReportsUrls = ko.observableArray();
            this.panelVisibility = ko.observable(false);

            if (data.vmType != undefined) {
                this.vmType = data.vmType;
            }

            // Check all documents in the table.
            this.changeAllTextBoxes = function (viewModel) {
                var favCounter = 0;
                viewModel.panelVisibility(false);
                if (!viewModel.selectAllCheckBox() && viewModel.Documents().length > 0) {
                    this.selectAllCheckBox(true);

                    for (var i = 0; i < viewModel.Documents().length; i++) {
                        viewModel.Documents()[i].reportSelected(true);
                        viewModel.selectedReportsUrls.push(viewModel.Documents()[i].RelativeUrl());
                        if (viewModel.Documents()[i].IsFavourite() == true) {
                            favCounter++;
                        }
                    }
                    viewModel.panelVisibility(true);
                } else {
                    this.selectAllCheckBox(false);
                    for (var i = 0; i < viewModel.Documents().length; i++) {
                        viewModel.Documents()[i].reportSelected(false);
                        viewModel.selectedReportsUrls.pop(i);
                    }
                    viewModel.panelVisibility(false);
                }
            }

            this.changeSpecificCheckBoxes = function (viewModel) {
                for (var i = 0; i < qic.documents.Documents().length; i++) {
                    if (qic.documents.Documents()[i].reportSelected() == true) {
                        $('#tableMenu').show();
                        break;
                    }
                    $('#tableMenu').hide();
                }
            }

            this.showFunctionalityBar = function (viewModel, dataRow) {
                if (dataRow.reportSelected() == true) {
                    dataRow.reportSelected(false);
                    for (var i = 0; i < viewModel.selectedReportsUrls().length; i++) {
                        if (viewModel.selectedReportsUrls()[i] == dataRow.RelativeUrl()) {
                            viewModel.selectedReportsUrls.pop(i);
                        }
                    }
                } else {
                    dataRow.reportSelected(true);
                    viewModel.selectedReportsUrls.push(dataRow.RelativeUrl());
                }

                viewModel.panelVisibility(false);
                for (var i = 0; i < viewModel.Documents().length; i++) {
                    if (viewModel.Documents()[i].reportSelected() == true) {
                        viewModel.panelVisibility(true);
                        break;
                    } else {
                        viewModel.panelVisibility(false);
                    }
                }
            }

            this.Take = data.Take;
            this.Total = ko.observable(data.Total);
            this.Skip = ko.observable(data.Skip);
            this.CutoffDate = ko.observable(data.CutoffDate);
            this.FavouriteCount = ko.observable(data.FavouriteCount);
            this.ShowViewAll = ko.observable(false);
            this.CurrentPage = ko.observable(Math.floor(this.Skip() / this.Take));
            this.LastPage = ko.observable(Math.floor(this.Total() / this.Take) + 1);
            this.PageLabel = ko.observable(this.CurrentPage() + ' - ' + this.LastPage());
            
            this.addToFav = function (viewModel, reportItems) {
                qic.activeModel = viewModel;
                qic.updateFavourites(reportItems);
            }
            
            this.panelDownload = function (viewModel) {
                viewModel.downloadFiles(viewModel.selectedReportsUrls());
            }
            
            this.downloadFiles = function (array) {
                var iterator = function (index) {

                    console.log(array[index]);
                    setTimeout(function () {
                        if (array[index] == undefined || index > array.length) {
                            index = 0;
                            $('.noclick').remove();
                            clearTimeout();
                            window.location = windowLocationDownload;

                        } else if (array[index] != undefined) {
                            window.location = array[index] + "?download=true";
                        }

                        iterator(++index);
                    }, 3000);
                };
                $('body').append('<div class="noclick"></div>');
                iterator(0);
            }

            this.getNewPageData = function (data, pageAction) {
                switch (data) {
                    // Get Prev Page
                case 0:
                    if (this.CurrentPage() != 0) {
                        this.CurrentPage((this.CurrentPage() - 1));
                        this.Skip(this.CurrentPage() * this.Take);
                    } else {
                        this.Skip(0);
                    }
                    break;
                // Get Next Page
                case 1:
                    this.CurrentPage((this.CurrentPage() + 1));
                    this.Skip(this.CurrentPage() * this.Take);
                    break;
                default:
                }
                $('#paging').hide();
                qic.getDocuments();              
                qic.documents.selectedReportsUrls = ko.observableArray();
                this.selectAllCheckBox(false);
                $('#tableMenu').hide();
            }

            this.panelPreview = function (viewModel) {
                for (var i = 0; i < viewModel.selectedReportsUrls().length; i++) {
                    var win = window.open(viewModel.selectedReportsUrls()[i], '_blank');
                    if (win) {
                        //Browser has allowed it to be opened
                        win.focus();
                    } else {
                        //Broswer has blocked it
                        alert('Please allow popups for this site');
                    }
                }
            }

            this.panelFavourites = function (viewModel) {
                var tempObArr = new Array();

                //find rows unfavourite. build helper array and push to update AJAX
                for (var i = 0; i < viewModel.Documents().length; i++) {
                    //report selected but not favourite yet.
                    if (viewModel.Documents()[i].reportSelected()) {
                        tempObArr.push(viewModel.Documents()[i]);
                    }
                }

                // Incase all rows are favourite - unfavour all.
                if (tempObArr.length == 0) {
                    tempObArr = ko.toJS(viewModel.Documents());
                }

                qic.activeModel = viewModel;
                qic.updateFavourites(tempObArr);
            }

            this.getAllDashboardDocuments = function (data) {
                qic.getDashboarDocuments(data.vmType, 20);
            }
        };

        // Document filter View Model.
        function documentFilterViewModel(data) {
            this.AccountCodes = ko.observableArray();
            this.Accounts = toObFilterArray(data.Filter.Accounts);
            this.AllAccounts = toObFilterArray(data.Filter.Accounts);
            this.SelectedAccount = ko.observable();

            this.HoldingAccountCodes = ko.observableArray();
            this.HoldingAccounts = toObFilterArray(data.Filter.HoldingAccounts);
            this.AllHoldingAccounts = toObFilterArray(data.Filter.HoldingAccounts);
            this.SelectedHoldingAccount = ko.observable();

            this.ProductCodes = ko.observableArray();
            this.Products = toObFilterArray(data.Filter.Products);
            this.AllProducts = toObFilterArray(data.Filter.Products);
            this.SelectedProduct = ko.observable();

            this.ReportCodes = ko.observableArray();
            this.Reports = toObFilterArray(data.Filter.Reports);
            this.AllReports = toObFilterArray(data.Filter.Reports);
            this.SelectedReport = ko.observable();

            this.ReportDateFrom = ko.observable();
            this.ReportDateTo = ko.observable();
            this.PublishedDateFrom = ko.observable();
            this.PublishedDateTo = ko.observable();
            this.IsFilterActive = ko.observable();

            this.lastDropDownChange = "";

            this.resetFilterSelect = function () {
                qic.documentsFilterVM.Accounts(qic.documentsFilterVM.AllAccounts());
                qic.documentsFilterVM.HoldingAccounts(qic.documentsFilterVM.AllHoldingAccounts());
                qic.documentsFilterVM.Products(qic.documentsFilterVM.AllProducts());
                qic.documentsFilterVM.Reports(qic.documentsFilterVM.AllReports());
                qic.documentsFilterVM.ReportDateFrom("");
                qic.documentsFilterVM.ReportDateTo("");
                qic.documentsFilterVM.PublishedDateFrom("");
                qic.documentsFilterVM.PublishedDateTo("");

                clearFilterDates();

                $('#clientSelect').val($("#clientSelectoption:first").val());
                $('#holdingSelect').val($("#holdingSelectoption:first").val());
                $('#productSelect').val($("#productSelectoption:first").val());
                $('#reportSelect').val($("#reportSelectoption:first").val());
                $('#accountHoldingSelect').show();

                qic.documentsFilterVM.SelectedAccount("");
                qic.documentsFilterVM.SelectedHoldingAccount("");
                qic.documentsFilterVM.SelectedProduct("");
                qic.documentsFilterVM.SelectedReport("");
                qic.documentsFilterVM.IsFilterActive(false);
                $('#filter-ok-btn').click();
            }

            this.UpdateSelectCriteria = function (option, selectType) {
                this.lastDropDownChange = selectType;

                if (!(option.SelectedAccount() == undefined &&
                    option.SelectedHoldingAccount() == undefined &&
                    option.SelectedProduct() == undefined &&
                    option.SelectedReport() == undefined)) {

                    var model = {
                        AccountFilterId: option.SelectedAccount(),
                        AccountHoldingFilterId: option.SelectedHoldingAccount(),
                        ProductFilterId: option.SelectedProduct(),
                        ReportId: option.SelectedReport(),
                        ReportGroup: qic.data.ReportGroup,
                    }

                    $.ajax('/portal/library/updateFiltercriteria/', {
                        type: 'POST',
                        data: JSON.stringify(model),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {

                            if (qic.documentsFilterVM.lastDropDownChange != "client") {
                                qic.documentsFilterVM.Accounts(data.Accounts);
                            } else if (data.HoldingAccounts.length == 0 &&
                                $('#clientSelect option:selected').text() != '-- Choose Client --') {
                                $('#accountHoldingSelect').hide();
                            } else {
                                $('#accountHoldingSelect').show();
                            }
                            if (qic.documentsFilterVM.lastDropDownChange != "holdingAccount") {
                                qic.documentsFilterVM.HoldingAccounts(data.HoldingAccounts);
                            }
                            if (qic.documentsFilterVM.lastDropDownChange != "products") {
                                qic.documentsFilterVM.Products(data.Products);
                            }

                            if (qic.documentsFilterVM.lastDropDownChange != "reports") {
                                qic.documentsFilterVM.Reports(data.Reports);
                            }

                        }
                    });
                }
            }
        };

        // Menu items ViewModel
        function menuItemsViewModel() {
            this.menuItems = ['All', 'Recent', 'Favourites'];
            this.chosenMenuItemId = ko.observable('All');
            this.chosenMenuData = ko.observable();
            this.filterButtonVisiblity = ko.observable(true);

            this.goToMenuItem = function (menuItem) {
                @* Check if the selected menu item is different. Prevents not Needed Ajax Calls*@
                @* If this is navigated to by /Recent or /Favourite then change to correct menuitem names. *@
                menuItem = menuItem == 'favourite' ? "Favourites" : menuItem == 'recent' ? "Recent" : menuItem;

                if (qic.menuItemsVM.chosenMenuItemId() != menuItem) {
                    if ($(".activeMenuLink").text().trim().replace(/ /g, "-").toLowerCase() != menuItem) {
                        qic.menuItemsVM.chosenMenuItemId(menuItem);
                    }
                    if (menuItem == "Recent") {
                        $('#tableTitle').text(qic.menuItemsVM.chosenMenuItemId() + ' ' + $(".activeMenuLink").text().replace(/\w+$/, '') + ' (Within ' + qic.data.CutoffDate + ' Days)');
                    }
                    else {
                        $('#tableTitle').text(qic.menuItemsVM.chosenMenuItemId() + ' ' + $(".activeMenuLink").text().replace(/\w+$/, ''));
                    }

                    //Clean Observable Documents Array
                    qic.documents.Documents.splice(0, qic.documents.Documents().length);
                    $('#paging').hide();

                    qic.documents.Skip(0);
                    qic.documents.CurrentPage(0);                      
                    qic.documents.selectedReportsUrls = ko.observableArray();

                    qic.documentsFilterVM.SelectedAccount("");
                    qic.documentsFilterVM.SelectedHoldingAccount("");
                    qic.documentsFilterVM.SelectedProduct("");
                    qic.documentsFilterVM.SelectedReport("");
                    qic.documentsFilterVM.ReportDateFrom("");
                    qic.documentsFilterVM.ReportDateTo("");
                    qic.documentsFilterVM.PublishedDateFrom("");
                    qic.documentsFilterVM.PublishedDateTo("");
                    qic.documentsFilterVM.IsFilterActive(false);

                    qic.documents.selectAllCheckBox(false);
                    $('.body-notification').hide();
                    switch (menuItem) {
                        // VM Visability logic for new report.
                    case qic.menuItemsVM.menuItems[1]:
                        qic.menuItemsVM.filterButtonVisiblity(false);
                        $('#filter-content').hide();
                        break;
                    // VM Visability logic for Favorite report.
                    case qic.menuItemsVM.menuItems[2]:
                        qic.menuItemsVM.filterButtonVisiblity(false);
                        $('#filter-content').hide();
                        break;
                    // VM Visability logic for All reports.
                    default:
                        qic.menuItemsVM.filterButtonVisiblity(true);

                    }

                    // Get a new set of reports based on Menu selection.
                    qic.getDocuments();
                }
            }
        }

        qic.getDocuments = function () {
            //@* When user applies the filter reconstruct the server side model without documents. *@
            //@* Get updated list of documents and bind them to the view. *@
            var model = { Filter: ko.toJS(qic.documents) };
            model.Skip = model.Filter.Skip;
            model.Take = model.Filter.Take;
            model.CutoffDate = model.Filter.CutoffDate;
            model.FavouriteCount = model.Filter.FavouriteCount;
            model.ReportGroup = qic.data.ReportGroup;        
            model.Filter.ReportType = qic.menuItemsVM == null ? null : qic.menuItemsVM.chosenMenuItemId() == "Favourites" ? "Favourite" : qic.menuItemsVM.chosenMenuItemId();
            model.FilterCriteria = {};
            model.FilterCriteria.SearchTerm = qic.searchTerm;

            // Active filter flag to update filter criteria on filter
            if (qic.documentsFilterVM != undefined && qic.documentsFilterVM.IsFilterActive()) {
                model.FilterCriteria = {
                    AccountFilterId: qic.documentsFilterVM.SelectedAccount(),
                    AccountHoldingFilterId: qic.documentsFilterVM.SelectedHoldingAccount(),
                    ProductFilterId: qic.documentsFilterVM.SelectedProduct(),
                    ReportId: qic.documentsFilterVM.SelectedReport(),
                    ReportDateFrom: qic.documentsFilterVM.ReportDateFrom(),
                    ReportDateTo: qic.documentsFilterVM.ReportDateTo(),
                    PublishedDateFrom: qic.documentsFilterVM.PublishedDateFrom(),
                    PublishedDateTo: qic.documentsFilterVM.PublishedDateTo(),
                }
            }


            delete model.Filter.Skip;
            delete model.Filter.Take;
            delete model.Filter.Total;
            delete model.Filter.Page;
            delete model.Filter.ReportGroup;

            //Disable all click options till reponse from server
            $('body').append('<div class="noclick"></div>');

            $.ajax('/portal/library/documentlist/', {
                type: 'POST',
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json',
                error: function (data) {
                    $('.noclick').remove();
                },
                success: function (data) {
                    qic.documents.Total(data.Total);
                    qic.documents.Skip(data.Skip);
                    qic.documents.CurrentPage(Math.floor(data.Skip / data.Take));
                    qic.documents.LastPage(data.Total / data.Take != 1 ? Math.ceil(data.Total / data.Take) : Math.floor(data.Total / data.Take));

                    var obHelperArray = toOBArrayWithOBItems(data.Documents);
                    qic.documents.Documents.splice(0, 20);

                    if (obHelperArray().length > 0) {
                        // update document observable array with retrieved documents.
                        for (var i = 0; i < obHelperArray().length; i++) {
                            qic.documents.Documents.push(obHelperArray()[i]);
                        }
                    }

                    updateNoResultRow(data);

                    $('.noclick').remove();
                }
            });
        };

        qic.getDashboarDocuments = function (reportType, take) {
            //@* When user applies the filter reconstruct the server side model without documents. *@
            //@* Get updated list of documents and bind them to the view. *@
            var model = {};
            model.Take = take;
            model.Filter = {};
            model.Filter.ReportType = reportType;

            //Disable all click options till reponse from server
            $('body').append('<div class="noclick"></div>');

            $.ajax('/portal/library/dashboard/', {
                type: 'POST',
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json',
                error: function (data) {
                    $('.noclick').remove();
                },
                success: function (data) {

                    switch (data.Filter.ReportType) {
                    case 1:
                        qic.newDashboardDocuments.Total(data.Total);
                        qic.newDashboardDocuments.Skip(data.Skip);
                        qic.newDashboardDocuments.CurrentPage(Math.floor(data.Skip / data.Take));
                        qic.newDashboardDocuments.LastPage(Math.floor(data.Total / data.Take) + 1);

                        var obHelperArray = toOBArrayWithOBItems(data.Documents);
                        qic.newDashboardDocuments.Documents.splice(0, qic.newDashboardDocuments.Documents.length);

                        if (obHelperArray().length > 0) {
                            // update document observable array with retrieved documents.
                            for (var i = 0; i < obHelperArray().length; i++) {
                                qic.newDashboardDocuments.Documents.push(obHelperArray()[i]);
                            }
                        }
                        if (data.Total > data.Take) {
                            qic.newDashboardDocuments.ShowViewAll(true);
                            $('#newReports .dashRecentLink').show();
                        } else {
                            qic.newDashboardDocuments.ShowViewAll(false);
                        }
                        $("#recentTitleDashboard").text('RECENT (within ' + data.CutoffDate + ' Days)');

                        break;
                    case 2:
                        qic.favouriteDashboardDocuments.Total(data.Total);
                        qic.favouriteDashboardDocuments.Skip(data.Skip);
                        qic.favouriteDashboardDocuments.CurrentPage(Math.floor(data.Skip / data.Take));
                        qic.favouriteDashboardDocuments.LastPage(Math.floor(data.Total / data.Take) + 1);

                        var obHelperArray = toOBArrayWithOBItems(data.Documents);
                        qic.favouriteDashboardDocuments.Documents.splice(0, qic.favouriteDashboardDocuments.Documents.length);

                        if (obHelperArray().length > 0) {
                            // update document observable array with retrieved documents.
                            for (var i = 0; i < obHelperArray().length; i++) {
                                qic.favouriteDashboardDocuments.Documents.push(obHelperArray()[i]);
                            }
                        }

                        if (data.Total > data.Take) {
                            qic.favouriteDashboardDocuments.ShowViewAll(true);
                            $('#favouriteReports .dashFavLink').show();
                        } else {
                            qic.favouriteDashboardDocuments.ShowViewAll(false);
                        }


                        break;
                    }
                    updateNoResultRowDashboard(data);
                    $('.noclick').remove();
                    $('#paging').show();
                }
            });
        };

        qic.updateFavourites = function (reportItems) {
            var model = { Filter: ko.toJS(qic.documents) };

            model.FavouriteCount = isNaN(parseInt(qic.FavouriteCount)) ? model.Filter.FavouriteCount : parseInt(qic.FavouriteCount);

            //model.ReportGroup = model.Filter.ReportGroup;
            model.Documents = new Array();
            delete model.Filter;

            if (reportItems.length > 0) {
                for (var i = 0; i < reportItems.length; i++) {
                    model.Documents.push(ko.toJS(reportItems[i]));
                }
            } else {
                model.Documents.push(ko.toJS(reportItems));
            }

            var favouritesToAdd = 0;
            for (var i = 0; i < model.Documents.length; i++) {
                if (!model.Documents[i].IsFavourite) {
                    favouritesToAdd++;
                } else {
                    favouritesToAdd--;
                }
            }

            if ((model.FavouriteCount + favouritesToAdd) <= @Constants.NumberOfFavourites) {
                qic.activeModel.FavouriteCount(model.FavouriteCount + favouritesToAdd);
                $.ajax('/portal/library/updateFavourites/', {
                    type: 'POST',
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json',
                    error: function(data) {
                        $('.noclick').remove();
                    },
                    success: function(data) {
                        qic.activeModel.FavouriteCount(data.FavouriteCount);
                        for (var i = 0; i < qic.activeModel.Documents().length; i++) {
                            for (var j = 0; j < data.Documents.length; j++) {
                                if (qic.activeModel.Documents()[i].ReportId() == data.Documents[j].ReportId) {
                                    if (data.Documents[j].IsFavourite) {
                                        qic.activeModel.Documents()[i].IsFavourite(true);
                                    } else {
                                        qic.activeModel.Documents()[i].IsFavourite(false);
                                    }
                                }
                            }
                        }
                        updateNoResultRow(data);
                        $('.noclick').remove();
                    }
                });

                // update UI till call back returns.
                if (reportItems.length > 0) {
                    for (var i = 0; i < reportItems.length; i++) {
                        reportItems[i].IsFavourite(!reportItems[i].IsFavourite());
                    }
                } else {
                    reportItems.IsFavourite(!reportItems.IsFavourite());
                }
            } else {
                qic.ui.modal("@Constants.FavouriteLimitTitle", "@Constants.FavouriteLimitMessage");
            }
        }


        $(function () {
            // @* Apply filter *@
            $('#filter-ok-btn').click(function () {
                qic.documents.Skip(0);
                // Sets the context of get documents to support paging on filter.
                qic.documentsFilterVM.IsFilterActive(true);

                qic.getDocuments(qic.menuItemsVM.chosenMenuItemId());
            });
        });
        $(".search-li").remove();
    </script>
    @Html.RenderPageScript()
    <script>
        var displayDocBluck = false;
        var displayFavBluck = false;

        function resizeTableEvent(viewModel, count) {
            for (var i = 0; i < viewModel.Documents().length; i++) {
                if (viewModel.Documents()[i].reportSelected() == true) {
                    if (count == 0) {
                        displayDocBluck = true;
                    } else {
                        displayFavBluck = true;
                    }
                    break;
                } else {
                    if (count == 0) {
                        displayDocBluck = false;
                    } else {
                        displayFavBluck = false;
                    }
                }
            }

            if ($(window).width() > 768) {
                if (count == 0 && displayDocBluck) {
                    $(".panel-body.body-notification.col-lg-12.col-md-12.col-sm-12.col-xs-6").eq(count).css("display", "block");
                } else if (count == 1 && displayFavBluck) {
                    $(".panel-body.body-notification.col-lg-12.col-md-12.col-sm-12.col-xs-6").eq(count).css("display", "block");
                }
            } else {
                if (displayFavBluck || displayDocBluck) {
                    $(".panel-body.body-notification.col-lg-12.col-md-12.col-sm-12.col-xs-6").css("display", "none");
                }
            }
        }

        $(document).ready(function() {
            $(window).resize(function() {
                if (qic.documents != null) {
                    resizeTableEvent(qic.documents, 0);
                } else {
                    resizeTableEvent(qic.newDashboardDocuments, 0);
                    resizeTableEvent(qic.favouriteDashboardDocuments, 1);
                }
            });
        });
    </script>
</body>
</html>
