﻿@{
    Layout = MVC.Portal.Shared.Views._Layout;
}

<div class="main-wrapper container">
    <div class="row">
        <aside class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="portalNav">
            @Html.Sitecore().Placeholder("aside")
        </aside>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main-content">
            @Html.Sitecore().RenderingEx(Constants.Layout.Renderings.Portal.AccountWelcome.ID)
            @Html.Sitecore().Placeholder("master")
        </div>
    </div>
</div>
