﻿@using Qic.Sc.Entities.UserDefined.Components.Site.Configuration.MenuItem
@model Qic.Sc.Web.Areas.Corporate.Model.NavigationModel

@foreach (IMenuItem item in Model.Menu.Take(3))
{
    <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 no-margin">
        <h3><a href="@Url.ContentLink(item.Link, Model.ContextSite)">@item.GetTitleOrName()</a></h3>
        <ul class="list-unstyled list-group">
            @foreach (var subitem in item.SubItems)
            {
                <li><a href="@Url.ContentLink(subitem.Link, Model.ContextSite)">@subitem.GetTitleOrName()</a></li>
            }
        </ul>
    </div>
}
