﻿@model Qic.Sc.Web.Areas.Corporate.Model.TopNavModel

@if (Model != null && Model.Menu.Any())
{
    <div id="white-top">
        <div class="container">
            <div class="col-lg-9 col-md-9 text-right loginSec pull-right hidden-sm hidden-xs">
                @foreach (var item in Model.Menu)
                {
                    if (item.EntityId == Constants.Content.Corporate.Configuration.Navigation.TopMenu.PortalLogin.ItemID.Guid && !string.IsNullOrEmpty(Model.UserFirstName))
                    {
                        <span><a href="@Url.ContentLink(@item.Link)">@Model.UserFirstName</a></span>
                    }
                    else
                    {
                        <span><a href="@Url.ContentLink(@item.Link, Model.ContextSite)">@item.GetDisplayNameOrName()</a></span>
                    }
                }
                @* <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>*@
                @* <script type="IN/FollowCompany" data-id="16671"></script>–>*@
            </div>
        </div>
    </div>
}