﻿@using Glass.Mapper.Sc;
@using Glass.Mapper.Sc.Web.Mvc;

@{
    Sitecore.Data.Database db = Sitecore.Context.Database; //Sitecore.Configuration.Factory.GetDatabase("web");

    Sitecore.Data.Items.Item[] authors = db.SelectItems("/sitecore/content/Blog/Home/Authors/*[@@templateid='{601049BE-36F1-4714-B765-C74DEDAA44D9}']");
}

<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-lg-12">
            <hr class="header" />
            <h2>Authors</h2>
        </div>
    </div>

    @foreach (Sitecore.Data.Items.Item author in authors)
    {
        <p>@author.DisplayName</p>
    }
</div>