﻿@using Glass.Mapper.Sc;
@using Glass.Mapper.Sc.Web.Mvc;

@{
    Sitecore.Data.Database db = Sitecore.Context.Database; //Sitecore.Configuration.Factory.GetDatabase("web");

    Sitecore.Data.Items.Item[] categories = db.SelectItems("/sitecore/content/Blog/Home/Categories/*[@@templateid='{3B028723-10FD-4DCB-8247-47C31BAC3279}']");
}

<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-lg-12">
            <hr class="header" />
            <h2>Categories</h2>
        </div>
    </div>

    @foreach (Sitecore.Data.Items.Item category in categories)
    {
        <p>@category.DisplayName</p>
    }
</div>