﻿@*@model Qic.Sc.Entities.UserDefined.QIC.Blog.Data.BlogArticle.IBlogArticle*@

@*@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Qic.Sc.Entities.UserDefined.QIC.Blog.Pages.BlogArticlePage.BlogArticlePageEntity>*@

@using Glass.Mapper.Sc;
@using Glass.Mapper.Sc.Web.Mvc;

@{
    var contextModel = Sitecore.Context.Item.GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.BlogArticle.IBlogArticle>();
    var category = Sitecore.Context.Database.GetItem(contextModel.Category.ToString()).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Pages.CategoryPage.ICategoryPage>();
    var author = Sitecore.Context.Database.GetItem(contextModel.Author.ToString()).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.Author.IAuthor>();

    var currentUrl = String.Format("http://{0}{1}", Sitecore.Context.Site.HostName, Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item).Replace("-", " "));

    var linkedInShare = String.Format("https://www.linkedin.com/shareArticle?mini=true&title={0}&url={1}&summary={2}&source=QIC", contextModel.Title, currentUrl, contextModel.Description);
    //var linkedInPopupParams = "width=520,height=570";

    var twitterHashtags = "";
    var twitterShare = String.Format("http://twitter.com/share?text={0}&url={1}&hashtags={2}", contextModel.Title, currentUrl, twitterHashtags);

    var emailShare = String.Format("mailto:?subject=QIC Blog Article - {0}&body={1}%0D%0A%0D%0A{2}", contextModel.GetDisplayNameOrName(), contextModel.Description, currentUrl.Replace(" ", "-"));

    //TODO check for null
}

<div class="container">
    <div class="container-fluid categories-bar">
        <div class="pull-left category-title">
            <i class="fa fa-arrow-right fa-3"></i>
            <p>
                <a href="~/Categories/@category.GetDisplayNameOrName()">@category.GetDisplayNameOrName()</a>
                <small>Posted on @contextModel.Date.ToShortDateString()</small>
            </p>
        </div>
        <div class="pull-right hidden-sm hidden-xs">
            <a href="~/Authors/@author.GetDisplayNameOrName()">
                <div class="author">
                    <div class="pull-left">
                        <img class="img-circle" src="@Url.Content(author.HeroImage.Src)">
                    </div>
                    <div class="pull-left">
                        <p class="name">@author.Name</p>
                        <p class="position">@author.Position</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Hero -->
    <div class="row">
        <div class="article-hero">
            <img src="@Url.Content(contextModel.HeroImage.Src)" alt="" class="pull-right">
            <h1>
                @contextModel.Title
                @*Reimagining infraestructure amid</br>
                    transformative change*@
            </h1>
        </div>
    </div>
    <!-- End Hero -->
    <!-- Description -->
    <div class="row">
        <div class="col-md-10 col-sm-8 col-xs-12 description">
            @contextModel.Description
        </div>
        <div class="col-md-2 col-sm-4 col-xs-11 col-xs-offset-1 col-md-offset-0 share pull-right">
            <div class="row">Share</div>
            <div class="row">
                @*<i class="fa fa-linkedin-square fa-4" onclick="window.open('@linkedInShare', '', '@linkedInPopupParams')" style="cursor:pointer"></i>*@
                <a href="@linkedInShare" target="_blank"><i class="fa fa-linkedin-square fa-4"></i></a>
                @*<a href="@twitterShare" target="_blank"><i class="fa fa-twitter-square fa-4"></i></a>*@
                <a href="@emailShare"><i class="fa fa-envelope-o fa-4"></i></a>
            </div>
        </div>
    </div>
    <!-- End Description -->
    <!-- Article -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <hr class="header" />
                <br /><br />
            </div>
            <div class="row">
                @Html.Raw(contextModel.Article)
            </div>
            <div class="row">
                <br /><br />
            </div>
            <div class="row">
                <div class="pull-left">
                    <hr class="author">
                    <a href="~/Authors/@author.GetDisplayNameOrName()">
                        <div class="author">
                            <div class="pull-left">
                                <img class="img-circle" src="@Url.Content(author.HeroImage.Src)">
                            </div>
                            <div class="pull-left">
                                <p class="name">@author.Name</p>
                                <p class="position">@author.Position</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-11 col-xs-offset-1 col-md-offset-0 share pull-right">
                    <div class="row">Share</div>
                    <div class="row">
                        @*<i class="fa fa-linkedin-square fa-4" onclick="window.open('@linkedInShare', '', '@linkedInPopupParams')" style="cursor:pointer"></i>*@
                        <a href="@linkedInShare" target="_blank"><i class="fa fa-linkedin-square fa-4"></i></a>
                        @*<a href="@twitterShare" target="_blank"><i class="fa fa-twitter-square fa-4"></i></a>*@
                        <a href="@emailShare"><i class="fa fa-envelope-o fa-4"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Article -->

    <br />

    <!-- Disqus -->

    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        /*
        var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//qicblog.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
<!-- End Container -->
