﻿@using Glass.Mapper.Sc;
@using Glass.Mapper.Sc.Web.Mvc;
@using Sitecore;
@using Sitecore.Links;

@{
    var contextModel = Sitecore.Context.Item.GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Pages.CategoryPage.ICategoryPage>();

    Sitecore.Data.Database db = Sitecore.Context.Database;

    Sitecore.Data.Items.Item[] latestBlogItems = db.SelectItems("/sitecore/content/Blog/Home//*[@@templateid='{F1E3B040-A328-493E-BDC6-5820ADF294B9}']");

    var latestBlogPosts = latestBlogItems.OrderByDescending(i => i["Date"]).Skip(1).Take(9);

    Sitecore.Data.Items.Item featuredBlogPost = null;

    if (latestBlogItems.Count() > 0)
    {
        featuredBlogPost = latestBlogItems.OrderByDescending(i => i["Date"]).First<Sitecore.Data.Items.Item>();
    }
}

<!-- Container -->
<div class="container">
    <!-- Hero -->
    <div class="row">
        @if (featuredBlogPost != null) {
            var featuredBlogItem = Sitecore.Context.Database.GetItem(featuredBlogPost.ID).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.BlogArticle.IBlogArticle>();
            if (!(featuredBlogItem.Author == Guid.Empty) && !(featuredBlogItem.Date == DateTime.MinValue))
            {
                var author = Sitecore.Context.Database.GetItem(featuredBlogItem.Author.ToString()).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.Author.IAuthor>();
                int daysAgo = (int)(DateTime.Now - featuredBlogItem.Date).TotalDays;
                var daysAgoText = daysAgo == 0 ? "Today" : (daysAgo > 7 ? featuredBlogItem.Date.ToShortDateString() : (daysAgo.ToString() + " days ago"));
                <a href="@LinkManager.GetItemUrl(featuredBlogPost)" >
                    <div class="featured-post">

                            <img src="@Url.Content(featuredBlogItem.HeroImage.Src)" alt="" class="pull-right" />
                            <div class="text-box">
                                <h1>
                                    @featuredBlogItem.Title
                                </h1>
                                <p class="description">@featuredBlogItem.Description</p>
                                <a href="~/Authors/@author.GetDisplayNameOrName()">
                                    <div class="author">
                                        <div class="pull-left">
                                            <img class="img-circle" src="@Url.Content(author.HeroImage.Src)">
                                        </div>
                                        <div class="pull-left">
                                            <p class="name">@author.Name</p>
                                            <p class="date">@daysAgoText</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                    </div>
                </a>
            }
        }
    </div>
    <!-- End Hero -->
    <!-- Latest Posts -->
    <div class="row">
        <div class="col-lg-12">
            <hr class="header">
            <h2>Latest posts</h2>
        </div>

        @foreach (Sitecore.Data.Items.Item blogPost in latestBlogPosts)
        {
            var blogDate = DateUtil.IsoDateToDateTime(blogPost.Fields["Date"].ToString());
            var daysAgo = (int)(DateTime.Now - blogDate).TotalDays;
            var daysAgoText = daysAgo == 0 ? "Today" : (daysAgo > 7 ? blogDate.ToShortDateString() : (daysAgo.ToString() + " days ago"));
            var author = Sitecore.Context.Database.GetItem(blogPost.Fields["Author"].ToString()).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.Author.IAuthor>();
            var blog = Sitecore.Context.Database.GetItem(blogPost.ID).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.BlogArticle.IBlogArticle>();

            <!-- Article-->

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <section class="article">
                    <a href="@LinkManager.GetItemUrl(blogPost)">
                        <img class="img-responsive" src="@Url.Content(blog.HeroImage.Src)">
                        <h3>@blog.Title</h3>
                        <p class="description">@blog.Description</p>
                    </a>
                    <a href="~/Authors/@author.GetDisplayNameOrName()">
                        <div class="author">
                            <div class="pull-left">
                                <img class="img-circle" src="@Url.Content(author.HeroImage.Src)">
                            </div>
                            <div class="pull-left">
                                <p class="name">@author.Name</p>
                                <p class="date">@daysAgoText</p>
                            </div>
                        </div>
                    </a>
                </section>
            </div>

            <!-- End Article -->
        }
    </div>
    <!-- End Latest Posts -->
    <br>
    <!-- Most Read Posts -->
    <!-- End Most Read Posts -->
</div>
<!-- End Container -->
