﻿@using Glass.Mapper.Sc;
@using Glass.Mapper.Sc.Web.Mvc;
@using Sitecore;
@using Sitecore.Links;

@{
    var contextModel = Sitecore.Context.Item.GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Pages.CategoryPage.ICategoryPage>();

    Sitecore.Data.Database db = Sitecore.Context.Database;

    Sitecore.Data.Items.Item[] blogItems = db.SelectItems("/sitecore/content/Blog/Home//*[@@templateid='{F1E3B040-A328-493E-BDC6-5820ADF294B9}' and @Category='{" + contextModel.EntityId.ToString().ToUpper() + "}']");

    var blogPosts = blogItems.OrderByDescending(i => i["Date"]);
}

<div class="container">
    <br /><br />

    <div class="row">
        <div class="col-lg-12">
            <hr class="header" />
            <h2>@contextModel.GetDisplayNameOrName()</h2>
        </div>
    </div>

    <!-- Latest Posts -->
    <div class="row">

        @foreach (Sitecore.Data.Items.Item blogPost in blogPosts)
        {
            var blogDate = DateUtil.IsoDateToDateTime(blogPost.Fields["Date"].ToString());
            var daysAgo = (int)(DateTime.Now - blogDate).TotalDays;
            var daysAgoText = daysAgo == 0 ? "Today" : (daysAgo > 7 ? blogDate.ToShortDateString() : (daysAgo.ToString() + " days ago"));
            var author = Sitecore.Context.Database.GetItem(blogPost.Fields["Author"].ToString()).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.Author.IAuthor>();
            var blog = Sitecore.Context.Database.GetItem(blogPost.ID).GlassCast<Qic.Sc.Entities.UserDefined.QIC.Blog.Data.BlogArticle.IBlogArticle>();

            <!-- Article-->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <section class="article">
                    <a href="@LinkManager.GetItemUrl(blogPost)">
                        <img class="img-responsive" src="@Url.Content(blog.HeroImage.Src)">
                        <h3>@blog.Title</h3>
                        <p class="description">@blog.Description</p>
                    </a>
                    <a href="~/Authors/@author.GetDisplayNameOrName()">
                        <div class="author">
                            <div class="pull-left">
                                <img class="img-circle" src="@Url.Content(author.HeroImage.Src)">
                            </div>
                            <div class="pull-left">
                                <p class="name">@author.Name</p>
                                <p class="date">@daysAgoText</p>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
            <!-- End Article -->
        }
    </div>
</div>