﻿@model Qic.Sc.Web.Areas.Portal.Models.SendPasswordNotificationModel

@{
    Layout = MVC.Portal.Shared.Views._LayoutForCrm;
    var alertCssclass = "alert-danger";
    var alertIcon = "glyphicon-exclamation-sign";
    if (Model.IsSuccessful)
    {
        alertCssclass = "alert-success";
        alertIcon = "glyphicon-ok";
    }
}
<div class="email-notifications">
    @if (Model.Messages != null && Model.Messages.Any())
    {
        <ul class="list-unstyled alert @alertCssclass">
            @foreach (var message in Model.Messages)
            {
                <li>
                    <span class="glyphicon  @alertIcon" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>@message
                </li>
            }
        </ul>
    }
    @using (Html.BeginForm(MVC.Portal.Account.SendPasswordNotification()))
    {

        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.Id)
        <button type="submit" name="emailType" value="Reset" class="btn btn-default">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> SEND PASSWORD RESET EMAIL
        </button>
        <button type="submit" name="emailType" value="Welcome" class="btn btn-default">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> SEND WELCOME EMAIL
        </button>
    }
</div>
