body {
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
}

body {
    height: 100%;
    min-height: 100%;
}

header {
    background-color: #ee3725;
    margin: 0 auto;
    text-align: center;
    height: 90px;
    padding-top: 25px;
    position: absolute;
    z-index: 2;
    width: 100%;
}

header img {
    height: 42px;
}

.full-screen-banner {
    height: 100vh;
    min-height: 768px;
    background-color: #ee3725;
    background-image: url(../images/carousel-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 230px;
}

.text-box {
    margin-left: auto;
    margin-right: auto;
    background: #303030;
    border-radius: 5px;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    max-width: 60%;
}

@media (min-width: 1024px) {
    .full-screen-banner {
        padding-top: 230px;
        padding-bottom: 230px;
    }
    .text-box {
        padding: 30px;
        font-size: 30px;
        max-width: 650px;
        padding: 30px;
        font-size: 30px;
    }
}

.red-highlight {
    color: #b72f25;
}
