/*Meanuel*/

body {
    overflow-x: hidden;
    background: #f2f2f2 url(../images/body-bg.png) no-repeat top center;
    color: #4c4d4f;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
}

.filter-pnl .panel-body .row:nth-child(1) {
    padding-bottom: 1em;
}

.main-content {
    background: #f2f2f2;
}

.PortalClient h4 {
    color: #ec2e21;
}
/* PANEL NEW */

.panel .panel-heading {
    background: #303030;
    color: #fff;
}

.panel-heading a {
  position: absolute;
  right: -15px;
  top: 14px;
}

.panel .panel-heading span {
    padding-right: 0px;
}

.panel .body-notification {
    background: #fdba31;
}

.panel .body-notification a:nth-child(1) {
    color: #fff;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.panel .body-notification a {
    color: #fff;
    padding-top: 0px;
    padding-left: 3em;
    padding-right: 0px;
}

.panel table thead tr {
    background: #e0e0e0;
}
/* LASTEST NEWS*/

.panel-title {
    font-size: 24px;
    text-align: center;
    display: block;
}

.panel-news {
    text-align: center;
}

.panel-news .panel-heading {
    background: #303030;
    color: #fff;
    text-transform: uppercase;
}

.panel-news .panel-body {
    padding: 0px;
}

.panel-news .coverimg {
    background: url(../images/red_paper.png) no-repeat;
    height: 130px;
    background-size: cover;
}

.panel-news .viewallbtn {
    display: block;
    width: 100%;
    background: #e0e0e0;
    color: #303030;
    font-size: .8em;
    line-height: 2em;
}

.panel-news .item-news {
    border-bottom: 1px solid #f2f2f2;
    padding: 25px;
}

.panel-news .item-news h5 {
    color: #ec2e21;
    text-transform: uppercase;
    margin: 0px;
}

.panel-news .item-news span {
    display: block;
    color: #7d7d7d;
}

.panel-news .item-news p {
    color: #4c4d4f;
}

.panel-news ul {
    margin: 0px;
    padding: 0 15px;
}

.panel-news ul li {
    border-bottom: 1px solid #d9d9d9;
    line-height: 2em;
    list-style: none;
    display: block;
}

.panel-news ul li a {
    color: #4c4d4f;
    text-align: left;
    display: block;
}

.panel-news ul li a:after {
    content: "+";
    float: right;
    color: #ec2e21;
}

@media (max-width: 479px) {
    #container {
        display: none;
    }

    .body-notification {
        background: #fdba31;
        display: none;
    }

    .body-notification a:nth-child(1) {
        color: #fff;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .panel table thead tr th {
        display: none;
    }

    .panel table tbody tr td {
        display: none;
    }

    .panel table tbody tr td:nth-child(2) {
        display: block;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1260px) {
    .main-wrapper {
        width: 1260px;
        margin: 0 auto;
    }

    .container {
        width: 1260px;
    }
}
/*BUTTONS CUSTOMIZATION*/

.btn {
    /*width: 8em;
*/
    border: 0px;
}

.btn-default {
    background: #ec2e21;
    color: #ffffff;
    border-radius: 5px;
    border-bottom: 2px solid #8e1c14;
}

.btn-default:hover {
    background: #e02013;
    color: #ffffff;
    border: none;
}

.btn-cancel {
    background: #f2f2f2;
    color: #b4b4b4;
}
/*FILTER PANEL*/

.filter-pnl .panel {
    border: 0px;
    border-bottom: 2px solid #cccccc;
}

.filter-pnl .actions {
    font-size: 1.3em;
}

.filter-pnl .actions span {
    display: inline-block;
    border-radius: 4px;
    padding: 0 10px;
    margin: 5px 20px 0 0;
    cursor: pointer;
}

.filter-pnl .actions .active {
    background: #fff;
    color: #ee3725;
}
/*PROFILE CONTAINER*/

.profile-container span.separator {
    display: block;
    background: #e0e0e0;
    line-height: 2.3em;
    padding: 0 15px;
}

.profile-container span.subtitle {
    font-size: 1.3em;
    line-height: 2.5em;
    text-transform: uppercase;
}

.profile-container .panel-body {
    border-bottom: 1px solid #ccc;
}
/* HEADER*/

header {
    width: 100%;
    background: #dc3423;
}

header div {
    height: 4em;
    color: #fff;
}

header div span {
    color: #fff;
}

header div .main-logo {
    background: #ee3725;
    padding-top: 20px;
}

header div .main-logo a {
    margin: 0 auto;
}

header div .main-logo a img {
    width: auto;
    height: auto;
}

#headerTop {
    padding: 10px 0;
    background-color: #fff;
    font-size: 12px;
}

#headerTop div div div div span {
    color: #dc3423;
}

#headerTop span {
    color: #d9d9d9;
    margin-left: 30px;
}

#headerTop span a {
    color: black;
}

#headerTop a {
    color: #d9d9d9;
}

@media (max-width: 1023px) {
    header div .main-logo {
        text-align: left;
    }
    .remove-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .remove-padding .banner-primary {
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
}

@media (max-width: 768px) {
    #white-top {
      display: none;
    }
    .remove-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .remove-padding .banner-primary {
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
}
/* FOOTER*/

@media (max-width: 768px) {
    footer .text-box {
        padding: 0px;
        background: #323232;
        border-radius: 0;
        padding-top: 20px !important;
    }

    footer .text-box p {
        margin: 0px;
        line-height: 30px !important;
    }

    footer .btn-default {
        display: block;
        margin: 0px 0px 15px 0px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #white-top {
      display: none;
    }

    #disclaimer-links {
        height: 120px;
    }

    #disclaimer-links .home-anchor {
        width: 224px !important;
    }

    #disclaimer-links .home-anchor ul {
        width: inherit !important;
    }

    #disclaimer-links .home-anchor ul li:last-child {
        display: block;
    }

    #disclaimer-links .home-anchor ul li img {
        width: 74px !important;
    }
}

.copy-right:before {
    content: "\00a9";
}

footer {
    /*DOTCOM*/
    margin-top: 20px;
    /*DOTCOM*/
}

footer .container {
    padding: 0;
}

footer .text-box {
    padding: 0px;
    background: #323232;
    border-radius: 0;
}

footer .text-box p {
    margin: 0px;
    line-height: 70px;
    font-size: 25px;
            color: #FFF;
}

@media (min-width: 1025px) {
    footer .text-box p {
        font-size: 24px;
    }
}

footer .btn-default {
    font-size: 16px;
    line-height: 28px;
    white-space: nowrap;
    text-align: center;
    float: right;
    margin-top: 17px;
}

footer .home-anchor {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}

footer .home-anchor a {
    color: #ffffff;
}

footer #home-footer {
    background: #202020;
}

footer #footer-links {
    background: #171717;
}

footer #footer-links h3 {
    color: #d9d9d9;
    font-size: 18px;
    text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
}

footer #footer-links ul li {
    height: 25px;
    font-size: 14px;
    line-height: 25px;
}

@media (min-width: 1024px) {
    footer #footer-links h3 {
        font-size: 16px;
    }

    footer #footer-links ul li {
        font-size: 12px;
    }

    footer .home-anchor {
    font-size: 14px;
}
}

footer #footer-links h3 a {
    text-decoration: none;
    color: #d9d9d9;
}

footer #footer-links ul li a {
    color: #9e9e9e;
    display: block;
    height: 100%;
    border-bottom: 1px solid #4c4d4f;
}

footer #disclaimer-links {
    background: #000000;
}

footer #disclaimer-links .container {
    padding: 4px 0px 0px 0px;
}

footer #disclaimer-links .home-anchor {
    margin: 0px auto;
    padding: 0 15px;
}

footer #disclaimer-links .home-anchor div {
    float: right;
}

footer #disclaimer-links .home-anchor ul {
    list-style: none;
    padding: 0;
    float: left;
}

footer #disclaimer-links .home-anchor ul #logo-li {
    text-align: center;
}

footer #disclaimer-links .home-anchor ul li {
    margin-right: 20px;
    display: inline;
}

footer #disclaimer-links .home-anchor ul li a {
    color: #9e9e9e;
    font-size: 12px;
}

footer #disclaimer-links .home-anchor ul li img {
    width: 38px;
}
/*ASIDE*/

aside {
    padding-right: 0px;
    background: #ffffff;
    padding-left: 0px !important;
}

aside > div {
    margin: 0px !important;
    padding-left: 0px !important;
}

aside > div .list-group {
    margin: 0px;
}

aside > div .list-group .list-group-item {
    color: #dc3423;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

aside > div .list-group .list-group-item span {
    margin-right: 1.5em;
}

aside > div .list-group .list-group-item .list-group .list-group-item {
    color: #171717;
    padding: 0px 2.5em !important;
}

aside .list-group-item {
    border: none;
}

aside .badge {
    background-color: #303030;
}

body {
    background: #f2f2f2;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
}

body header {
          margin-bottom: 0px;
    }

@media (min-width: 1024px) {
    body header {
        background: none;
        margin-bottom: 20px;
    }
}

body header #filter-content {
    display: none;
}

body header #mobile-content-menu {
    display: none;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
    background: #202020;
}

#mobile-content-menu {
    padding-left: 0px;
    padding-right: 0px;
}

body header #mobile-content-menu #main-list-menu .main-list-item {
    background: #202020;
    border-bottom: none;
    border-top: 1px solid #727272;
    border-left: none;
    border-right: none;
    z-index: 300;
    border-radius: 0;
}

body header #mobile-content-menu #main-list-menu .main-list-item:first-child {
    border: none;
}

body header #mobile-content-menu #main-list-menu .main-list-item #input-search {
    height: 51px;
    border-radius: 6px;
     font-size: 20px; 
    color: #c1c1c1;
    font-weight: lighter;
    text-indent: 25px;
    outline: 0;
    border: none;
    margin: 0px 0px -6px 0px;
}

body header #mobile-content-menu #main-list-menu .main-list-item .icon-search:before {
    position: absolute;
    top: 23px;
    font-size: 20px;
    color: #ec2e21;
    left: 20px;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul {
    padding: 0;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul li a {
    color: #FFF;
    font-size: 20px;
}

body header #mobile-content-menu #main-list-menu .main-list-item a {
    color: #ec2e21;
    font-size: 24px;
}

body header #mobile-content-menu #main-list-menu .main-list-item {
    text-transform: uppercase;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul {
    text-transform: initial;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul li {
    padding: 0;
    color: #ffffff;
    font-weight: lighter;
    border: none;
    font-size: 18px;
    background: #202020;
    line-height: 2;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul .sub-menu-item-title {
    font-size: 20px;
    color: #ec2e21;
    text-transform: uppercase;
    margin-top: 10px;
}

body header #mobile-content-menu #main-list-menu .main-list-item .secondary-list {
    display: none;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 {
    font-size: 20px;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 a {
    font-weight: lighter;
    color: #f13313;
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 22px;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 a:after {
    content: "+";
    color: #ffffff;
    float: right;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 .collapsable-custom:after {
    content: "-";
}

body header #mobile-content-menu #main-list-menu .main-list-item:last-child {
    padding-top: 22px;
    padding-bottom: 6px;
}

body header #white-top {
    height: 40px;
    background: #ffffff;
    font-size: 12px;
}

body header #white-top div {
    height: 40px;
}

body header #white-top .container div > span {
    line-height: 40px;
}


body header #white-top .container .IN-widget {
    position: relative;
    top: 5px;
}

body header #white-top .pull-left {
    color: #4c4d4f;
    padding: 0;
}

body header #white-top .pull-left a {
    color: #d9d9d9;
}

body header #white-top .pull-left .glyphicon-map-marker {
    margin-left: 0px;
    color: #ec2e21;
}

body header #white-top .pull-right {
    padding: 0;
}

body header #white-top .pull-right span {
    margin-left: 30px;
}

body header #white-top .pull-right span a {
    color: #727272 !important;
    cursor: pointer;
}

body header #red-header {
    background: #ee3725;
    height: 90px;
}

body header #red-header #mega-nav {
    height: 90px;
    padding-right: 0px;
}

body header #red-header #mega-nav #mega-nav-menu {
    list-style: none;
    overflow: hidden;
    margin: 20px 0px 0px 0px;
}

body header #red-header #mega-nav #mega-nav-menu .search-li {
    text-align: left;
    text-indent: 15px;
    padding-right: 15px;
    display: none;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .glyphicon-search {
    float: right;
    top: 5px;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .icon-up {
    float: right;
    top: -10px;
    background: #202020;
    height: 60px;
    width: 60px;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .icon-up:before {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    color: #ec2e21;
}

body header #red-header #mega-nav #mega-nav-menu .opener {
    display: block;
}

body header #red-header #mega-nav #mega-nav-menu .opener a {
    border: none;
}

body header #red-header #mega-nav #mega-nav-menu .opener:hover {
    background: none;
}

body header #red-header #mega-nav #mega-nav-menu .closer {
    cursor: default;
    padding-right: 0px;
}

body header #red-header #mega-nav #mega-nav-menu .closer .closer-trigger {
    cursor: pointer;
}

body header #red-header #mega-nav #mega-nav-menu .closer a {
    border: none;
}

body header #red-header #mega-nav #mega-nav-menu .closer:hover {
    background: none;
}

body header #red-header #mega-nav #mega-nav-menu li {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    height: 70px;
    line-height: 30px;
    cursor: pointer;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

body header #red-header #mega-nav #mega-nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: block;
    border-right: 1px solid #ffffff;
}

body header #red-header #mega-nav #mega-nav-menu .active {
    background: #202020;
}

body header #red-header #mega-nav #mega-nav-menu .active a {
    border: none;
}

body header #red-header .main-logo {
    padding: 26px 0px 0px 15px;
}

body header #red-header .main-logo img {
    height: 42px;
}

body header #red-header .main-logo #mobile-menu-icon {
    float: right;
}

body header #mega-nav-search {
    display: none;
    background: #202020;
    position: absolute;
    width: 100%;
    height: 100px;
    padding-top: 17px;
    font-size: 30px;
    z-index: 101;
}

body header #mega-nav-search .glyphicon-search {
    color: #d3121a;
}

body header #mega-nav-search .glyphicon-search:before {
    position: absolute;
    top: -15px;
    left: 15px;
}

body header #mega-nav-search input {
    width: 100%;
    padding: 5px 17px 5px 60px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 60px;
    color: #c1c1c1;
    float: right;
}

body header #mega-nav-search #mega-nav-trigger {
    font-size: 18px;
    position: relative;
    float: right;
    top: -50px;
    right: 10px;
}

body header .mega-nav-submenu {
    display: none;
    background: #202020;
    height: auto;
    width: 100%;
    position: absolute;
    padding-top: 17px;
    padding-bottom: 10px;
    z-index: 101;
}

body header .mega-nav-submenu ul {
    list-style: none;
}

body header .mega-nav-submenu ul .mega-nav-submenu-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.8;
}

body header .mega-nav-submenu ul .mega-nav-submenu-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #ec2e21;
    line-height: 2.5;
    white-space: nowrap;
}

body header .mega-nav-submenu ul .mega-nav-submenu-title a {
    text-decoration: none;
    color: #ec2e21;
}

.container {
    max-width: 1260px;
    margin: 0px auto;
}

.btn-default {
    background: #ec2e21;
    color: #ffffff;
    border-bottom: 2px solid #8e1c14;
    border-radius: 5px;
    height: 40px;
    width: auto;
    padding: 5px 20px;
    display: inline-block;
    cursor: pointer;
}

.btn-default:hover {
    text-decoration: none;
}

.glyphicon-menu-hamburger:before {
    font-size: 40px;
    cursor: pointer;
}
/*Media queries*/

@media (max-width: 1024px) {
    .main-logo #mobile-menu-icon {
        display: block !important;
    }

    #white-top {
        background: #303030 !important;
    }

    #white-top .pull-left {
        color: #ffffff !important;
        display: block;
    }

    #white-top .container {
        width: 100%;
    }

    #white-top .container div {
        text-align: center;
    }

    .carousel {
        height: auto !important;
        border-radius: 0 !important;
        margin: 0 -15px 20px -15px !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    form#contactUsForm .btn {
        margin-top: 8px;
    }

    .carousel .cycle-slideshow section {
        width: 100%;
        height: auto !important;
        border-radius: 0 !important;
    }

    .carousel .cycle-slideshow section .text-box {
        width: 100% !important;
        margin: 0 !important;
        top: 0px !important;
        border-radius: 0 !important;
        height: auto !important;
        position: relative !important;
    }

    .carousel .cycle-slideshow section .text-box .btn-default {
        display: block;
        width: 100%;
        text-align: center;
    }

    .carousel .cycle-slideshow section img {
        border-radius: 0 !important;
        height: 320px !important;
    }
    /*.carousel .text-box > div {
         min-height: 250px;
     }*/
    /*.text-box .btn {
        margin-top: 30px;
    }*/
    
    .jumbotron .btn {
        margin-top: 30px;
    }

    .carousel .cycle-pager {
        position: absolute !important;
        top: 261px !important;
        width: 100% !important;
        text-align: center;
        right: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel .cycle-pager {
        position: absolute !important;
        top: 385px !important;
        width: 100% !important;
        text-align: center;
        right: 0px !important;
    }
    body header #red-header #mega-nav {
        display: none;
    }
}

.carousel .text-box > div {
    max-height: 140px;
    min-height: 140px;
    line-height: 1.2;
}

.carousel .btn {
        margin-top: 20px;
    }

@media (min-width: 768px) {
    .carousel .text-box > div {
        max-height: 106px;
        min-height: 106px;
    }
}

@media (min-width: 1024px) {
    .carousel .text-box > div {
        max-height: 180px; /*was 215px*/
        min-height: 180px; /*was 215px*/
    }

    .carousel .btn {
        margin-top: 20px;
    }
}

.carousel {
    height: 450px;
    position: initial;
    margin: 20px 0;
    border-radius: 5px;
    padding: 0;
    max-width: 1260px;
    overflow: hidden;
}

.carousel .cycle-slideshow section {
    width: 100%;
    height: inherit;
    border-radius: 5px;
    position: relative;
}

.carousel .cycle-slideshow section .text-box {
    margin: 50px 20px;
    position: absolute;
    /*height: 350px;*/
    
    width: 445px;
    padding: 35px;
    top: 0;
    font-size: 24px;
    overflow: hidden;
}

.carousel .cycle-slideshow section img {
    height: 450px;
    border-radius: 0px;
}

@media (min-width: 768px) {
  .carousel .cycle-slideshow section .text-box {
    /*max-height: 350px;
    height: auto;*/
        
    font-size: 24px;
  }  
}

@media (min-width: 1024px) {
  .carousel .cycle-slideshow section .text-box {
    font-size: 30px;
  }
  .carousel .cycle-slideshow section img {
    border-radius: 5px;
}  
}

.carousel .cycle-slideshow section .text-box .btn-default {
    font-size: 16px;
    padding: 0 50px;
    line-height: 35px;
}

.carousel .cycle-pager {
    position: relative;
    top: -80px;
    z-index: 100;
    right: 35px;
    float: right;
}

.carousel .cycle-pager span {
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
    margin-right: 10px;
    font-size: 45px;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    color: #f7f7f7;
}

.carousel .cycle-pager .cycle-pager-active {
    color: #ec2e21;
}

@media (max-width: 1200px) {
    .main-container {
        padding: 0px 15px;
        margin: 60px 0px 0px 0px;
    }

    .no-margin .secondary-banner .text-box {
        padding: 0px 10px !important;
    }
}

@media (max-width: 1084px) {
    .home-panels .panel-news {
        min-height: 625px !important;
    }
}

@media (max-width: 1023px) {
    .home-panels .panel-news {
        min-height: 500px !important;
    }
}

@media (max-width: 945px) {
    .home-panels .panel-news {
        min-height: 547px !important;
    }
}

.main-container {
    margin-top: 60px;
}

@media (max-width: 768px) {
    .row.secondary > .secondarypanel {
        padding: 0px;
    }

    .row.secondary > .secondarypanel .secondary-banner {
        border-radius: 0px;
    }

    .panel-news {
        min-height: 0px !important;
    }

    .main-container {
        padding: 0px 15px;
        margin: 60px 0px 0px 0px;
    }

    .advise-container {
        margin-left: -15px;
        margin-top: 0px !important;
        border-radius: 0 !important;
        width: 105%;
    }

    .advise-container .btn-default {
        display: block;
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

    .no-margin .secondary-banner {
        height: 400px;
    }

    .no-margin .secondary-banner .text-box {
        height: 250px;
        padding: 0px 0px 0px 10px !important;
    }
}

@media (max-width: 600px) {
    .advise-container {
        width: 108%;
    }
}

.panel-default {
    border: none;
    box-shadow: none;
}

.text-box {
    background: #303030;
    border-radius: 5px;
    color: #ffffff;
    padding: 30px;
    font-size: 30px;
}

.text-box p {
    height: 78%;
    line-height: 35px;
    padding-left: 0px;
}

.icon-more {
    float: right;
    position: absolute;
    right: 20px;
    color: #ec2e21;
}

.icon-more:before {
    font-size: 20px;
}

.advise-container {
    height: auto;
    position: relative;
    font-size: 23px;
    padding: 20px 15px;
    margin-top: 0px;
}

.advise-container p {
    margin-bottom: 0px;
}

.advise-container > div {
    padding-right: 0px;
}

.advise-container .btn-default {
    white-space: nowrap;
    top: 15px;
    position: relative;
    float: right;
}

.advise-container .btn-default .glyphicon-menu-down:before {
    font-size: 10px;
    padding-left: 10px;
}

.row.secondary {
    margin-top: 20px;
}

.read-more {
    font-size: 14px !important;
    color: #ec2e21;
    text-decoration: underline;
}

.btn-default {
    font-size: 16px;
    line-height: 28px;
    padding: 5px 50px;
    text-align: center;
}

.btn-default.cancel {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default.cancel:hover {
    opacity: 0.5;
}

.no-margin .secondary-banner {
    height: 200px;
    padding: 20px;
    background: #ccc;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
}

.no-margin .secondary-banner .text-box {
    height: 160px;
    font-size: 20px;
    line-height: 37px;
    padding: 26px 30px;
}

.no-margin .featured-content {
    margin: 0px !important;
    min-height: 0px !important;
}

.no-margin .featured-content .details-featured {
    font-size: 14px !important;
}

.no-margin .panel-news {
    margin: 0px 0px 0px 0px;
    background: #ffffff;
    border: none;
    /*min-height: 550px;*/
    
    border-radius: 5px;
}

.no-margin .panel-news ul li {
    height: 35px;
    padding-right: 1px;
    font-size: 14px;
    line-height: 35px;
}

.no-margin .panel-news ul li:last-child {
    border: none;
}

.no-margin .panel-news ul li a:after {
    content: "•";
    font-size: 16px;
}

.no-margin .panel-news .panel-heading {
    background: #303030;
    /*line-height: 30px;*/
    
    font-size: 18px;
    border-radius: 0;
    padding: 9px 0px 6px 0px;
    position: relative;
}

.no-margin .panel-news .panel-body.coverimg {
    background: none;
}

.no-margin .panel-news .panel-body.coverimg img {
    padding: 0;
    height: 130px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.no-margin .panel-news .panel-body.news-container {
    background: #ffffff;
}

.no-margin .panel-news .panel-body.news-container .viewallbtn {
    font-size: 12px;
    line-height: 30px;
    color: #303030;
}

.no-margin .panel-news .panel-body.news-container .item-news {
    border: none;
}

.no-margin .panel-news .panel-body.news-container .item-news h5 {
    color: #ec2e21;
    font-size: 16px;
}

.no-margin .panel-news .panel-body.news-container .item-news p,
.item-news .lead {
    font-size: 18px;
}

@media (min-width: 1024px) {
    .no-margin .panel-news .panel-body.news-container .item-news p,
    .item-news .lead {
        font-size: 16px;
    }
}

.no-margin .panel-news .panel-body.news-container .item-news .icon-calendar:before {
    margin-right: 10px;
}

.no-margin .panel-news.latest-news .panel-heading,
.no-margin .panel-news.featured-content .panel-heading {
    border-radius: 5px 5px 0px 0px;
}

.no-margin .panel-news.latest-news .item-news,
.no-margin .panel-news.featured-content .item-news {
    border-bottom: 1px solid #f2f2f2 !important;
}

.no-margin .panel-news.latest-news .item-news:last-child,
.no-margin .panel-news.featured-content .item-news:last-child {
    border: none !important;
}

.no-margin .panel-news.latest-news .item-news .icon-calendar:before,
.no-margin .panel-news.featured-content .item-news .icon-calendar:before {
    margin-right: 10px;
}

.secondary .secondary-banner {
    height: 300px;
    padding: 20px;
    background: #ccc;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
}

.secondary .secondary-banner .text-box {
    height: 230px;
    font-size: 20px;
    line-height: 37px;
    padding: 26px 30px;
}

.no-margin .panel-news .panel-body.news-container,
.sub-featured .panel-news.featured-content .item-news {
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

@media (min-width: 1024px) {
    .no-margin .panel-news .panel-body.news-container,
    .sub-featured .panel-news.featured-content .item-news {
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
} 
}

@media (max-width: 1260px) {
    .row.standard-latest .p-contents {
        padding: 0px;
    }

    .landing-panel.right {
        padding-right: 15px !important;
    }

    .landing-panel.left {
        padding-left: 15px !important;
    }

    .social-top.white {
        margin-left: 15px !important;
    }
}

@media (max-width: 768px) {
    .landing-row .container .social-top {
        margin: 20px 0px -10px 15px !important;
    }

    .form-container {
        margin-bottom: 20px;
    }

    .form-container input {
        padding-right: 55px !important;
    }

    .form-container .left {
        padding: 0;
    }

    .form-container .date-container {
        margin: 15px 0 0 -15px;
    }

    .form-container .custom-tags-container {
        min-height: 0;
    }

    .form-container .custom-tags-container #tags-list {
        margin-top: 15px;
    }

    .form-container .btn-filter {
        width: 100% !important;
        padding: 0 !important;
        margin-top: 20px;
    }

    .sub-paper-list .sub-paper-textbox {
        width: 100% !important;
        text-align: center;
    }

    .sub-paper-list .sub-paper-textbox ul li a {
        text-align: left;
    }

    .sub-paper-list .sub-paper-textbox .header-container {
        background: #303030;
        padding: 15px;
        margin-left: -15px;
        margin-right: -10px;
    }

    .sub-paper-list .sub-paper-textbox .header-container .headline {
        color: #ffffff;
        margin: 0px;
    }

    .sub-paper-list .sub-paper-textbox .paper-subheader {
        margin: 10px 0px 10px 0px !important;
    }

    .sub-paper-list img {
        width: 100% !important;
        height: auto !important;
    }

    .btn-default {
        display: block;
    }

    .modal .btn-default {
        display: inline-block;
    }

    .sub-featured .featured-content {
        background: none;
    }

    .sub-featured .featured-content .item-news {
        background: #ffffff;
        margin-bottom: 20px;
    }

    .sub-featured .featured-content img {
        border-radius: 5px 5px 0px 0px !important;
    }

    .sub-featured .panel-news {
        min-height: 0px !important;
    }

    .sub-featured .panel-news.featured-content {
        height: 250px !important;
    }

    .sub-featured .panel-news.featured-content .sub-featured-image {
        padding: 0;
        height: 100%;
    }

    .sub-featured .panel-news.featured-content .sub-featured-image .text-box {
        text-align: left;
    }
}

.social-top {
    width: 150px;
    height: auto;
    background: #f2f2f2;
    list-style: none;
    padding: 0;
    border-radius: 5px;
}

.social-top li {
    height: 50px;
    display: inline-block;
    width: 47px;
}

.social-top li .favorite span {
    top: 18px;
}

.social-top li .favorite span:before {
    font-size: 14px;
}

.social-top li .mailing span {
    left: 14px;
}

.social-top li a {
    height: auto;
    cursor: pointer;
}

.social-top li a span {
    position: relative;
    left: 17px;
    top: 15px;
    font-size: 10px;
    color: #d1d3d4;
}

#fixed-nav {
    position: fixed;
    top: 40%;
    right: 0px;
    z-index: 400;
}

#fixed-nav .fixed-description {
    display: none;
    position: absolute;
    right: 50px;
    background: #303030;
    height: 50px;
    white-space: nowrap;
    width: auto;
    padding: 0 20px;
    line-height: 45px;
    color: #FFF;
}

#fixed-nav ul {
    width: auto;
    padding: 0;
    list-style: none;
    background: #303030;
}

#fixed-nav ul li {
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    height: 50px;
    width: 50px;
    text-align: center;
}

#fixed-nav ul li .fixed-icon {
    position: relative;
    top: 13px;
    left: -2px;
    color: #ffffff;
    cursor: pointer;
}

#fixed-nav ul li .icon-top {
    font-size: 10px;
}

#fixed-nav ul li .icon-seach,
#fixed-nav ul li .icon-phone {
    font-size: 20px;
    left: 0px;
}

.row.list {
    margin-top: 20px;
}

.sub-paper-list {
    padding: 0;
    margin-bottom: 20px;
}

.sub-paper-list .sub-paper-textbox {
    background: #ffffff;
    float: left;
    width: 67%;
    padding: 0px 10px 20px 15px;
    overflow: hidden;
}

.sub-paper-list .sub-paper-textbox ul {
    list-style: none;
    padding: 0;
}

.sub-paper-list .sub-paper-textbox ul li a {
    border-bottom: 1px solid #d9d9d9;
    height: 35px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    line-height: 35px;
}

.sub-paper-list .sub-paper-textbox ul li a:after {
    content: "•";
    font-size: 16px;
    float: right;
    color: #ec2e21;
    padding-right: 1px;
}

.sub-paper-list .sub-paper-textbox ul li:last-child a {
    border: none;
}

.sub-paper-list .sub-paper-textbox .body-text {
    font-size: 14px;
}

.sub-paper-list .sub-paper-textbox .paper-subheader {
    margin: -5px 0px 5px 0px;
}

.sub-paper-list .sub-paper-textbox .icon-calendar {
    color: #d9d9d9;
}

.sub-paper-list img {
    width: 33%;
    height: 300px;
    position: relative;
    float: left;
}

.social-top.white {
    background: #ffffff;
    margin-top: 20px;
}

.social-top.white li a {
    color: #d1d3d4;
}

.sub-panels {
    margin-top: 0px !important;
}

.row.standard-latest .panel-news {
    margin-top: 0;
}

.row.standard-latest .panel-news.featured-content {
    margin-top: 20px !important;
}

.top-30 {
    margin-top: 30px;
    padding: 0;
}

.sub-featured {
    border-radius: 5px;
}

.sub-featured .panel-news {
    min-height: 0px !important;
}

.sub-featured .panel-news.featured-content {
    box-shadow: none;
    border: none;
    height: 520px;
    min-height: 0px !important;
}

@media (min-width: 1024px) {
    .sub-featured .panel-news.featured-content {
        box-shadow: none;
        border: none;
        height: 300px;
        min-height: 0px !important;
    }

    .sub-featured .panel-news.featured-content .lead {
        margin: 0;
    }
}

.sub-featured .panel-news.featured-content .item-news {
    border: none;
    background: #FFF;
}

.sub-featured .panel-news.featured-content .news-container {
    border-radius: 5px;
}

.sub-featured .panel-news.featured-content .sub-featured-image {
  padding: 0;
  height: 300px;
    -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  background-repeat: no-repeat;
  background-size: cover;
    background-image: url('../images/placeholder.jpeg');
    /*fallback images*/
}

.sub-featured .panel-news.featured-content .sub-featured-image .text-box {
    position: absolute;
    margin: 20px;
    padding: 20px;
    text-align: left;
    max-height: 170px;
    overflow: hidden;
}

.sub-featured .panel-news.featured-content .sub-featured-image img {
    height: 100%;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}

input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

textarea {
    resize: none;
    border-radius: 5px 0px 5px 5px;
    outline: 0;
}

.mandatory-field {
    float: right;
    color: #ffffff;
    background: #ec2e21;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 20px;
}

.glyphicon-remove:before {
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.custom-tags-container {
    min-height: 65px;
}

.custom-tags-container ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.custom-tags-container ul li {
    display: inline-block;
    height: 30px;
    padding: 5px 10px;
    background: #4c4d4f;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-tags:after {
    content: "+";
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    border: 1px solid #ec2e21;
    top: 35px;
    right: 30px;
    text-align: center;
    color: #ec2e21;
    font-size: 22px;
    line-height: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-container {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.form-container input {
    padding-right: 40px;
}

.form-container .standard-form {
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 20px 20px 20px 20px;
}

.form-container .standard-form .btn-filter {
    display: block;
    width: 50%;
    position: relative;
    float: left;
}

.form-container .standard-form .btn-filter a {
    width: 100%;
}

.form-container .standard-form .btn-left {
    padding-right: 8px;
}

.form-container .standard-form .btn-right {
    padding-left: 8px;
}

.form-container .standard-form .date-container .date-input-container {
    position: relative;
    width: 50% !important;
    float: left;
}

.form-container .standard-form .date-container #from-container {
    padding-right: 8px;
    margin-left: 15px;
}

.form-container .standard-form .date-container #to-container {
    padding-left: 8px;
    margin-right: -15px;
}

.form-container .standard-form .input-date {
    margin-bottom: 20px;
}

.form-container .standard-form .icon-down {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 35px;
    right: 35px;
    color: #ec2e21;
    font-size: 22px;
    line-height: 16px;
}

.form-container .standard-form .icon-calendar:before {
    position: absolute;
    top: 14px;
    right: 25px;
    color: #ec2e21;
}

.form-container .standard-form .red-highlight {
    margin: 25px 0px 0px 0px;
}

.form-container .standard-form textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    height: 120px;
    padding: 15px;
    margin-bottom: 15px;
}

.form-container .standard-form .left {
    padding-left: 0;
}

.form-container .standard-form .radio-container {
    width: 100%;
}

.form-container .standard-form .radio-container div {
    width: 50%;
    float: left;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    line-height: 40px;
    padding-left: 15px;
}

.form-container .standard-form .radio-container div label {
    padding-left: 30px;
    color: #e0e0e0;
}

.form-container .standard-form .radio-container div label:before {
    content: "";
    position: absolute;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 35px;
    margin-left: -30px;
}

.form-container .standard-form .radio-container input[type=radio]:checked + label:before {
    content: "\2022";
    color: #ec2e21;
    font-size: 27px;
    text-align: center;
    line-height: 19px;
    background: #353637;
    border: none;
}

.form-container .standard-form .radio-container .radio-toggle-left {
    border-radius: 5px 0px 0px 5px;
}

.form-container .standard-form .radio-container .active {
    border: none;
    background: #4c4d4f;
}

.form-container .standard-form .radio-container .active label {
    color: #ffffff;
}

.form-container .standard-form label {
    color: #6d6e71;
    font-size: 14px;
}

.form-container .standard-form .checkbox-container p label {
    font-size: 12px;
    padding-right: 0;
}

.form-container .standard-form .checkbox-container input[type=checkbox]:checked + label:before {
    content: "✓";
    color: #ec2e21;
    font-size: 20px;
    text-align: center;
    line-height: 19px;
    border-color: #ec2e21;
}

.form-container .standard-form .checkbox-container label {
    /*margin-right: 30px;*/
    position: relative;
    padding: 0 30px;
}

.form-container .standard-form .checkbox-container label:before {
    content: "";
    position: absolute;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    top: 0px;
    left: 0px;
}

.form-container .standard-form .input-text {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #e0e0e0;
    text-indent: 15px;
}

.headline {
    font-size: 24px;
    color: #303030;
    margin-bottom: 0px;
}

.sub-headline {
    font-size: 18px;
    color: #ec2e21;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
    margin-top: 5px;
}

@media (min-width: 1024px) {
    .sub-headline {
        font-size: 16px;
    }
}

.large-paragraph {
    font-size: 16px;
    color: #6d6e71;
}

.large-paragraph .red-highlight {
    color: #ee3624;
    text-decoration: underline;
}

.landing-row {
    background: #ffffff;
}

.landing-row .container {
    margin-top: 0;
    padding-bottom: 30px;
}

.landing-row .container .social-top {
    margin: 20px 0px -10px 0px;
}

.landing-row .container .landing-panel.right {
    padding-right: 0;
}

.landing-row .container .landing-panel.left {
    padding-left: 0;
}

.landing-row .container .landing-panel .panel-news {
    height: 540px;
    min-height: 0px !important;
    background: #f2f2f2;
}

.landing-row .container .landing-panel .panel-news .panel-body.coverimg {
    height: 270px !important;
}

.landing-panel .panel-news .panel-body.coverimg {
    height: 270px !important;
    moz-border-radius: 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-image: url('/content/corporate/images/placeholder.jpeg'); /*fallback images*/
    background-repeat: no-repeat; 
    background-size: cover; 
}

.landing-row .container .landing-panel .panel-news .panel-body.coverimg img {
    height: 100%;
}

.landing-row .container .landing-panel .panel-news .news-container {
    color: #727272;
    background: #f2f2f2;
}

.landing-row .container .landing-panel .panel-news .news-container .item-news {
    background: #f2f2f2;
}
/*Datepicker*/

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-month,
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    width: 45%;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font-family: "fontello";
    content: "\e806";
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 10px;
}

.ui-datepicker .ui-datepicker-next {
    right: 10px;
    top: 3px;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    background: none !important;
    color: #ffffff !important;
    text-decoration: none !important;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-widget-content {
    border: 1px solid #e0e0e0;
    background: #ffffff;
}

.ui-widget-content a {
    color: #c1c1c1;
    width: 25px;
    border-radius: 5px;
}

.ui-widget-content a:hover {
    font-weight: bold;
    color: #303030;
    background: #e0e0e0;
}

.ui-widget-header {
    background: #ec2e21;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header a {
    color: #ffffff;
}

.multiselect lbl {
    display: block;
}

.multiselect .btn-group {
    width: 100%;
}

.multiselect .btn-group label {
    padding-left: 15px !important;
}

.multiselect .btn-group button {
    background: #fff;
    border: 1px solid #e0e0e0;
    width: 100%;
    color: #222;
    padding: 0 40px 0 15px;
    font-size: 14px;
    text-align: left;
}

.multiselect .btn-group input[type="checkbox"] {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
    position: static !important;
}

.multiselect .btn-group .dropdown-menu > .active > a,
.multiselect .btn-group .dropdown-menu > .active > a:hover,
.multiselect .btn-group .dropdown-menu > .active > a:focus {
    background-color: #d8d8d8 !important;
}

.multiselect .btn-group .caret {
    display: none;
}

.multiselect .btn-group .multiselect-container {
    width: 100%;
}

.multiselect .btn-group .checkbox {
    width: 100%;
}

.multiselect .icon-down {
    position: relative;
    z-index: 1000;
}

#Email {
    background: #ffffff;
}

#Email .main-wrapper {
    width: 600px;
}

#Email .main-wrapper #email-header {
    width: 100%;
    height: 100px;
}

#Email .main-wrapper #email-header div.withe-top-email {
    wwidth: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#Email .main-wrapper #email-header div.withe-top-email span {
    color: gray;
}

#Email .main-wrapper #email-header div.withe-top-email span a {
    color: red;
}

#Email .main-wrapper #email-header .red-header {
    background: #d33727;
    text-align: center;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

#Email .main-wrapper .img-content {
    width: 100%;
    height: 240px;
    background: #d9d9d9;
    top: 70px;
}

#Email .main-wrapper .separator {
    width: 100%;
    height: 20px;
    background: #f2f2f2;
}

#Email #email-footer {
    margin-top: 0px;
}

#Email #email-footer .footer-top-email {
    background: #303030;
    text-align: center;
    top: 0;
}

#Email #email-footer .footer-top-email a {
    color: #ffffff;
    text-decoration: none;
    line-height: 3em;
    font-size: 12px;
}

#Email #email-footer .footer-down {
    height: 370px;
    text-align: center;
    background-color: #171717;
}

#Email #email-footer .footer-down ul {
    list-style: none;
    padding: 15px 30px 15px 30px;
}

#Email #email-footer .footer-down ul:first-child a {
    font-size: 16px;
    text-transform: uppercase;
}

#Email #email-footer .footer-down ul li {
    border-bottom: 1px solid #4c4d4f;
    line-height: 30px;
}

#Email #email-footer .footer-down ul li:first-child {
    border: none;
}

#Email #email-footer .footer-down ul li a {
    color: #9e9e9e;
    text-decoration: none;
    line-height: 30px;
    font-size: 12px;
}

.email-content {
    padding: 15px 30px 15px 30px;
    background: #ffffff;
}

.email-content .p-content {
    font-size: 12px;
}

.email-content .p-content a {
    color: #FF4A3D;
}

.email-content .p-content h1 small {
    font-weight: 300 !important;
    color: black !important;
}

.email-content .p-content .btn-email {
    width: 250px;
    height: 40px;
    margin: 20px 20px 20px 0px;
    border: none;
}

.email-content .table-content table {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.email-content .table-content table thead {
    background: #f2f2f2;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.email-content .table-content table thead span {
    font-size: 12px;
    line-height: 30px;
    margin-left: 10px;
}

.email-content .table-content table tbody tr td span {
    font-size: 12px;
    line-height: 25px;
    margin-left: 10px;
}

.email-content .table-content table tbody tr td span a {
    color: #FF4A3D;
}

@media (max-width: 1024px) {
    span.copy-right {
        display: none;
    }

    footer #disclaimer-links .home-anchor ul #logo-li {
        text-align: center;
    }

    footer #disclaimer-links .home-anchor ul {
        text-align: center;
        margin-top: 10px;
        margin-left: -6px;
    }

    footer #disclaimer-links .home-anchor ul li:first-child {
        margin-left: -14px;
    }
}

.checkbox-container.error .error-label {
  color: #ec2e21;
}

.checkbox-container .label {
    display: none;
}

.checkbox-container.error .label {
    display: inline-block;
    background-color: #ec2e21;
}

@media (max-width: 1024px) {
    .main-logo {
        padding-top: 15px !important;
        width: 100%;
        text-align: center;
    }
    body header #red-header {
        background: #ee3725;
        height: 65px;
    }
    body header #red-header .main-logo img {
    height: 36px;
}
}

@media (max-width: 1024px) {
    body header #mobile-content-menu #main-list-menu .list-group-item {
        padding: 8px 15px 16px 15px;
    }
}

a, textarea, input {
    outline: none !important; 
}