body {
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
    background: #f2f2f2;
    color: #4c4d4f;
}

.stacked {
    border: none;
}

.stacked .panel-heading {
    padding: 0px;
    border-bottom: none;
    background-image: url('../images/placeholder.jpeg');
    /*fallback images*/
    
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
}

.stacked .panel-heading img {
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.stacked .panel-body {
    background: #303030;
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.panel-heading + .panel-body {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.panel-footer {
    background: #FFF;
}

.stacked .panel-body h1 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    padding: 0px 17px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.stacked .panel-footer h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ec2e21;
    padding: 0px;
    margin: 0px;
}

.stacked .panel-footer p {
    font-size: 14px;
    text-align: center;
    color: #6d6e71;
    padding: 0px;
}
/*Item news list*/

.item-news-list {
    margin: 0px;
    padding: 0px;
}

.item-news-list li {
    height: 29px;
    padding-right: 1px;
    font-size: 16px;
    line-height: 35px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 2em;
    list-style: none;
    display: block;
}

@media (min-width: 1024px) {
    .item-news-list li {
        font-size: 14px;
    }
}

.item-news-list li a {
    color: #4c4d4f;
    text-align: left;
    display: block;
}

.item-news-list li:last-child {
    border: none;
}

.item-news-list li a:after {
    content: "•";
    font-size: 16px;
    color: #ec2e21;
    float: right;
}

.panel-footer .item-news-list li a {
    margin-top: 4px;
}
/* Item news block */

.item-news-block {
    padding: 15px 0px;
    text-align: center;
}

.item-news-block:first-child {
    margin-top: -9px;
}

.item-news-block + .item-news-block {
    border-top: 1px solid #f2f2f2;
}

.item-news-block .lead,
.item-news-block .lead p {
    font-size: 18px;
}

.item-news-block > h2 + span + .lead,
.item-news-block > h2 + span + .lead p ,
.item-news-block > h2 + .lead,
.item-news-block > h2 + .lead p {
    font-size: 16px;
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .item-news-block .lead,
    .item-news-block .lead p {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .item-news-block > h2 + span + .lead,
    .item-news-block > h2 + span + .lead p,
    .item-news-block > h2 + .lead,
    .item-news-block > h2 + .lead p {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .item-news-block {
        padding-bottom: 5px;
    }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
    .item-news-block .lead,
    .item-news-block .lead p {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px) {
    .item-news-block:first-child {
        margin-top: 0px;
    }
}

.item-news-block p {
    font-size: 14px;
}

.item-news-block a {
    font-size: 14px;
    color: #ec2e21;
    text-decoration: underline;
    display: block;
    padding-top: 24px;
    padding-bottom: 10px;
}

.item-news-block a:before {
    content: "+ ";
    text-align: center;
}

.item-news-block h2 a {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ec2e21;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .item-news-block h2 a {
        font-size: 16px;
    }
    .item-news-block a {
        padding-top: 37px;
        padding-bottom: 10px;
    }
}

.item-news-block h2 a:before {
    content: "";
}

.item-news-block .icon-calendar:before {
    margin-right: 5px;
}

li.item-news-list-empty a:after {
    content: "";
}

li.item-news-list-empty {
    border-bottom: none;
}

a:hover,
a:focus {
    color: #66302c;
    text-decoration: underline;
}

.icon-more {
    float: right;
    position: absolute;
    right: 20px;
    color: #ec2e21;
}

.icon-more:before {
    font-size: 20px;
}

.icon-calendar {
    display: block;
    text-align: center;
    color: #7d7d7d;
    margin-top: 5px;
}

.view-all {
    display: block;
    background: #e0e0e0;
    font-size: 12px;
    line-height: 30px;
    color: #303030;
    margin: -10px -15px 0px -15px;
    text-align: center;
}

.container .jumbotron,
.container-fluid .jumbotron {
    background: #303030;
    color: #FFF;
    padding: 20px;
}

.jumbotron {
    margin-bottom: 20px;
}

.jumbotron .text-uppercase {
    padding: 0;
    font-size: 20px;
}

@media (min-width: 768px) {
    .jumbotron .btn-group.btn-block {
        /* margin-top: 12px;*/
    }
}

@media (min-width: 1025px) {
    .jumbotron .btn-group.btn-block {
        margin-top: 14px;
    }
}

@media (min-width: 1024px) {
    .jumbotron .text-uppercase {
        padding: 0;
        font-size: 24px;
    }
}

.btn-danger {
    background: #ec2e21;
    color: #ffffff;
    border-bottom: 2px solid #8e1c14;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    line-height: 28px;
    padding: 5px 50px;
    text-align: center;
    letter-spacing: 0.5px;
}

.btn-danger:hover {
    background: #e02013;
    color: #fff;
    border: none;
}

@media (min-width: 768px) {
    .btn-danger {
        padding: 5px 48px 5px 50px;
    }
    .btn.center-block {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .btn-danger {
        padding: 5px 50px 5px 50px;
    }
}

.glyphicon-menu-down:before {
    font-size: 10px;
    padding-left: 10px;
}

.red-highlight {
    color: #b72f25;
}

.item-news-block .lead .red-highlight,
.panel-news .item-news .red-highlight {
    color: #4c4d4f;
}

.banner-primary {
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    height: 306px;
    /*was 337px*/
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/placeholder.jpeg');
    /*fallback image*/
}

.banner-primary .text-box .lead {
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    max-height: 103px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .banner-primary .text-box .lead {
        font-size: 30px;
        max-height: 147px;
    }
}

.text-box p {
    text-transform: uppercase;
}

.searchForm {
    display: inline;
}
/*Contact Form*/

.form-container .standard-form label.error {
    background-color: #ec2e21;
    float: right;
    color: #FFF;
    padding: 0px 4px 0px 4px;
    border-radius: 3px 3px 0px 0px;
    font-size: 11px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.form-group {
    position: relative;
}

.form-container .standard-form label.error#ContactMessage-error {
    top: 11px;
    right: 0px
}

.form-container .standard-form input.error,
.form-container .standard-form textarea.error {
    border: 1px solid #ec2e21;
    border-top-right-radius: 0px;
}

.form-container .standard-form .error-label {
    color: ec2e21;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (min-width: 1025px) {
    .btn-block {
        width: auto;
    }
}

.landing-panel {
    margin-bottom: 20px;
}

.pager-arrows a {
    color: #b72f25;
}

.attachment-download a {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ec2e21;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.sub-featured.small-hero .panel {
    background-color: transparent;
    text-align: left;
    height: auto;
}

.sub-featured.small-hero .panel-news.featured-content .item-news {
    min-height: 245px;
    text-align: center;
    -webkit-border-radius: 50px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

.sub-featured.small-hero .panel-news.featured-content .sub-featured-image {
    padding: 0;
    height: 245px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-image: url('../images/placeholder.jpeg');
}

@media (min-width: 768px) {
    .sub-featured.small-hero .panel-news.featured-content .sub-featured-image {
        -webkit-border-radius: 5px 0px 0px 5px;
        border-radius: 5px 0px 0px 5px;
    }
}

.small-hero .featured-content .item-news .lead {
    min-height: initial;
    max-height: none;
}

.small-hero .item-news {
    background-color: #fff;
    padding: 25px;
}

.small-hero .item-news p {
    font-size: 16px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .small-hero .item-news p {
        font-size: 14px;
    }
}

.small-hero .lead {
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    line-height: 1.1;
}

.small-hero .icon-calendar {
    text-align: center;
}

@media (min-width: 768px) {
    .small-hero .icon-calendar {
        text-align: left;
    }
    .sub-featured.small-hero .panel-news.featured-content .item-news {
        text-align: left;
    }
}

.sub-featured .panel-news.featured-content .sub-featured-image {
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

@media (min-width: 1024px) {
    .sub-featured .panel-news.featured-content .sub-featured-image {
        -webkit-border-radius: 5px 0px 0px 5px;
        border-radius: 5px 0px 0px 5px;
    }
    .small-hero .lead {
        font-size: 24px;
    }
}

.sub-headline a {
    color: #ec2e21;
}

.sub-headline a:hover {
    color: #ec2e21;
    text-decoration: none;
}
/* Custom five column layout */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

.burgerworld {
    position: absolute;
    right: 18px;
    top: 24px
}

.burgerworld.active {
    background-color: #202020;
    padding: 24px 18px 14px 20px;
    top: 0px;
    height: 65px;
    right: 0px;
}
/*Typography Style for SiteCore Content*/

.form-container h1 {
    font-size: 20px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #303030;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-container h2 {
    font-size: 18px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #ec2e21;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-container h3 {
    font-size: 16px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #ec2e21;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-container h4 {
    font-size: 15px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
    color: #ec2e21;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-container h1 + p {
    margin-top: 10px;
}

.form-container p {
    font-size: 16px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #4c4d4f;
}

.form-container a {
    color: #ec2e21;
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .form-container h1 {
        font-size: 24px;
    }
    .form-container h2 {
        font-size: 16px;
    }
    .form-container h3 {
        font-size: 14px;
    }
    .form-container h4 {
        font-size: 13px;
    }
    .form-container h1 + p {
        margin-top: 10px;
    }
    .form-container p {
        font-size: 14px;
    }
}

.form-container ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    position: relative;
}

.form-container ol {
    padding: 0;
    margin: 10px 0 0 18px
}

.form-container ul li {
    padding-left: 10px;
    text-indent: 0px;
}

.form-container ol li {
    padding-left: 1px;
}

.form-container ul li:before {
    content: "• ";
    color: #ec2e21;
    position: absolute;
    left: 0px;
}

.search-container ul.search-results {
    padding: 0px;
    list-style: none;
}

.search-container .headline {
    font-size: 24px;
    color: #303030;
    margin-bottom: 0px;
}

.search-container .search-results h1 {
    font-size: 18px;
    color: #ec2e21;
    text-transform: uppercase;
    margin-top: 0px;
}

.search-container .search-results h1 a {
    color: #ec2e21;
    text-decoration: none;
}

.search-container .search-results h1 a:hover {
    color: #ec2e21;
    text-decoration: none;
}

.search-container .search-results p {
    font-size: 16px;
}

.search-container .search-results .icon-calendar {
    color: #7d7d7d;
    text-align: left;
    margin-bottom: 20px;
}

.search-container .search-results li {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 0px;
    text-align: left;
}

.search-container .search-results li:last-child {
    border-bottom: none;
}

.search-container .search-results p:last-child {
    margin-bottom: 0px;
}

.search-container .search-results li:before {
    display: none;
}

@media (max-width: 1023px) {
    .container .row.simple-panel {
        margin-top: 20px;
    }

    .container .row .row.simple-panel {
        margin-top: 0;
    }
}



/*New Css */
.features .panel{margin:0;}
.stacked .panel-body-new{
     -moz-border-radius:  3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    background: #FFF;
	padding: 0px;
overflow:hidden;
}

.stacked .panel-body-new .image-title{background:rgba(0,0,0,.6);position:absolute;bottom:0;font-size:12px;color:#fff;width:100%;padding:7px 0; height:30px;}
.banner-caption{
	background:#303030;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#fff;
		padding:15px 20px;
	}
.banner-caption h2{
	margin:0;
	 font-family: "Calibri W01 Light",Calibri,Arial,sans-serif;
	text-transform:uppercase;
	font-size:26px;
	}
.panel-footer-new {
	  background: #303030;
    -moz-border-radius: 0px;
    -webkit-border-radius:0px 0px 3px 3px ;
    border-radius:0px 0px 3px 3px ;
	padding:10px 5px 8px;
	float:left;
	width:100%;
}


.panel-image {
    height: 110px;      /* equals max image height */
    width: 100%;
    white-space: nowrap;   
    text-align: center;
	vertical-align:middle;
	position:relative;
}
.panel-image img {
  position:relative;
    vertical-align: middle;
	margin:0px -50% 0px;
    max-height: 100%;
    
}


.panel-footer-new .footer-links{float:left;width:100%;}
.panel-footer-new .footer-links > div {float:left;text-align:center;width:33.33%;}
.panel-footer-new .footer-links a span{display:block;width:100%;}
.panel-footer-new .footer-links a:hover,.panel-footer .footer-links a:focus{color:#ec2e21;}

.row.features{margin:0 -10px;}
.features  > div{margin-bottom:20px;padding:0 10px;}

.panel-footer-new .item-news-block:first-child{margin:0;}
.panel-footer-new .item-news-block{float:left;width:100%;padding:0;}
	
.panel-footer-new .item-news-block a {
    font-size: 11px;
    color: #fff;
	color:#fff;
	text-decoration: none;
    display: block;
  	padding:0px;
	text-decoration:none;
}
.panel-footer-new .item-news-block a .glyphicon{font-size:16px;}

.panel-footer-new .item-news-block a::before {
 display:none;
}

.panel-footer-new .item-news-block .inactive a{ display: none;}
.panel-footer-new .footer-links .inactive a:hover,.panel-footer .footer-links .inactive a:focus{color:#fff;}


@media(max-width: 479px) {
	.features > div{width:100%;}
	
	}
