﻿.item-news .lead {
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
}

.featured-content .item-news .lead {
    max-height: 180px;
    overflow: hidden;
}

.item-news-block .lead {
    overflow: hidden;
}

@media (min-width: 768px) {
    .item-news-block .lead {
        max-height: 91px;
        min-height: 91px;
    }
}

@media (min-width: 1024px) {
    .item-news-block .lead {
        max-height: 58px;
        min-height: 58px;
    }
    .item-news .lead {
        max-height: 90px;
        min-height: 90px;
    }
}

.text-box>div {
    max-height: 250px;
    overflow: hidden;
}
