﻿@model Qic.Sc.Web.Areas.Corporate.Model.TopNavModel


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 main-logo">
        <a href="@Url.ForItem(Constants.Content.Corporate.Home.ItemID.Guid, Constants.CorporateSiteName)"><img src="@Url.Content(Links.Content.portal.images.QIC_logo_png)" alt="qic logo"></a>
        <div id="mobile-menu-icon" class="hidden-md hidden-lg burgerworld">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>
    @if (Model != null)
{
        <div class="col-lg-9 col-md-9 text-right hidden-sm hidden-xs" id="profileLinks">
            <div class="header-menu">
                <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Profile.ItemID.Guid)">
                    <span class="icon-profile"></span>
                    <span>@Model.UserFirstName</span>
                </a>
                <div id="desktop">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>
            <div class="desktop-menu" style="display: none;">
                <ul>
                    <li>
                        <span class="icon-idprofile icon"></span>
                        <span><a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Profile.ItemID.Guid)">View Profile</a></span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-remove icon "></span>
                        <span><a href="@Url.Action(MVC.Portal.Account.LogOff())">Sign Out</a></span>
                    </li>
                </ul>
            </div>
        </div>
        }
</div>

