﻿@using Links
@using Qic.Sc.Web
@model Qic.Sc.Web.Areas.Portal.Models.AccountLoginModel

<div class="row login-container" id="forgot-password">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="icon-profile panel-title" aria-hidden="true"></span>
                LOGIN
            </div>
            <div class="panel-body">
                <form id="loginform" method="POST" action="@Url.ForItem(Constants.Content.ClientPortal.Home.Login.ItemID.Guid)" class="col-md-12">
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @if (Model.Messages != null)
                    {
                        foreach (var message in Model.Messages)
                        {
                            <div class="error-msg">
                                <span>@message</span>
                            </div>
                        }
                    }
                    <fieldset class="form-group">
                        @Html.LabelFor(model => model.User.UserName)
                        @Html.TextBoxFor(model => model.User.UserName, new { @name = "model.User.UserName", @type = "email", @required = "true", @class = "form-control input-lg username" })
                        @Html.ValidationMessageFor(model => model.User.UserName)
                    </fieldset>
                    <fieldset class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.TextBoxFor(model => model.Password, new { @name = "model.password", @type = "password", @required = "true", @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </fieldset>
                    <fieldset class="form-group">
                        <button class="btn-default" type="submit">Login</button>
                    </fieldset>
                    <div class="form-group text-center">
                        <span class="text-center">Forgot your Password? Click <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Login.ResetPassword.ItemID.Guid)">here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_min_js)"></script>)
@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_unobtrusive_min_js)"></script>)
@Html.RegisterPageScript(
    @<script>
        $("#loginform").validate();
         $(document).ready(function () {      
             $("#loginform input").change(function() {
                 $(".error-msg").html("");
             });

             $(".username").focusout(function () {
                 var result = $(this).val().trim();
                 $(this).val(result);
             });
         });
    </script>)
