﻿@model Qic.Sc.Web.Areas.Blog.Model.SearchModel

@if (Model != null)
{
    <div class="container">
        <div class="form-container search-container">
            <h1 class="headline"><span class="red-highlight">@Model.ResultsCount</span> Results</h1>
            <p>You have searched for <span class="red-highlight">@Model.SearchQuery</span></p>
            @if (Model.SearchResults != null)
            {
                <ul class="search-results">
                    @foreach (var result in Model.SearchResults)
                    {
                        <li>
                            <h1><a href="@Url.ForItem(@result.EntityId)">@result.Title</a></h1>
                            <p>@result.Description</p>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
}