﻿@using Links
@using Qic.Sc.Web
@model Qic.Sc.Web.Areas.Corporate.Model.ContactUsModel
<div class="form-container">
    <form id="contactUsForm" method="POST" action="@Url.ForItem(Constants.Content.Corporate.Home.ContactUs.ItemID.Guid)" class="standard-form">
        @*<h3 class="headline">Contact Us</h3>*@
        @if (Model.Messages != null)
        {
            foreach (var message in Model.Messages)
            {
                <div class="error-msg">
                    <span>@message</span>
                </div>
            }
        }
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class= "error-label" })
                    @Html.TextBoxFor(model => model.Name, new { @name = "model.Name", @type = "text", @required = "true", @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.Name)

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Company, new { @class = "error-label" })
                    @Html.TextBoxFor(model => model.Company, new { @name = "model.Company", @type = "text", @required = "true", @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.Company)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(m => m.PreferredMethodOfContact)
                <div class="radio-container">
                    <div class="radio-toggle radio-toggle-left active email-radio-container">
                        @Html.RadioButtonFor(m => m.PreferredMethodOfContact, false, new { @id = "PreferredMethodOfContactEmail", @name = "model.PreferredMethodOfContact", @class = "input-radio-custom" })
                        @Html.LabelFor(m => m.PreferredMethodOfContact, "Email", new { @for = "PreferredMethodOfContactEmail" })
                    </div>
                    <div class="radio-toggle phone-radio-container">
                        @Html.RadioButtonFor(m => m.PreferredMethodOfContact, true, new { @id = "PreferredMethodOfContactPhone", @name = "model.PreferredMethodOfContact", @class = "input-radio-custom" })
                        @Html.LabelFor(m => m.PreferredMethodOfContact, "Phone", new { @for = "PreferredMethodOfContactPhone" })
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "error-label" })
                    @Html.TextBoxFor(model => model.Email, new { @name = "model.Email", @required = "required", @type = "email", @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "error-label" })
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @name = "model.PhoneNumber", @type = "tel", @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactMessage, new { @class = "error-label" })
            @Html.TextAreaFor(model => model.ContactMessage, new { @name = "model.ContactMessage", @required = "true", @placeholder = "Your message goes here ...." })
        </div>
        <div class="form-group">
            <div class="checkbox-container terms">
                @Html.TextBoxFor(model => model.TermsAndConditions, new { @class = "custom-checkbox", type = "checkbox", @required = "true" })
                @Html.LabelFor(model => model.TermsAndConditions, new { @class = "error-label", id = "terms-label"})
                @Html.ValidationMessageFor(model => model.TermsAndConditions)
                <span class="label">You must accept terms and conditions.</span>
                <p>View Terms and Conditions: <a href="@Url.ForItem(Constants.Content.Corporate.Home.TermsAndConditions.ItemID.Guid)" target="_blank">Click here</a>
                </p>
            </div>
        </div>
        <button class="btn btn-default" id="btnReset" type="reset">Clear</button>
        <button class="btn btn-default" id="btnSubmit" name="btnSubmit" type="submit">Submit</button>
    </form>
</div>

@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_min_js)"></script>)
@Html.RegisterPageScript(@<script src="@Url.Content(Content.common.jquery_validate_unobtrusive_min_js)"></script>)
@Html.RegisterPageScript(
    @<script>
         $.validator.addMethod("phone", function (value, element) {
             //Country Code can be up to 4 digits.  And allowing 9 - 14 following digits
             return this.optional(element) || /^\+[1-9]{1,4}[0-9]{10,14}$/.test(value.replace(/\s+/g, ""));
         }, $.validator.messages.phone || "Please specify a valid phone number. Eg. +61783274823");

         $("#contactUsForm").validate({
             rules: {
                 PhoneNumber: {
                     phone: true
                 }
             }
         });

         function radioButtonChange() {
             if ($("#PreferredMethodOfContactEmail").prop("checked") === true) {
                 $("#Email").prop("required", true);
                 if ($("#PhoneNumber").val() === "") {
                     $(".phoneContainer label.error").html("");
                 }
                 $("#PhoneNumber").prop("required", false);
             } else {

                 $("#Email").prop("required", false);
                 if ($("#Email").val() === "") {
                     $(".emailContainer label.error").html("");
                 }
                 $("#PhoneNumber").prop("required", true);
             }
         }

         $(document).ready(function () {
             $("#contactUsForm input").change(function () {
                 $(".error-msg").html("");
             });

             $("#PreferredMethodOfContactEmail, #PreferredMethodOfContactPhone").click(function () {
                 radioButtonChange();
             });

             $("#btnReset").click(function () {
                 $("#contactUsForm")[0].reset();
                 $(".email-radio-container").addClass("active");
                 $(".phone-radio-container").removeClass("active");
                 radioButtonChange();
             });

             $("#contactUsForm").submit(function (event) {
                 var terms = ($("#contactUsForm #TermsAndConditions").val() === "true");
                 if ($(this).valid() && terms) {
                     return true;
                 }

                 if (!terms) {
                     $('.checkbox-container.terms').addClass("error");
                 }

                 return false;
             });

             $("#terms-label").click(function () {
                 var terms = $("#TermsAndConditions");
                 var value = terms.val();
                 if (value.toLowerCase() === "true") {
                     terms.val(false);
                     $('.checkbox-container.terms').addClass("error");
                 } else {
                     terms.val(true);
                     $('.checkbox-container.terms').removeClass("error");
                 }
             });
         });
     </script>)
