﻿@model Qic.Sc.Entities.UserDefined.QIC.Corporate.Data.Disclaimer.IDisclaimer

@if (Model != null)
{
    <div id="disclaimer">
        <div class="container">
            <div class="modal fade bs-example-modal-lg in" id="ExampleModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class=" modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Disclaimer</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Raw(Model.Content)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link close-btn" data-dismiss="modal" aria-label="Close">Do not accept</button>
                        <button id="btnDisclaimerAccept" type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    @Html.RegisterPageScript(@<script>
    $(document).ready(function () {
        $('#ExampleModal').modal('show');

        $('#btnDisclaimerAccept').click(function () {
            $.ajax({
                type: "POST",
                url: "@Url.ForItem(Constants.Content.Corporate.Home.Disclaimer.ItemID.Guid)",
                success: function () {
                    $('#ExampleModal').modal('hide');
                    $('#disclaimer').remove();
                    setTimeout(function(){$('body').removeClass('modal-open')}, 500);
                }
            });
        });

        $(".close, .close-btn").click(function () {
            window.location.replace("@Url.ForItem(Constants.Content.Corporate.Home.ItemID.Guid)");
        });

    });
    </script>)
}