﻿@import url("/default.css"); /* Import OOTB CSS */

body {
    padding: 5px;
}

.red-highlight {
    color: #b72f25;
}

h1 {
    font-size: 24px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #303030;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 16px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #ec2e21;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #ec2e21;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
}

h4 {
    font-size: 13px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
    color: #ec2e21;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
}

h1 + p {
    margin-top: 10px;
}

body, p {
    font-size: 14px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #000000;
}

a {
    color: #ec2e21;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    position: relative;
}

ol {
    padding: 0;
    margin: 10px 0 0 18px
}

ul li {
    padding-left: 10px;
    text-indent: 0px;
}

ol li {
    padding-left: 1px;
}

ul li:before {
    content: "• ";
    color: #ec2e21;
    position: absolute;
    left: 0px;
}
