body {
    overflow-x: hidden;
    background-color: #f2f2f2;
    background-image: url(../images/body-bg-left.png), url(../images/body-bg-right.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
    color: #4c4d4f;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
}

body h4 {
    margin-top: 30px;
    padding: 0px;
    font-size: 24px;
    margin-bottom: 0px;
}

body h1 {
    margin-top: 1px;
    font-size: 40px;
    padding-left: 0px !important;
}
/* MOBILE MENU*/

#filter-content {
    display: none;
}

.activeMenuLink {
    font-weight: bold;
    color: #f13313;
}
/*.highlight {
    font-weight: bold;
}*/

.noclick {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    /* or maybe higher */
    
    background-image: url(../images/loading1.gif);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

#searchSpan span {
    top: 9px;
}

#reportsSearchResults {
    margin-top: 20px;
}

#mobile-content-menu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 3000;
    font-family: Calibri;
    background: #202020;
}

@media (min-width: 769px) {
    table#documentTable th:nth-of-type(1) {
        width: 120px;
    }
    table#documentTable th:nth-of-type(2) {
        width: 60px;
    }
    table#documentTable th:nth-of-type(3) {
        width: 60px;
    }
    table#documentTable th:nth-of-type(4) {
        width: 35px;
    }
    table#documentTable th:nth-of-type(5) {
        width: 50px;
    }
    table#documentTable {
        table-layout: fixed;
        width: 100%;
    }
    table#documentTable td {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    table#documentTable td:nth-of-type(1) {
        width: 120px;
    }
    table#documentTable td:nth-of-type(2) {
        width: 60px;
    }
    table#documentTable td:nth-of-type(3) {
        width: 60px;
    }
    table#documentTable td:nth-of-type(4) {
        width: 30px;
    }
    table#documentTable td:nth-of-type(5) {
        width: 50px;
    }
}

#mobile-content-menu h4 {
    margin: 0px;
    padding: 0.5em 0;
}

#mobile-content-menu input[type="text"] {
    margin: 1em 0 0 0;
}

#mobile-content-menu ul li {
    border-radius: 0px;
    background: #202020;
    border: none;
    border-bottom: 2px solid;
}

#mobile-content-menu ul li ul li {
    color: #ffffff;
    font-weight: lighter;
    border-bottom: none;
    padding: 10px 0;
}

#mobile-content-menu ul li h4 a {
    font-weight: lighter;
    color: #f13313;
    text-decoration: none;
}

#mobile-content-menu ul li:last-child {
    border: none;
}

input#input-search {
    text-indent: 1em;
}

span.icon-search {
    position: absolute;
    color: #f13313;
}

.main-content {
    background: #f2f2f2;
    margin-top: -54px;
    padding-top: 5px;
    min-height: 800px;
}

.PortalClient h4 {
    color: #ec2e21;
}

body header #red-header {
    background: #ee3725;
    height: 72px;
}

body header #red-header #mega-nav {
    height: 70px;
    padding-right: 0px;
    float: left !important;
}

body header #red-header #mega-nav #mega-nav-menu {
    list-style: none;
    overflow: hidden;
}

body header #red-header #mega-nav #mega-nav-menu .search-li {
    text-align: left;
    text-indent: 15px;
    padding-right: 10px;
    display: none;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .glyphicon-search {
    float: right;
    top: 5px;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .icon-up {
    float: right;
    top: -10px;
    background: #202020;
    height: 60px;
    width: 60px;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .icon-up:before {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    color: #ec2e21;
}

body header #red-header #mega-nav #mega-nav-menu .opener {
    display: block;
}

body header #red-header #mega-nav #mega-nav-menu .opener a {
    border: none;
}

body header #red-header #mega-nav #mega-nav-menu .opener:hover {
    background: none;
}

body header #red-header #mega-nav #mega-nav-menu .closer {
    cursor: default;
    padding-right: 0px;
}

body header #red-header #mega-nav #mega-nav-menu .closer .closer-trigger {
    cursor: pointer;
}

body header #red-header #mega-nav #mega-nav-menu .closer a {
    border: none;
}

body header #red-header #mega-nav #mega-nav-menu .closer:hover {
    background: none;
}

body header #red-header #mega-nav #mega-nav-menu li {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    height: 70px;
    line-height: 30px;
    cursor: pointer;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

body header #red-header #mega-nav #mega-nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: block;
    border-right: 1px solid #ffffff;
}

body header #red-header #mega-nav #mega-nav-menu .active {
    background: #202020;
}

body header #red-header #mega-nav #mega-nav-menu .active a {
    border: none;
}

body header #red-header .main-logo {
    height: 70px;
}

@media (min-width: 768px) {
    body header #red-header .main-logo {
        height: 70px;
    }
}
/*body header #red-header .main-logo img {
    height: 35px;
}
*/

body header #red-header .main-logo #mobile-menu-icon {
    position: absolute;
    /*    top: 20px;
    right: 16px;
*/
}
/* PANEL NEW */

.panel .panel-heading {
    background: #303030;
    color: #ffffff;
    border: 0px;
    font-weight: 100;
    font-size: 18px !important;
    line-height: 30px;
    text-transform: uppercase;
}

.panel .panel-heading span:before {
    color: #575757;
}

.panel .body-notification {
    background: #fab549;
    border: 0px;
    border-radius: 0;
    padding: 0px;
}

.panel .body-notification .content-icon {
    width: 100%;
}

.panel .body-notification .content-icon ul {
    color: #ffffff;
    padding-left: 0px;
    margin-left: 0px;
}

.panel .body-notification .content-icon ul li {
    padding-right: .5em;
    display: inline;
    padding-left: 7px;
}

.panel .body-notification .content-icon ul li ul {
    display: inline;
}

.panel .body-notification .content-icon ul li ul li {
    color: #ffffff;
    display: inline;
}

.panel .body-notification .content-icon ul li ul li span a {
    color: #ffffff;
    text-decoration: none;
}

.panel table {
    font-size: 12px;
}

.panel table thead tr {
    text-align: left!important;
    background: #e0e0e0;
}

.panel-default .panel-heading {
    background: #303030;
    color: #ffffff;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    padding-left: 30px;
}

.panel-default .panel-heading span:before {
    margin-right: 10px;
}

.panel-default .tbl-favorites tr td:first-child {
    padding-right: 10em;
}
/* LASTEST NEWS*/

.panel-news {
    text-align: center;
    box-shadow: none;
    border: none;
}

.panel-news .panel-title {
    font-size: 18px;
}

.panel-news .panel-heading {
    background: #303030;
    color: #ffffff;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.panel-news .panel-heading span:before {
    float: right;
    color: #ec2e21;
    font-size: 1.4em;
    margin-left: -1em;
    margin-right: 0em;
    margin-top: 0.2em;
}

.panel-news .panel-body {
    padding: 0px;
    border-radius: 0;
    border: none;
    border-radius: 5px 5px 0px 0px;
    box-shadow: none;
}

.panel-news .coverimg {
    background: url(../images/image3.png) no-repeat;
    height: 130px;
    background-size: cover;
}

.panel-news .viewallbtn {
    display: block;
    width: 100%;
    line-height: 30px !important;
    background: #e0e0e0;
    color: #303030;
    font-size: 13px;
    line-height: 2em;
}

.panel-news .item-news {
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
    line-height: 1.3em;
}

.panel-news .item-news h5 {
    color: #ec2e21;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 400;
}

.panel-news .item-news .icon-calendar {
    display: block;
    color: #d9d9d9;
    margin-right: 0px;
    font-size: 12px;
    margin-bottom: 5px;
}

.panel-news .item-news .icon-calendar:before {
    margin-right: 10px !important;
}

.panel-news .item-news p {
    color: #4c4d4f;
}

.panel-news ul {
    margin: 0px;
    padding: 0 15px;
}

.panel-news ul li {
    border-bottom: 1px solid #d9d9d9;
    line-height: 2.3em;
    list-style: none;
    display: block;
}

.panel-news ul li a {
    color: #4c4d4f;
    text-align: left;
    display: block;
}

.panel-news ul li a:after {
    content: "•";
    font-size: 16px;
    float: right;
    color: #ec2e21;
}

.panel-news ul li:last-child {
    border: 0px;
}

@media (max-width: 1024px) {
    .btn-filter-content {
        padding-right: 0px;
    }
    .main-content {
        min-height: 500px;
    }
    .error-activ {
        border-radius: 0px 0px 6px 6px !important;
    }
    #headerTop .location {
        text-align: center;
    }
    header #menu-mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    .btn-filter-content {
        padding-right: 15px;
    }
    .panel-news .item-news {
        margin: 0px 10px 0px 10px;
    }
    .actions span {
        width: 26%;
        text-align: center;
    }
    .btn {
        min-width: 100% !important;
    }
    .body-notification {
        float: right;
        padding-top: 0px !important;
    }
    .body-notification .content-icon {
        text-align: left;
    }
    .body-notification .content-icon ul li ul {
        padding-top: 0px;
        margin-top: 0px;
        display: inline-block !important;
    }
    .body-notification .content-icon ul li ul li {
        display: block !important;
    }
    .body-notification .content-icon ul li ul li span {
        text-align: center;
    }
    .body-notification .content-icon ul li ul li span a {
        text-align: center;
    }
    .filter-pnl .panel-body {
        left: 70%;
        text-align: center;
    }
    .panel {
        border: none !important;
    }
    .panel .panel-heading {
        border: none;
        font-weight: 100;
    }
    .panel .panel-body {
        border: none;
        text-align: left;
    }
    .panel table thead tr th:first-child {
        display: none;
    }
    .panel table thead tr th {
        white-space: nowrap;
        text-align: left !important;
    }
    .panel table thead tr {
        white-space: nowrap;
    }
    .panel table thead tr th:first-child {
        display: none;
    }
    .panel table thead tr th {
        text-align: left!important;
    }
    .panel table tbody tr {
        white-space: nowrap;
    }
    .panel table tbody tr td:first-child {
        white-space: nowrap;
    }
    .panel table tbody tr td {
        white-space: nowrap;
        text-align: left !important;
    }
    .panel .table-default thead tr th {
        display: none;
    }
    .panel .table-default thead tr th:nth-child(2) {
        text-align: left !important;
        display: block;
    }
    .panel .table-default thead tr th:nth-child(2) {
        text-align: left!important;
        display: block;
    }
    .panel .table-default tbody tr td {
        display: none;
    }
    .panel .table-default tbody tr td:nth-child(2) {
        text-align: left !important;
        display: block;
    }
}

.fav-tittle {
    font-size: 16px;
    top: 4px;
}

.fav-tittle:before {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

.text-left .icon-down {
    text-align: left!important;
}

@media (min-width: 1260px) {
    .main-wrapper {
        width: 1260px;
        margin: 0 auto;
    }
    .container {
        width: 1260px;
    }
}
/*BUTTONS CUSTOMIZATION*/

.btn {
    width: 8em;
    border: 0px;
    height: 40px;
    margin: .5em;
    margin-right: 0px;
}

.btn-default {
    background: #ec2e21;
    color: #ffffff;
    border-radius: 5px;
    border-bottom: 2px solid #8e1c14;
    padding: 6px 48px;
    text-align: center;
    width: auto;
}

.btn-default:hover {
    background: #e02013;
    color: #ffffff;
}

.btn-filter-activ {
    background: #FFF;
    color: #cc2e21;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

.btn-cancel {
    background: #fefefe;
    color: #bebebe;
    border: 1px solid #cccccc;
}

.btn-cancel:hover {
    backgroud: #b2b2b2;
    color: #000000;
}
/*NOTIFICATION ACTIVE*/

.notification-active {
    background: #fff;
}
/*FILTER PANEL*/

.filter-pnl .panel {
    border: 0px;
    border-bottom: 2px solid #cccccc;
}

.filter-pnl .col-lg-4 {
    margin-bottom: 5px;
}

.filter-pnl .col-lg-4 label {
    white-space: nowrap;
}

.filter-pnl .panel-body {
    text-align: left!important;
}

.filter-pnl .panel-body input {
    padding-right: 2em;
    padding-left: 8px;
}

.filter-pnl .panel-body .span-input {
    position: relative;
}

.filter-pnl .panel-body .span-input span {
    position: absolute;
    top: 3px;
    color: #f13313;
    right: 4px;
    text-align: initial;
    left: initial;
}

.filter-pnl .actions {
    font-size: 1.3em;
}

.filter-pnl .actions span {
    display: inline-block;
    border-radius: 4px;
    padding: 3px 17px;
    margin: 10px 20px 0 0;
    cursor: pointer;
    white-space: nowrap;
}

.filter-pnl .actions .active {
    background: #ffffff;
    color: #ee3725;
}
/*PROFILE CONTAINER*/

.profile-container {
    text-align: left !important;
}

.profile-container .span-input {
    text-align: left !important;
    position: relative;
}

.profile-container .span-input input {
    width: 100%;
    height: 32px;
    text-align: left !important;
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-container .span-input input[readonly='readonly'] {
    border: 1px solid #E4E4E4;
}

.profile-container .span-input input {
    text-indent: 1em;
    padding-right: 2em;
}

.profile-container .span-input .icon-pencil {
    position: absolute;
    top: .5em;
    color: #dc3423;
    left: 92%;
}

.profile-container span.separator {
    display: block;
    background: #e0e0e0;
    line-height: 2.3em;
    padding: 0 15px;
}

.profile-container span.subtitle {
    font-size: 1.3em;
    line-height: 2.5em;
    text-transform: uppercase;
    border-top: 1px solid #f2f2f2;
    margin-top: 15px;
}

.profile-container .panel-body label {
    font-size: 14px;
    font-weight: 500;
}

.profile-container .panel-body:after {
    content: none !important;
}

.profile-container table {
    text-align: left;
}

.profile-container table thead tr th {
    text-align: left!important;
    padding-left: 15px;
}

.profile-container table tbody tr {
    text-align: left !important;
}

.profile-container table tbody tr td {
    text-align: left!important;
    padding-left: 15px;
}

.profile-container table tbody tr td:nth-child(3) div:first-child {
    float: left;
    margin-left: -15px;
}

.profile-container table tbody tr td input[type=radio]:checked + label:before {
    content: "\e814";
    color: #ec2e21;
    border-color: #ec2e21;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
}

.profile-container table tbody tr td .custom-label {
    margin-bottom: 0px;
    margin-right: 0px!important;
}

.profile-container table tbody tr td .custom-label:before {
    content: "";
    border: 1px solid #dbdbdb;
    height: 15px;
    position: absolute;
    width: 15px;
    border-radius: 10px;
    margin-left: -20px;
}

.red-papers .panel-heading {
    border-radius: 0;
}

.red-papers .item-news {
    border-bottom: 0px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none !important;
    border-radius: 4px;
    box-shadow: none;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

.notification {
    margin: 67px -6px 15px 0;
    display: inline;
    cursor: pointer;
    height: 30px;
    border-radius: 5px 5px 0 0;
    text-align: right;
    position: relative;
    padding: 0.5em 1.5em 1.5em 0.5em;
}

.notification div {
    margin: 0 -1em 0 0;
    height: 1em;
    border-radius: 5px 5px 0 0;
}

.notification .badge {
    background-color: #ec2e21;
    border-radius: 3px;
    width: 30px;
    margin-right: 8px;
}

.notification ul.content-notification {
    display: none;
    width: 19em;
    line-height: 1.7em;
    background: #ffffff;
    border-radius: 0px 5px 5px 5px;
    padding-left: 1em;
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 1000;
    padding-left: 0px;
    box-shadow: 0px 2px 0px rgba(135, 135, 135, 0.65);
}

@media (max-width: 767px) {
    .notification {
        margin-top: 10px;
        float: left !important;
    }
    .notification .content-notification {
        left: 0;
    }
}

@media (min-width: 768px) {
    .notification ul.content-notification {
        border-radius: 5px 0px 5px 5px;
    }
}

.notification ul.content-notification li {
    padding: .5em;
    list-style: none;
    text-align: left;
}

.notification ul.content-notification li .icon {
    margin-right: 1em;
    float: left;
    color: #ec2e21;
}

.notification ul.content-notification li span:nth-child(2) {
    display: inline-block;
    margin-right: 20px;
    width: 165px;
}

.notification ul.content-notification li span a {
    color: #f13313;
}

table thead tr th {
}
/*FIXED-NAV*/

#fixed-nav {
    position: fixed;
    top: 40%;
    right: 0px;
    z-index: 400;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
}

#fixed-nav .fixed-description {
    display: none;
    position: absolute;
    right: 50px;
    background: #303030;
    height: 50px;
    white-space: nowrap;
    width: auto;
    padding: 0 20px;
    line-height: 45px;
    color: #FFF;
}

#fixed-nav ul {
    width: auto;
    padding: 0;
    list-style: none;
    background: #303030;
}

#fixed-nav ul li {
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    height: 50px;
    width: 50px;
    text-align: center;
}

#fixed-nav ul li .fixed-icon {
    position: relative;
    top: 13px;
    left: -2px;
    color: #ffffff;
    cursor: pointer;
}

#fixed-nav ul li .fixed-icon.icon-search {
    left: 1px;
}

#fixed-nav ul li .icon-top {
    font-size: 10px;
}

#fixed-nav ul li .icon-seach,
#fixed-nav ul li .icon-phone {
    font-size: 20px;
    left: 0px;
}
/*BOOTSTRAP DATEPICKER*/

.datepicker-dropdown{
    padding-top: 0px;
}

.datepicker-dropdown:after, .datepicker-dropdown:before {
    border-bottom-color: #ee3725 !important;
}

.datepicker thead tr:first-child{
    background: #ee3725;
    border: none;
    color: white;
}

.datepicker thead tr:first-child th{
    border-radius: 0px;
}

.datepicker thead tr:nth-child(2){
    color: #ee3725;
}

.datepicker thead tr:first-child{
    background: #ee3725;
    border: none;
    color: white;
}

.datepicker .active.day, .active.year, .active.month {
    background-color: #ee3725 !important;
    border-color: #ee3725 !important;
}

.datepicker thead tr:first-child th.next{
    display: block;
}

.datepicker thead tr:first-child th.prev{
    display: block;
}
/*JQUERY DATEPICKER*/

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-month,
.ui-datepicker .ui-datepicker-title {
    width: 45%;
}

.ui-datepicker-year {
    color: black !important;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 9px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font-family: "fontello";
    content: "\e806";
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 10px;
}

.ui-datepicker .ui-datepicker-next {
    right: 10px;
    top: 3px;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(180deg);
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    background: none !important;
    color: #ffffff !important;
    text-decoration: none !important;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-widget-content {
    border: 1px solid #e0e0e0;
    background: #ffffff;
}

.ui-widget-content a {
    color: #c1c1c1;
    width: 25px;
    border-radius: 5px;
}

.ui-widget-content a:hover {
    font-weight: bold;
    color: #303030;
    background: #e0e0e0;
}

.ui-widget-header {
    background: #ec2e21;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header a {
    color: #ffffff;
}

.file-name-header {
    margin-left: 22px;
}

.td-view {
    text-align: center;
}

.td-view a {
    text-decoration: none;
    color: #727272;
}
/*CHECKBOX*/

input[type=checkbox]:checked + label:before {
    content: '✓';
    font-size: .8em;
    color: #ec2e21;
    text-align: center;
    border: 1px solid #dc3423;
}

.custom-label {
    margin-left: 35px;
    font-weight: normal;
    margin-bottom: 12px;
    margin-right: -7px;
}

.custom-label:before {
    content: "";
    border: 1px solid #dbdbdb;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    position: absolute;
    margin-left: -28px;
}

.custom-header:before {
    border: 1px solid #c1c1c1;
}

.favorite-table {
    margin-right: 5px;
    color: #e0e0e0;
    cursor: pointer;
}

.favorite-table-activ {
    color: #fdba31 !important;
}

.favorite {
    color: #fdba31 !important;
}

#new table tbody tr {
    white-space: nowrap;
}

.client {
    margin-top: 15px;
    padding-left: 0px;
    margin-left: 0px;
}

.client h1 {
    margin-bottom: -30px;
    white-space: nowrap;
}

.client h4 {
    margin-bottom: 0px;
}

#tableProfile .custom-label:before {
    margin-left: -21px;
}
/* HEADER*/

header {
    max-width: 1260px;
    margin: 0 auto;
    height: 106px;
    background: #dc3423;
}

header .header-menu {
    cursor: pointer;
    height: auto;
    float: right;
    padding-top: 21px;
    padding-right: 40px;
    margin-right: 0px;
    position: absolute;
    right: 10px;
}

header .header-menu span:first-child:before {
    background: #ffffff;
    width: 30px;
    padding-top: .5em;
    height: 30px;
    font-size: 1em;
    border-radius: 20px;
    color: #dc3423;
}

header .header-menu .glyphicon-menu-hamburger {
    top: 7px;
    font-size: 10px;
}

header .header-menu .menu-activ {
    top: 7px;
    color: #dc3423;
    background: #ffffff;
}

header #desktop {
    z-index: 3000;
    border-radius: 5px 5px 0 0;
    position: absolute;
    right: -5px;
    top: 15px;
    padding: 15px 10px 13px 10px;
}

header .desktop-menu-active {
    background: #FFF;
}

header .desktop-menu {
    display: none;
    width: 10em;
    text-align: left;
    position: absolute;
    right: 5px;
    z-index: 3000;
    top: 55px;
    background: #ffffff;
    height: 5em;
    border-radius: 5px;
    box-shadow: 0px 2px 1px #888;
}

header .desktop-menu ul {
    list-style: none;
    padding-left: 20px;
    padding-top: 7px;
}

header .desktop-menu ul li {
    line-height: 2;
}

header .desktop-menu ul li .icon {
    left: 5px;
    width: 20px !important;
    color: #dc3423;
}

header .desktop-menu ul a {
    margin-left: 8px;
    color: #171717;
    text-decoration: none;
    font-size: 12px;
}

header #menu-mobile {
    display: none;
    z-index: 3000;
    width: 60px;
    height: 70px;
    top: 0;
    border: 0;
    position: absolute;
    right: 0;
    padding-top: 20px;
}

header div {
    height: 4em;
    color: #ffffff;
}

header div span {
    color: #ffffff;
}

header div .main-logo {
    background: #ee3725;
    height: 70px;
    padding-top: 19px;
}

header div .main-logo a {
    margin: 0 auto;
}

header div .main-logo a img {
    width: 179px;
    height: auto;
}

#headerTop {
    padding: 10px;
    max-width: 1260px;
    margin: 0 auto;
    height: 37px;
    background-color: #ffffff;
    font-size: 12px;
}

#headerTop div div span {
    font-size: 16px;
    line-height: 0px;
    color: #dc3423;
}

#headerTop div div span:before {
    font-size: 14px;
}

#headerTop span {
    color: #727272;
}

#headerTop span a {
    color: #727272;
    margin: 20px;
    font-size: 12px;
}

#headerTop a {
    color: #d0d0d0;
}

#headerTop .asd {
    padding-right: 5px;
}

#desktop.glyphicon-menu-hamburger:before {
    top: 10px;
    right: 11px;
    position: absolute;
}
/* MOBILE MENU */

.glyphicon-menu-hamburger:before {
    font-size: 18px;
}

@media (max-width: 1024px) {
    .glyphicon-menu-hamburger:before {
        font-size: 35px;
        line-height: .9em;
    }
    #headerTop {
        padding: 8px;
        height: 30px;
        max-width: 1260px;
        margin: 0 auto;
        background-color: #f7f7f7;
        font-size: 10px;
        display: none;
    }
    #headerTop .location {
        text-align: center;
        line-height: 1em;
        font-size: 1.2em;
    }
    #headerTop .location span {
        font-size: 10px;
    }
    #headerTop .location a {
        color: #717171;
    }
    header img {
        margin-left: 0px !important;
    }
    header #menu-mobile {
        display: block;
    }
    header .menu-mobile-active {
        background: #202020;
        color: #ffffff;
    }
    header div .main-logo {
        text-align: left;
        padding-top: 17px;
        width: 100%;
    }
}

@media(max-width: 1024px) {
    #disclaimer-links {
        height: 120px
    }
    #disclaimer-links .home-anchor {
        width: 224px!important
    }
    #disclaimer-links .home-anchor ul {
        width: inherit!important
    }
    #disclaimer-links .home-anchor ul li:last-child {
        display: block
    }
    #disclaimer-links .home-anchor ul li img {
        width: 74px!important
    }
}

.copy-right:before {
    content: "\00a9";
}

footer {
    /*DOTCOM*/
}

footer .text-box {
    padding: 10px 30px;
    background: #323232;
    border-radius: 0;
}

footer .btn-default {
    font-size: 16px;
    line-height: 28px;
    white-space: nowrap;
    text-align: center;
    float: right;
}

footer .home-anchor {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}

footer .home-anchor a {
    color: #ffffff;
}

footer #home-footer {
    background: #202020;
}

footer #footer-links {
    background: #171717;
}

footer #footer-links div {
    padding-right: 22px;
}

footer #footer-links h3 a {
    color: #d9d9d9;
    font-size: 16px;
}

footer #footer-links ul li {
    height: 25px;
    font-size: 12px;
    line-height: 25px;
}

footer #footer-links ul li a {
    color: #9e9e9e;
    display: block;
    height: 100%;
    border-bottom: 1px solid #4c4d4f;
}

footer #disclaimer-links {
    background: #000000;
}

footer #disclaimer-links div {
    padding: 3px 15px 0px 15px;
}

footer #disclaimer-links .home-anchor {
    margin: 0px auto;
}

footer #disclaimer-links .home-anchor div {
    float: right;
}

footer #disclaimer-links ul {
    list-style: none;
    padding: 0;
    float: left;
}

footer #disclaimer-links ul #logo-li {
    text-align: center;
}

footer #disclaimer-links ul li {
    margin-right: 20px;
    display: inline;
}

footer #disclaimer-links ul li a {
    color: #9e9e9e;
    font-size: 12px;
}

footer #disclaimer-links ul li img {
    width: 38px;
}

footer #footer-links h3 {
    color: #d9d9d9;
    font-size: 16px;
    text-transform: uppercase;
}

header .header-menu a {
    text-decoration: none;
}

@media(max-width: 1024px) {
    span.copy-right {
        display: none;
    }
    footer #disclaimer-links .home-anchor ul #logo-li {
        text-align: center;
        margin-bottom: 20px;
    }
    footer #disclaimer-links .home-anchor ul {
        text-align: center;
        /*margin-top: 10px;*/
        
        margin-left: -6px;
    }
    footer #disclaimer-links .home-anchor ul li:first-child {
        margin-left: -14px;
    }
}
/*ASIDE*/

aside {
    padding-right: 0px;
    background: #ffffff;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
}

aside .row {
    /*padding-left: 10px;*/
    
    border: none;
}

aside .row ul {
    line-height: 10px;
    width: 100%;
}

aside .row ul span.glyphicon {
    font-size: 16px;
}

aside .row ul li {
    line-height: 10px;
    color: #f13313;
    border: none;
    width: 20.3em;
}

.mobileMenueOverride {
    position: absolute;
    margin-top: -56px !important;
    width: 100%;
    z-index: 9000;
}

aside.mobileMenueOverride .row {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #202020;
}

.mobileli {
    background: #202020;
    line-height: 10px;
    border: none;
    color: #ddd !important;
    width: 100%;
}

.mobileli ul a {
    color: #ddd !important;
}

aside.mobileMenueOverride li.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

aside.mobileMenueOverride li.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

aside .row ul li .badge {
    position: relative;
    float: right;
    margin-right: 0px;
    background-color: #303030;
    line-height: 10px;
    border-radius: 3px;
    width: 30px;
    font-size: 10px !important;
    margin-top: -6px;
}

aside .row ul li span {
    width: 20px;
    font-size: 16px;
}

aside .row ul li a {
    font-size: 1.3em;
    color: #f13313;
    font-size: 20px;
    margin-left: 0.9em;
    text-decoration: none;
}

aside .row ul li ul li {
    line-height: 10px;
}

aside .row ul li ul li a {
    color: #727272;
    text-decoration: none;
    line-height: 10px;
    padding-left: 5px;
    font-size: 18px;
    margin-left: 1.3em;
}

aside .row ul li ul li a.activeMenuLink {
    font-weight: 500;
}

body.login {
    overflow-x: hidden;
    background: #f2f2f2 url(../images/body-login-bg.png) repeat-x 0 0;
    color: #4c4d4f;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
}

header.header-login {
    background: none !important;
}

.top-login {
    height: 36px !important;
}

.login-container {
    text-align: left;
    height: 550px;
    width: 100%;
    margin: 0;
    background: #f2f2f2;
}

.login-container div {
    margin: 0 auto;
}

.login-container div .panel {
    text-align: left;
    max-width: 460px;
    margin: 0 auto;
    background: #ffffff;
    margin-top: 5em;
}

.login-container div .panel .panel-body form {
    text-align: left;
}

.login-container div span a {
    color: #d3121a;
}

.login-container button {
    width: 100%;
    height: 40px;
    border: none;
    color: #ffffff;
}

.login-container button:hover,
.login-container button:focus,
.login-container button:active {
    width: 100%;
}

.error {
    color: #ec2e21;
    margin-left: 0px;
    padding-left: 0px;
}

.error-activ {
    border: 1px solid #ec2e21;
    border-radius: 6px 0px 6px 6px;
}

.form-to-validate .form-group {
    position: relative;
}

label.error {
    background: none repeat scroll 0 0 #ec2e21;
    color: white;
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 12px;
    top: 0px;
    line-height: 25px;
    padding: 0px 10px 0px 10px;
    border-radius: 4px 4px 0px 0px;
}

input.error {
    border: 1px solid #ec2e21;
    border-radius: 6px 0px 6px 6px;
    padding: 0px 10px 0px 10px;
}

.red-span {
    background: #ec2e21;
    border-radius: 4px 4px 0px 0px;
}

.red-span span {
    color: #ffffff;
}

@media (max-width: 768px) {
    label.error {
        width: 100%;
        text-align: center;
    }
    .text-center {
        text-align: center!important;
    }
    input.error {
        border-radius: 0px 0px 6px 6px !important;
    }
}

@media (max-width: 1024px) {
    html body.login {
        background-image: none;
        background-color: #f2f2f2;
    }
    header.header-login {
        background: #ee3725 !important;
    }
}

.form-group {
    position: relative;
}

.error.form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

body header {
    background: none;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    body header {
        background: none;
        margin-bottom: 0px;
        height: 119px;
    }
}

body header #filter-content {
    display: none;
}

body header #mobile-content-menu {
    display: none;
    font-family: 'CalibriRegular', Calibri, Arial, sans-serif;
    background: #202020;
}

body header #mobile-content-menu #main-list-menu {
    padding: 0 15px;
}

body header #mobile-content-menu #main-list-menu .main-list-item {
    background: #202020;
    border-bottom: none;
    border-top: 1px solid #727272;
    border-left: none;
    border-right: none;
    z-index: 300;
    border-radius: 0;
}

body header #mobile-content-menu #main-list-menu .main-list-item:first-child {
    border: none;
}

body header #mobile-content-menu #main-list-menu .main-list-item #input-search {
    height: 44px;
    border-radius: 10px;
    /* font-size: 20px; */
    
    color: #c1c1c1;
    font-weight: lighter;
    text-indent: 25px;
    outline: 0;
    border: none;
    margin: 15px 0;
}

body header #mobile-content-menu #main-list-menu .main-list-item .icon-search:before {
    position: absolute;
    top: 36px;
    font-size: 20px;
    color: #ec2e21;
    left: 20px;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul {
    padding: 0;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul li a {
    color: #FFF;
}

body header #mobile-content-menu #main-list-menu .main-list-item {
    text-transform: uppercase;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul {
    text-transform: initial;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul li {
    padding: 0;
    color: #ffffff;
    font-weight: lighter;
    border: none;
    font-size: 18px;
    background: #202020;
    line-height: 2;
}

body header #mobile-content-menu #main-list-menu .main-list-item ul .sub-menu-item-title {
    font-size: 20px;
    color: #ec2e21;
    text-transform: uppercase;
}

body header #mobile-content-menu #main-list-menu .main-list-item .secondary-list {
    display: none;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 {
    font-size: 20px;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 a {
    font-weight: lighter;
    color: #f13313;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 a:after {
    content: "+";
    color: #ffffff;
    float: right;
}

body header #mobile-content-menu #main-list-menu .main-list-item h4 .collapsable-custom:after {
    content: "-";
}

body header #red-header {
    background: #ee3725;
    height: 70px;
}

body header #red-header #mega-nav {
    height: 70px;
    padding-right: 0px;
}

body header #red-header #mega-nav #mega-nav-menu {
    list-style: none;
    overflow: hidden;
}

body header #red-header #mega-nav #mega-nav-menu .search-li {
    text-align: left;
    text-indent: 15px;
    padding-right: 10px;
    display: none;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .glyphicon-search {
    float: right;
    top: 5px;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .icon-up {
    float: right;
    top: -10px;
    background: #202020;
    height: 60px;
    width: 60px;
}

body header #red-header #mega-nav #mega-nav-menu .search-li .icon-up:before {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    color: #ec2e21;
}

body header #red-header #mega-nav #mega-nav-menu .opener {
    display: block;
}

body header #red-header #mega-nav #mega-nav-menu .opener a {
    border: none;
}

body header #red-header #mega-nav #mega-nav-menu .opener:hover {
    background: none;
}

body header #red-header #mega-nav #mega-nav-menu .closer {
    cursor: default;
    padding-right: 0px;
}

body header #red-header #mega-nav #mega-nav-menu .closer .closer-trigger {
    cursor: pointer;
}

body header #red-header #mega-nav #mega-nav-menu .closer a {
    border: none;
}

body header #red-header #mega-nav #mega-nav-menu .closer:hover {
    background: none;
}

body header #red-header #mega-nav #mega-nav-menu li {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    height: 70px;
    line-height: 30px;
    cursor: pointer;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

body header #red-header #mega-nav #mega-nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: block;
    border-right: 1px solid #ffffff;
}

body header #red-header #mega-nav #mega-nav-menu .active {
    background: #202020;
}

body header #red-header #mega-nav #mega-nav-menu .active a {
    border: none;
}

body header #mega-nav-search {
    display: none;
    background: #202020;
    position: absolute;
    width: 100%;
    height: 100px;
    padding-top: 17px;
    font-size: 30px;
    z-index: 101;
}

body header #mega-nav-search .glyphicon-search {
    color: #d3121a;
}

body header #mega-nav-search .glyphicon-search:before {
    position: absolute;
    top: -15px;
    left: 15px;
}

body header #mega-nav-search input {
    width: 100%;
    padding: 5px 17px 5px 60px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 60px;
    color: #c1c1c1;
    float: right;
}

body header #mega-nav-search #mega-nav-trigger {
    font-size: 18px;
    position: relative;
    float: right;
    top: -50px;
    right: 10px;
}

body header .mega-nav-submenu {
    display: none;
    background: #202020;
    height: 215px;
    width: 100%;
    position: absolute;
    padding-top: 17px;
    z-index: 101;
}

body header .mega-nav-submenu ul {
    list-style: none;
}

body header .mega-nav-submenu ul .mega-nav-submenu-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.8;
}

body header .mega-nav-submenu ul .mega-nav-submenu-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #ec2e21;
    line-height: 2.5;
    white-space: nowrap;
}

body header .mega-nav-submenu ul .mega-nav-submenu-title a {
    text-decoration: none;
    color: #ec2e21;
}
/*#portalNav {
    float: none !important;
}*/

#profileLinks {
    float: right;
    position: relative;
    background-color: #dc3423;
    height: 70px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .email-add {
        padding-left: 0px;
    }
    .error-activ {
        border-radius: 0px 0px 6px 6px !important;
    }
    .notification {
        margin: 67px 0 15px 0 !important;
    }
    .icon-calendar {
        left: 65%;
    }
    /*  .container {
    margin: 0px;
    padding: 0px;
  }*/
    /* .container h4,
    .container h1 {
        margin-left: 15px;
    }*/
    /*.row {
        margin: 0px !important;
    }*/
    
    .hidden-sm {
        display: none !important;
    }
    body {
        background: #f2f2f2;
    }
    .main-content {
        width: 100%;
        /*margin: 0px;
        padding: 0px;*/
    }
    .glyphicon-menu-hamburger:before {
        font-size: 24px;
    }
    .body-notification {
        background: #fab549;
        height: 40px;
    }
    .body-notification ul {
        display: inline;
    }
    .body-notification ul li {
        display: inline;
    }
    .body-notification ul li ul {
        display: inline;
    }
    .body-notification ul li ul li {
        display: inline;
    }
    body header #red-header .main-logo #mobile-menu-icon {
        display: block !important;
        /*right: -755px;*/
        /*top: 26px;*/
    }
    header div .main-logo {
        width: 100%;
    }
}

.row.filter-pnl {
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    header div .main-logo {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    /* Force table to not be like tables anymore */
    
    .stackedmobile table,
    .stackedmobile thead,
    .stackedmobile tbody,
    .stackedmobile tfoot,
    .stackedmobile th,
    .stackedmobile td,
    .stackedmobile tr {
        display: block;
    }
    .stackedmobile thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .stackedmobile tbody tr {
        position: relative;
        padding: 10px 8px;
    }
    .stackedmobile td {
        /* Behave  like a "row" */
        
        position: relative;
    }
    .stackedmobile td:nth-child(3),
    .stackedmobile td:nth-child(4),
    .stackedmobile td:nth-child(5) {
        display: none;
    }
    .stackedmobile td:nth-child(1) {
        font-size: 20px
    }
    .stackedmobile td:nth-child(2) {
        font-size: 14px;
        position: absolute;
        top: 40px;
    }
    .stackedmobile .table>tbody>tr>td,
    .stackedmobile .table>thead>tr>th,
    .stackedmobile .table>tbody>tr>th,
    .stackedmobile .table>tfoot>tr>th,
    .stackedmobile .table>thead>tr>td,
    .stackedmobile .table>tbody>tr>td,
    .stackedmobile .table>tfoot>tr>td {
        border-top: none;
    }
    .stackedmobile td input {
        display: none;
    }
    .custom-label {
        display: none;
    }
    span.glyphicon.glyphicon-star.favorite-table {
        position: absolute;
        right: -5px;
        top: 8px;
        font-size: 30px;
    }
    .panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
    .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,
    .panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
    .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
    .panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
    .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,
    .panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,
    .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
        border-top: none;
    }
    .stackedmobile .table td:nth-of-type(1) {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 34px;
        font-weight: normal;
    }
    .stackedmobile .table td:nth-of-type(2) {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 34px;
    }
    #filter-content .form-control {
        padding: 6px 9px;
    }
    .stackedmobile.preferences tr {
        height: 100px;
    }
    .stackedmobile.preferences td {
        padding-left: 7px;
    }
    .stackedmobile.preferences td:nth-child(3) {
        font-size: 14px;
        position: absolute;
        top: 69px;
        display: block;
        width: 100%;
        white-space: nowrap;
    }
    .stackedmobile.preferences .custom-label {
        display: inline-block;
    }
    .stackedmobile tbody tr:last-child {
        margin-bottom: 15px;
    }
    .stackedmobile .table .viewAll a,
    .stackedmobile .table tfoot span {
        font-size: 14px;
    }
    .stackedmobile .table tr.viewAll {
        border-top: 1px solid #CCC;
        padding: 0px;
        margin: 0px;
    }
    .stackedmobile .table tfoot tr td {
        padding: 0px 0px 5px 0px;
        margin: 0px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    body header #red-header .main-logo #mobile-menu-icon {
        display: block !important;
    }
    header div .main-logo {
        text-align: center;
        padding-top: 17px;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .stackedmobile .table>thead>tr>th,
    .stackedmobile .table>tbody>tr>th,
    .stackedmobile .table>tfoot>tr>th,
    .stackedmobile .table>thead>tr>td,
    .stackedmobile .table>tbody>tr>td,
    .stackedmobile .table>tfoot>tr>td {
        border-top: none;
        border-bottom: 1px solid #ddd;
    }
    .stackedmobile .table>tfoot>tr>td {
        border-bottom: none;
        padding-bottom: 0px;
    }
    .stackedmobile .table>tbody>tr:last-child td {
        border-bottom: none;
    }
    .stackedmobile .table>tfoot>tr:first-child>td {
        border-top: 1px solid #ddd;
    }
}
/*Styling stacked news*/

.stacked {
    border: none
}

.stacked .panel-heading {
    padding: 0;
    border-bottom: none;
    background-image: url('../images/placeholder.jpeg');
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat
}

.stacked .panel-heading img {
    -moz-border-radius: 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

.stacked .panel-body {
    background: #303030;
    -moz-border-radius: 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0
}

.panel-heading+.panel-body {
    -moz-border-radius: 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0
}

.panel-footer {
    background: #fff
}

.stacked .panel-body h1 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0 17px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}

.stacked .panel-footer h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ec2e21;
    padding: 0;
    margin: 0
}

.stacked .panel-footer p {
    font-size: 14px;
    text-align: center;
    color: #6d6e71;
    padding: 0;
    margin: 10px 0
}

.item-news-list {
    margin: 0;
    padding: 0
}

.item-news-list li {
    height: 29px;
    padding-right: 1px;
    font-size: 16px;
    line-height: 35px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 2em;
    list-style: none;
    display: block
}

@media(min-width: 1024px) {
    .item-news-list li {
        font-size: 14px
    }
}

.item-news-list li a {
    color: #4c4d4f;
    text-align: left;
    display: block
}

.item-news-list li:last-child {
    border: none
}

.item-news-list li a:after {
    content: "•";
    font-size: 16px;
    color: #ec2e21;
    float: right
}

.panel-footer .item-news-list li a {
    margin-top: 4px
}

.item-news-block {
    padding: 15px 0;
    text-align: center
}

.item-news-block:first-child {
    margin-top: -9px
}

.item-news-block+.item-news-block {
    border-top: 1px solid #f2f2f2
}

.item-news-block .lead,
.item-news-block .lead p {
    font-size: 18px
}

.item-news-block>h2+span+.lead,
.item-news-block>h2+span+.lead p {
    font-size: 16px;
    margin-bottom: 0
}

@media(min-width: 768px) {
    .item-news-block .lead, .item-news-block .lead p {
        font-size: 16px;
        margin-bottom: 0
    }
    .item-news-block>h2+span+.lead,
    .item-news-block>h2+span+.lead p {
        font-size: 14px;
        margin-bottom: 0
    }
    .item-news-block {
        padding-bottom: 5px
    }
}

@media(min-device-width: 768px)and (max-device-width:1024px) {
    .item-news-block .lead, .item-news-block .lead p {
        font-size: 16px;
        margin-bottom: 10px
    }
}

@media(min-width: 1024px) {
    .item-news-block:first-child {
        margin-top: 0
    }
}

.item-news-block p {
    font-size: 14px
}

.item-news-block a {
    font-size: 14px;
    color: #ec2e21;
    text-decoration: underline;
    display: block;
    padding-top: 24px;
    padding-bottom: 10px
}

.item-news-block a:before {
    content: "+ ";
    text-align: center
}

.item-news-block h2 a {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ec2e21;
    padding: 0;
    margin: 0;
    text-decoration: none
}

@media(min-width: 768px) {
    .item-news-block h2 a {
        font-size: 16px
    }
    .item-news-block a {
        padding-top: 37px;
        padding-bottom: 10px
    }
}

.item-news-block h2 a:before {
    content: ""
}

.item-news-block .icon-calendar:before {
    margin-right: 5px
}

li.item-news-list-empty a:after {
    content: ""
}

li.item-news-list-empty {
    border-bottom: none
}

.icon-more {
    float: right;
    position: absolute;
    right: 20px;
    color: #ec2e21
}

.icon-more:before {
    font-size: 20px
}

.icon-calendar {
    display: block;
    text-align: center;
    color: #7d7d7d;
    margin-top: 5px
}

.view-all {
    display: block;
    background: #e0e0e0;
    font-size: 12px;
    line-height: 30px;
    color: #303030;
    margin: -10px -15px 0 -15px;
    text-align: center
}

.item-news .lead {
    max-height: 100px;
    min-height: 100px;
    overflow: hidden
}

.featured-content .item-news .lead {
    max-height: 200px;
    overflow: hidden
}

.item-news-block .lead {
    overflow: hidden
}

@media(min-width: 768px) {
    .item-news-block .lead {
        max-height: 91px;
        min-height: 91px
    }
}

@media(min-width: 1024px) {
    .item-news-block .lead {
        max-height: 58px;
        min-height: 58px
    }
    .item-news .lead {
        max-height: 90px;
        min-height: 90px
    }
}
/*Styling table links*/

.table {
    color: #6d6e71;
    clear: both;
}

.table a {
    color: #6d6e71;
}

.highlight a {
    color: #000;
}
/*Styling Menu*/

#portalNav ul li {
    margin-bottom: 23px;
    padding-right: 0px;
    text-transform: uppercase;
}

#portalNav ul li ul li {
    margin-bottom: 0px;
    text-transform: capitalize;
}

#portalNav ul li ul {
    margin-top: 10px;
    margin-bottom: 0px;
}

#portalNav ul li ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media (max-width: 767px) {
    .mega-nav-trigger {
        display: none;
    }
    li#searchMobile {
        padding-left: 35px;
        width: 89.5%;
    }
    #portalNav ul li ul li {
        margin-left: 0px;
        padding-left: 0px;
    }
    #portalNav ul li ul li a {
        margin-left: 0px;
        padding-left: 0px;
    }
    #searchFormSubmit {
        margin-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mega-nav-trigger {
        display: none;
    }
    li#searchMobile {
        padding: 0px 30px;
        width: 98.5%;
    }
    body h4 {
        font-size: 24px;
    }
    body h1 {
        font-size: 35px;
    }
}

#no-bg-panel.panel {
    margin: 0 auto;
}

.no-background #no-bg-panel.panel {
    margin-bottom: 66px;
    width: 60%;
}

body.PortalClient.no-background {
    background-image: url(../images/no-bg.png);
    background-position: top;
    background-repeat: repeat-x;
}

body.PortalClient.no-background #profileLinks {
    background-color: #ee3725;
    display: none;
}

@media (max-width: 1024px) {
    .no-background #no-bg-panel.panel {
        width: 100%;
    }
    body.PortalClient.no-background {
        background-image: none;
    }
}

.panel-title {
    padding-left: 10px;
}

.panel-heading .icon-library:before {
    position: absolute;
    top: 15px;
    left: 8px;
}

.panel-heading .glyphicon.glyphicon-star:before {
    font-size: 21px;
    position: absolute;
    top: -16px;
    left: -18px;
}

.icon-profile.panel-title:before {
    position: absolute;
    left: 9px;
    top: 16px;
}

.glyphicon-info-sign.panel-title:before {
    left: -14px;
    position: absolute;
    top: -13px;
}

.icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

.burgerworld {
    position: absolute;
    right: 18px;
    top: 24px
}

.burgerworld.active {
    background-color: #202020;
    padding: 24px 18px 14px 20px;
    top: 0px;
    height: 65px;
    right: 0px;
}

#desktop .icon-bar {
    display: block;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin-bottom: 3px;
}

#desktop.desktop-menu-active .icon-bar {
    background-color: #dc3423;
}

.pager-arrows {
    margin-top: 0px;
    width: 100px;
    position: relative;
}

.pager-arrows a {
    margin-top: 2px;
    font-weight: lighter;
    text-decoration: none;
    float: left;
}

.pager-arrows a:nth-child(2) {
    font-size: 12px;
    color: #ffffff;
    padding-right: 5px;
}

.pager-arrows .icon-more {
    float: none;
    position: static;
    right: auto;
}

.pager-text {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 3px;
    left: -5px;
    width: 75px;
    text-align: center;
}

.panel-default .panel-heading .pager-arrows .icon-left:before,
.panel-default .panel-heading .pager-arrows .icon-more:before {
    position: absolute;
}

.panel-default .panel-heading .pager-arrows .icon-left:before {
    top: 7px;
    left: -34px;
    font-size: 20px;
}

.panel-default .panel-heading .pager-arrows .icon-more:before {
    top: 6.5px;
    right: -4px;
    font-size: 19px;
}

.pager-arrows .icon-more {
    float: none;
    position: static;
    right: auto;
}

@media (max-width: 1024px) {
    .mobileMenueOverride .row ul li a {
        margin-left: 0px;
    }
    #portalNav ul li {
        margin-bottom: 23px;
        padding-right: 0;
        padding-left: 0px;
        width: 100%;
    }
    .mobileMenueOverride .row ul {
        padding-top: 20px;
    }
    .mobileMenueOverride .row ul li .badge {
        background: #FFF;
        color: #303030;
        right: 0px;
    }
    li#searchMobile {
        position: relative;
        margin-top: 0px;
        padding-top: 10px;
    }
    #searchSpan span.icon-search {
        top: 8px;
        left: 21px;
        display: block !important;
    }
    .mobileMenueOverride#portalNav ul li ul li {
        margin-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    aside .row ul li ul li a {
        margin-left: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    #searchSpan {
        position: relative;
    }
    input#Q {
        height: 50px;
        padding-left: 45px;
        padding-top: 6px;
        font-size: 20px;
    }
    #searchFormSubmit {
        position: absolute;
        top: 0px;
        right: 7px;
        height: 36px;
    }
    #searchSpan span.icon-search {
        font-size: 20px;
        top: 10px;
        left: 10px;
    }
}

@media (min-width: 1024px) {
    #portalNav ul li {
        padding-right: 0px;
        padding-left: 0px;
        width: 100%
    }
    aside .row ul li span {
        position: absolute;
        top: 5px;
        text-align: center;
    }
    aside .row ul li a {
        margin-left: 40px;
    }
    #portalNav ul li ul li {
        margin-left: 40px;
    }
    aside .row ul li .badge {
        margin-top: -6px;
        right: 35px;
    }
    aside .row ul li ul li a {
        margin-left: 0px;
        padding-left: 0px;
        word-spacing: 0px;
    }
    aside#portalNav {
        margin-top: -27px;
    }
}

.span-input.icon-pencil {
    position: relative;
}

.span-input.icon-pencil:before {
    position: absolute;
    right: 7px;
    top: 9px;
    color: #ec2e21;
    opacity: 0.4;
}
/*Typography Style for SiteCore Content*/

.panel-body h1 {
    font-size: 20px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #303030;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body h2 {
    font-size: 18px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #ec2e21;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}

.panel-body h3 {
    font-size: 16px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #ec2e21;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
}

.panel-body h4 {
    font-size: 15px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;
    color: #ec2e21;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
}

.panel-body h1 + p {
    margin-top: 10px;
}

.panel-body p {
    font-size: 16px;
    font-family: 'Calibri W01 Light', Calibri, Arial, sans-serif;    color: #4c4d4f;
}

.panel-body p:only-child {
    margin-bottom: 0px;
}

.panel-body a {
    color: #ec2e21;
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .panel-body h1 {
        font-size: 24px;
    }
    .panel-body h2 {
        font-size: 16px;
    }
    .panel-body h3 {
        font-size: 14px;
    }
    .panel-body h4 {
        font-size: 13px;
    }
    .panel-body h1 + p {
        margin-top: 10px;
    }
    .panel-body p {
        font-size: 14px;
    }
}

.panel-body ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 10px 0 10px 0;
    position: relative;
}

.panel-body ol {
    padding: 0;
    margin: 10px 0 10px 18px
}

.panel-body ul li {
    padding-left: 10px;
    text-indent: 0px;
}

.panel-body ol li {
    padding-left: 1px;
}

.panel-body ul li:before {
    content: "• ";
    color: #ec2e21;
    position: absolute;
    left: 0px;
}

.panel-body.body-notification ul li:before {
    content: "";
}

.no-background > header #red-header .main-logo #mobile-menu-icon {
    display: none !important;
}

.no-background .panel .panel-body {
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0px;
    width: 100%;
}

a.ui-state-default.ui-state-highlight {
    background-color: #e0e0e0;
    color: #6d6e71;
    border-radius: 50%;
}

a.ui-state-default.ui-state-active {
    background-color: #dc3423;
    color: #FFF;
}

.ui-state-disabled span.ui-state-default {
    color: #C1C1C2;
}

.ui-widget-content a {
    color: #4c4d4f;
    width: 25px;
    border-radius: 50%;
}

.ui-datepicker-year {
    color: #FFF!important;
}

.ui-datepicker td span,
.ui-datepicker td a {
    padding: 3px 3px 3px 4px;
}

.ui-datepicker {
    width: 311px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background: #ec2e21;
    color: #fff;
    border-radius: 5px;
    border-bottom: 2px solid #8e1c14;
    padding: 6px 48px;
    text-align: center;
    width: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .panel .body-notification .content-icon {
        padding-top: 10px;
    }
}

a, textarea, input {
    outline: none !important; 
}

.error-msg span{
    color: #ee3725;
}