body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Less [31mNameError: variable @red is undefined[39m[31m in [39mC:\\Users\\julio.a.huerta.canez\\Documents\\Code\\QIC Portal_021515\\QIC Portal\\public\\less\\modules\\header.less[90m on line 7, column 14:[39m \A [90m6 	height: 70px;[39m \A 7 	background: [7m[31m[1m@[22mred;[39m[27m \A [90m8 	[39m[0m[0m \A  \A '; }

  body * {
  	display: none;
  }
