body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Less [31mNameError: variable @background-gray is undefined[39m[31m in [39mC:\\Users\\julio.a.huerta.canez\\Documents\\Code\\QIC Portal_021515\\QIC Portal\\public\\less\\login.less[90m on line 5, column 14:[39m \A [90m4 	overflow-x: hidden;[39m \A 5 	background: [7m[31m[1m@[22mbackground-gray;[39m[27m \A [90m6 	color:@gray-dark;[39m[0m[0m \A  \A '; }

  body * {
  	display: none;
  }
