﻿@* Note the view is bound server client side using KnockoutJS *@
<div class="row filter-pnl">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="libraryMenu" class="row actions">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-bind="foreach: menuItems">
                <span data-bind="text: $data,css: { active: $data == $root.chosenMenuItemId() },
                          click: $root.goToMenuItem"></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <button type="button" id="filter-btn" data-bind="css: { invisible: !filterButtonVisiblity() }" class="btn btn-default pull-right">
                    Filter
                </button>
            </div>
        </div>
        <div class="panel panel-default" id="filter-content">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label>Client Name</label>
                        <div class="span-input">
                            <select placeholder="Select Client" id="clientSelect"
                                    data-bind="
                                options: Accounts,
                                optionsText: 'Name',
                                optionsValue: 'Id',
                                valueAllowUnset: true,
                                selectedOptions: AccountCodes,
                                optionsCaption: '-- Choose Client --',
                                value: SelectedAccount,
                                 event:{ change: UpdateSelectCriteria($data,'client')}"
                                    aria-label=" ..." class="form-control"></select>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="accountHoldingSelect">
                        <label>Account</label>
                        <div class="span-input">
                            <select placeholder="Select Account" id="holdingSelect"
                                    data-bind="
                                options: HoldingAccounts,
                                optionsText: 'Name',
                                optionsValue: 'Id',
                                valueAllowUnset: true,
                                selectedOptions: HoldingAccountCodes,
                                optionsCaption: '-- Choose Account --',
                                value: SelectedHoldingAccount,
                                 event:{ change: UpdateSelectCriteria($data,'holdingAccount')}"
                                    aria-label="..." class="form-control filter-multiselect"></select>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Product</label>
                        <div class="span-input">
                            <select placeholder="Select Product" id="productSelect"
                                    data-bind="
                                options: Products,
                                optionsText: 'Name',
                                optionsValue: 'Id',
                                valueAllowUnset: true,
                                selectedOptions: ProductCodes,
                                optionsCaption: '-- Choose Product --',
                                value:SelectedProduct,
                                event:{ change: UpdateSelectCriteria($data,'products')}"
                                    aria-label="..." class="form-control filter-multiselect"></select>
                        </div>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="z-index:1">
                        <label>Document Name</label>
                        <div class="span-input">
                            <select placeholder="Select Report" id="reportSelect"
                                    data-bind="
                                options: Reports,
                                optionsText: 'Name',
                                optionsValue: 'Id',
                                valueAllowUnset: true,
                                selectedOptions: ReportCodes,
                                optionsCaption: '-- Choose Document --',
                                value: SelectedReport,
                                event:{ change: UpdateSelectCriteria($data,'reports')}"
                                    aria-label="..." class="form-control filter-multiselect"></select>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Document Date</label>
                                <div class="span-input">
                                    <input placeholder="From" type="text" aria-label="..." class="form-control"
                                           data-bind="value: ReportDateFrom" id="RDateFrom" readonly="true" style="background-color:white;cursor:pointer">
                                    <span class="icon-calendar"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>&nbsp;</label>
                                <div class="span-input">
                                    <input placeholder="To" type="text" aria-label="..." class="form-control"
                                           data-bind="value: ReportDateTo" id="RDateTo" readonly="true" style="background-color:white;cursor:pointer">
                                    <span class="icon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Published Date</label>
                                <div class="span-input">
                                    <input placeholder="From" type="text" aria-label="..." class="form-control"
                                           data-bind="value: PublishedDateFrom" id="PDateFrom" readonly="true" style="background-color:white;cursor:pointer">
                                    <span class="icon-calendar"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>&nbsp;</label>
                                <div class="span-input">
                                    <input placeholder="To" type="text" aria-label="..." class="form-control"
                                           data-bind="value: PublishedDateTo" id="PDateTo" readonly="true" style="background-color:white;cursor:pointer">
                                    <span class="icon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <button type="reset" id="filter-cancel-btn" class="btn btn-cancel  pull-right col-xs-12" data-bind="click: resetFilterSelect">Clear</button>
                        <button type="button" id="filter-ok-btn" class="btn btn-default  pull-right col-xs-12">Filter</button>
                    </div>
                </div><!-- /.row -->
            </div>
        </div>

    </div>
</div>