﻿@model Qic.Sc.Web.Areas.Portal.Models.ProfileModel

@for (var i = 0; i < Model.ReportAccess.Count; ++i)
{
    <tr>
        <td>
            @Html.HiddenFor(x => x.ReportAccess[i].ID)
            <span>@Model.ReportAccess[i].GetClientName()</span>
        </td>
        <td>
            <span>@Model.ReportAccess[i].ReportName</span>
        </td>
        <td>
            <div>
                @Html.RadioButtonFor(m => m.ReportAccess[i].EmailNotification, true, new { id = string.Format("{0}{1}", Model.ReportAccess[i].ID, "yes") })
                @Html.LabelFor(m => m.ReportAccess[i].EmailNotification, "Yes", new { @class = "custom-label icon-checkbox", @for = string.Format("{0}{1}", Model.ReportAccess[i].ID, "yes") })
            </div>
            <div>
                @Html.RadioButtonFor(m => m.ReportAccess[i].EmailNotification, false, new { id = string.Format("{0}{1}", Model.ReportAccess[i].ID, "no") })
                @Html.LabelFor(m => m.ReportAccess[i].EmailNotification, "No", new { @class = "custom-label icon-checkbox", @for = string.Format("{0}{1}", Model.ReportAccess[i].ID, "no") })
            </div>
        </td>
    </tr>
}