﻿@model  Qic.Sc.Web.Areas.Portal.Models.DashboardModels
<form id="document-list">
    <div class="row" id="new">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="panel panel-default" id="newReports">
                <div class="panel-heading">
                    <span class="icon-library panel-title" aria-hidden="true"></span>
                    <span id="recentTitleDashboard">Recent</span>
                </div>
                @Html.Partial(MVC.Portal.Library.Views._DocumentListTablePanel)
                <!-- Table -->
                @Html.Partial(MVC.Portal.Library.Views._DocumentListTable)
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="panel panel-default" id="favouriteReports">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-star panel-title" aria-hidden="true"></span>
                    Favourites
                </div>
                @Html.Partial(MVC.Portal.Library.Views._DocumentListTablePanel)
                <!-- Table -->
                @Html.Partial(MVC.Portal.Library.Views._DocumentListTable)
            </div>
        </div>
    </div>
</form>
@Html.RegisterPageScript(
@<script>
    qic.newReportdata = {};
    qic.newReportdata.Total = ko.observable();
    qic.newReportdata.Skip = ko.observable();
    qic.newReportdata.CurrentPage = ko.observable();
    qic.newReportdata.LastPage = ko.observable();
    qic.newReportdata.Documents = ko.observableArray();
    qic.newReportdata.vmType ='Recent';

    qic.favouriteReportdata = {};
    qic.favouriteReportdata.Total = ko.observable();
    qic.favouriteReportdata.Skip = ko.observable();
    qic.favouriteReportdata.CurrentPage = ko.observable();
    qic.favouriteReportdata.LastPage = ko.observable();
    qic.favouriteReportdata.Documents = ko.observableArray();
    qic.favouriteReportdata.vmType = 'Favourite';

    qic.getDashboarDocuments('Recent',10);
    qic.getDashboarDocuments('Favourite', 10);

    qic.FavouriteCount = "@Model.FavouriteCount";

    //@* Bind the model to the DOM *@
    qic.newDashboardDocuments = new DocumentsViewModel(qic.newReportdata);
    qic.favouriteDashboardDocuments = new DocumentsViewModel(qic.favouriteReportdata);

    ko.applyBindings(qic.newDashboardDocuments, document.getElementById("newReports"));
    ko.applyBindings(qic.favouriteDashboardDocuments, document.getElementById("favouriteReports"));
</script>
)