﻿@model Qic.Sc.Web.Areas.Portal.Models.ProfileModel

<div class="row profile-container">
    <form action="@Url.ForItem(Constants.Content.ClientPortal.Home.Profile.ItemID.Guid)" method="POST">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><span class="icon-profile panel-title" aria-hidden="true"></span>@Model.FullName</div>
                <span class="separator">@Model.ContactOwner</span>
                <div class="panel-body">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 row text-left">
                        <label>Email Address</label>
                        <div class="span-input">
                            @Html.TextBoxFor(model => model.Email, new { @type = "email", @readonly = "readonly", @placeholder = "Email" })
                        </div>
                    </div>
                </div>
                <span class="subtitle col-lg-12 col-md-12 col-sm-12 col-xs-12 ">Preferences</span>
                <div class="stackedmobile preferences">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <span>Client</span>
                                </th>
                                <th>
                                    <span>Document</span>
                                </th>
                                <th>
                                    <span>Receive Via Email</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ReportAccess != null && Model.ReportAccess.Count > 0)
                            {
                                @Html.Partial(MVC.Portal.Library.Views._NotificationPreference, Model)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button type="reset" id="cancel-btn" class="btn btn-cancel  pull-right">Cancel</button>
            <button type="submit" class="btn btn-default  pull-right">Save</button>
        </div>
    </form>
</div>