﻿@model Qic.Sc.Web.Areas.Portal.Models.LibraryNavigationModel

<div class="row">
    <div class=" col-lg-12 col-md-12 col-sm-12 text-justify">
        <ul class="list-unstyled list-group">
            <li class="list-group-item">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span><a href="/">HOME</a>
            </li>
            <li class="list-group-item">
                <span class="icon-library " aria-hidden="true"></span><a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Library.ItemID.Guid)/all">DOCUMENT LIBRARY</a>
                <ul class="list-unstyled list-group">
                    @{var activeAllClass = Model.Folders.Any() && Model.Folders.Where(x => x.Active).FirstOrDefault() == null ? "class=activeMenuLink" : string.Empty;
                    <li class="list-group-item"><a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Library.ItemID.Guid)/all" id="allLink" @activeAllClass>All</a><span class="badge" id="recentCount">@Model.RecentCount</span></li>
                    }
                    @if (Model.Folders.Any())
                    {
                        foreach (var folder in Model.Folders)
                        {
                            <li class="list-group-item">
                                @if (folder.Active)
                                {
                                    <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Library.ItemID.Guid)/@folder.Path" class="activeMenuLink">@folder.Title </a>
                                }
                                else
                                {
                                    <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Library.ItemID.Guid)/@folder.Path">@folder.Title </a>
                                }
                            </li>
                        }
                    }
                </ul>
            </li>
            <li class="list-group-item">
                <span class="icon-library " aria-hidden="true"></span>
                <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Forms.ItemID.Guid)">Forms</a>
            </li>
            <li class="list-group-item">
                <span class="icon-library " aria-hidden="true"></span>
                <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.MiscellaneousDocuments.ItemID.Guid)">Miscellaneous</a>
            </li>
            <li class="list-group-item">
                <span class="icon-idprofile" aria-hidden="true"></span><a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Profile.ItemID.Guid)">MY PROFILE</a>
            </li>
            <li class="list-group-item main-list-item" id="searchMobile" style="display: none">
                <form class="searchForm" action="@Url.ForItem(Constants.Content.ClientPortal.Home.Search.ItemID.Guid)" method="GET">
                    <span class="icon-search"></span>
                    <input type="text" class="form-control" placeholder="SEARCH" aria-label="..." name="q" />
                </form>
            </li>
            <li class="list-group-item" id="mobileNavigation" style="display: none">
                <ul class="list-unstyled list-group">
                    <li class="list-group-item">
                        <a href="mailto:clientservices@qic.com">Email</a>
                    </li>
                    <li class="list-group-item"><a href="tel:07 3020 7082">Contact</a></li>
                    <li class="list-group-item"><a href="@Url.Action(MVC.Portal.Account.LogOff())">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>