﻿@using Newtonsoft.Json
@model Qic.Sc.Web.Areas.Portal.Models.DocumentListModel

<form id="document-list">
    <div class="row" id="new">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div id="searchSpan">
                @using (Html.BeginForm())
                {
                    @Html.TextBoxFor(x=>Model.Q,new { @class = "form-control input-search"})
                    <span class="icon-search"></span>
                    <input type="submit" id="searchFormSubmit" class="form-control input-search btn btn-default"
                            placeholder="SEARCH" aria-label="..." value="Search" />
                }
            </div>
                <div class="panel panel-default" id="reportsSearchResults">
                    <div class="panel-heading">
                        <span class="icon-library panel-title" aria-hidden="true">Search Results</span>
                        <div class="pager-arrows pull-right" id="paging">
                            <a id="document-list-prev" href="#"><span class="icon-left" data-bind="visible:CurrentPage()+1 >1, click: getNewPageData.bind($data,0)"></span></a>
                            <span data-bind="text: CurrentPage()+1 +' - '+ LastPage()"></span>
                            <a id="document-list-next" href="#"><span class="icon-more" data-bind="visible: CurrentPage() + 1 < LastPage(),click: getNewPageData.bind($data,1)"></span></a>
                        </div>
                    </div>
                    @Html.Partial(MVC.Portal.Library.Views._DocumentListTablePanel)
                    <!-- Table -->
                    @Html.Partial(MVC.Portal.Library.Views._DocumentListTable)
                </div>
        </div>
    </div>
</form>

@Html.RegisterPageScript(
    @<script>
        $(document).ready(function () {
            $("#searchSpan .mega-nav-trigger").click(function (e) {
                e.preventDefault();
                var url = $(this).attr("href");
                $("#searchSpan .input-search").each(function () {
                    var search = $(this).val().trim();
                    if (search != null && search != "")
                    {
                        window.location.replace(url + "?q=" + encodeURIComponent(search));
                    }
                });
            });
            $("#searchSpan .input-search").keypress(function (e) {
                // if keycode is enter
                if (e.keyCode == 13)
                {
                    $("#searchSpan .mega-nav-trigger").click();
                }
            });
        });

        qic.searchResultsData = @Html.Raw(JsonConvert.SerializeObject(Model));
        $('.viewAll').hide();
        qic.searchTerm = "";

        //@* Bind the model to the DOM *@
        if (qic.searchResultsData !=null ) {
            qic.data = qic.searchResultsData;
            qic.documents = new DocumentsViewModel(qic.searchResultsData);
            qic.menuItemsVM = {} ;
            qic.menuItemsVM.chosenMenuItemId = ko.observable("All");
            ko.applyBindings(qic.documents, document.getElementById("reporsSearchResults"));
            qic.searchTerm = $("#searchSpan #Q").val();
        }
        else {
            qic.searchResultsData ={};
            $('.viewAll').hide();
        }

        updateNoResultRow(qic.searchResultsData);
    </script>
    )