﻿@{
    //Layout = MVC.Corporate.Shared.Views._Layout;
}

@using Glass.Mapper.Sc;
@using Glass.Mapper.Sc.Web.Mvc;

@{
    Sitecore.Data.Database db = Sitecore.Context.Database;

    Sitecore.Data.Items.Item[] authors = db.SelectItems("/sitecore/content/Blog/Home/Authors/*[@@templateid='{601049BE-36F1-4714-B765-C74DEDAA44D9}']");

    Sitecore.Data.Items.Item[] categories = db.SelectItems("/sitecore/content/Blog/Home/Categories/*[@@templateid='{3B028723-10FD-4DCB-8247-47C31BAC3279}']");

    var searchURL = String.Format("http://{0}/Search?searchQuery=", Sitecore.Context.Site.HostName);

    var linkedInFollowURL = "https://www.linkedin.com/company/16671";
}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Blog.QIC</title>

    @Html.Sitecore().Placeholder("meta")

    <link href="~/Content/blog/css/site.css" rel="stylesheet" />
    <link href="~/Content/blog/css/blog.css" rel="stylesheet" />
    <link href="~/Content/blog/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/99a43e8f-c5e8-45fa-9d11-fcac56f301cd.css" />

    <link rel="icon" href="~/Content/common/favicon_QIC.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-25756108-3', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body id="Blog" class="article-page">
    <header>
        <div id="red-header">
            <div class="container">
                <div id="white-top">
                    <div class="container">
                        <div class="col-lg-9 col-md-9 text-right loginSec pull-right hidden-sm hidden-xs">
                            <span><a href="http://www.qic.com.au/" target="_blank">QIC.com</a></span>
                            <span><a href="http://www.qic.com.au/knowledge-centre" target="_blank">Knowledge Centre</a></span>
                            <span><a href="http://www.qic.com.au/privacy-policy" target="_blank">Privacy Policy</a></span>
                            <span><a href="http://www.qic.com.au/disclaimer" target="_blank">Disclaimer</a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-3 main-logo">
                        <a class="hidden-sm hidden-xs" href="~/"><img src="~/Content/blog/imgs/blog-qic-logo.png" alt="qic logo"></a>
                        <a class="hidden-md hidden-lg" href="~/"><img src="~/Content/blog/imgs/blog-qic-logo-small.png" alt="qic logo"></a>
                        <div id="mobile-menu-icon" class="hidden-md hidden-lg burgerworld">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </div>
                    <div id="mega-nav" class="col-lg-10 col-md-9 text-right pull-right hidden-sm hidden-xs">
                        <hr>
                        <ul id="mega-nav-menu">
                            <li class="mega-nav-menu-item has-details col-lg-3 col-md-3 col-sm-3" id="mega-categories-blog"><a href="#">Categories <i class="fa fa-chevron-down"></i></a></li>
                            <li class="mega-nav-menu-item has-details col-lg-3 col-md-3 col-sm-3" id="mega-authors-blog"><a href="#">Authors <i class="fa fa-chevron-down"></i></a></li>
                           <!--<li class="mega-nav-menu-item has-details col-lg-3 col-md-3 col-sm-3" id="mega-authors-blog"><a href="#"></a></li>-->
                            <li class="mega-nav-menu-item has-details col-lg-3 col-md-3 col-sm-3" id="mega-authors-blog"><a href="#" onclick="window.open('http://ecomms.qic.com/s/48eaf12ca88b0e92d2e014f3e9b78a89dae10abb', 'mywindow', 'menubar=1,resizable=1,width=500,height=435'); return false;">Subscribe<i class="fa fa-chevron-down"></i></a></li>
                            <li class="mega-nav-menu-item has-details col-lg-2 col-md-2 col-sm-2" id="mega-follow-linkedin"><a href="@linkedInFollowURL" target="_blank">Follow <i class="linkedin"></i></a></li>
                            <li class="mega-nav-menu-item search-li opener col-lg-1 col-md-1 col-sm-1"><a><span class="glyphicon glyphicon-search"></span></a></li>
                            <li class="mega-nav-menu-item search-li closer col-lg-1 col-md-1 col-sm-1"><a><span class="glyphicon glyphicon-chevron-up closer-trigger"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mega-nav-submenu hidden-sm hidden-xs" id="mega-categories-blog-details">
            <div class="container">
                <div class="row">
                    @foreach (Sitecore.Data.Items.Item category in categories)
                    {
                        <ul class="col-lg-15 col-md-15 col-sm-15">
                            <li class="mega-nav-submenu-title"><a href="~/Categories/@category.DisplayName">@category.DisplayName</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="mega-nav-submenu hidden-sm hidden-xs" id="mega-authors-blog-details">
            <div class="container">
                <div class="row">
                    @foreach (Sitecore.Data.Items.Item author in authors)
                    {
                        <ul class="col-lg-15 col-md-15 col-sm-15">
                            <li class="mega-nav-submenu-title"><a href="~/Authors/@author.DisplayName">@author.DisplayName</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="hidden-sm hidden-xs" id="mega-nav-search">
            <div class="container">
                <form class="searchForm" action="/search">
                    <input name="searchQuery" type="text" placeholder="SEARCH..." autocomplete="off" />
                    <a id="mega-nav-trigger" class="btn-default">Search site</a>
                </form>
            </div>
        </div>
        <!-- End Desktop Nav -->
        <!-- Mobile Nav -->
        <div class="container " id="mobile-content-menu">
            <ul class="list-unstyled list-group" id="main-list-menu">

                <li class="list-group-item main-list-item">

                    <h4><a class="collapsable-trigger"></a></h4>
                    <a href="#">Categories</a>

                    <ul class="list-unstyled list-group secondary-list">
                        @foreach (Sitecore.Data.Items.Item category in categories)
                        {
                            <li class="list-group-item sub-menu-item-title">
                                <a href="~/Categories/@category.DisplayName">@category.DisplayName</a>
                            </li>
                        }
                    </ul>
                </li>

                <li class="list-group-item main-list-item">

                    <h4><a class="collapsable-trigger"></a></h4>
                    <a href="#">Authors</a>

                    <ul class="list-unstyled list-group secondary-list">
                        @foreach (Sitecore.Data.Items.Item author in authors)
                        {
                            <li class="list-group-item sub-menu-item-title">
                                <a href="~/Authors/@author.DisplayName">@author.DisplayName</a>
                            </li>
                        }
                    </ul>
                </li>

                <li class="list-group-item main-list-item">
                    <form class="searchForm" action="/search">
                        <input type="text" name="searchQuery" autocomplete="off" id="input-search" class="form-control" placeholder="SEARCH" aria-label="...">
                        <span class="icon-search"></span>
                    </form>
                </li>
                <li class="list-group-item main-list-item">
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item mobile-links"><a href="http://www.qic.com.au/" target="_blank">QIC.com</a></li>
                        <li class="list-group-item mobile-links"><a href="http://www.qic.com.au/knowledge-centre" target="_blank">Knowledge Centre</a></li>
                        <li class="list-group-item mobile-links"><a href="http://www.qic.com.au/privacy-policy" target="_blank">Privacy Policy</a></li>
                        <li class="list-group-item mobile-links"><a href="http://www.qic.com.au/disclaimer" target="_blank">Disclaimer</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- End Mobile Nav -->
    </header>

    @Html.Sitecore().Placeholder("master")

    <!-- End Container -->
    <!-- Footer -->
    <footer>
        <div id="footer-links">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 no-margin">
                    <h3>Categories</h3>
                    <ul class="list-unstyled list-group">
                        @foreach (Sitecore.Data.Items.Item category in categories)
                        {
                            <li><a href="~/Categories/@category.DisplayName">@category.DisplayName</a></li>
                        }
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 no-margin">
                    <h3>Authors</h3>
                    <ul class="list-unstyled list-group">
                        @foreach (Sitecore.Data.Items.Item author in authors)
                        {
                            <li><a href="~/Authors/@author.DisplayName">@author.DisplayName</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="disclaimer-links">
            <div class="container">
                <div class="no-margin home-anchor">
                    <ul>
                        <li id="logo-li"><a href="~/"><img src="~/Content/blog/imgs/blog-qic-logo-footer.png" alt="qic logo"></a></li>
                        <li><a href="http://www.qic.com.au/privacy-policy" target="_blank">Privacy Policy</a></li>
                        <li><a href="http://www.qic.com.au/disclaimer" target="_blank">Disclaimer</a></li>
                    </ul>
                    <div class="hidden-xs hidden-sm"><span class="copy-right">QIC 2016</span></div>
                </div>

            </div>
        </div>
    </footer>
    <!--End Footer -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="~/Content/blog/js/site.js"></script>

    <script>
        $(document).ready(function () {
            //$("#mega-nav-trigger").click(function () {
            //$(".searchForm").submit();
            //});

            $("#mega-nav-trigger").click(function () {
                var searchValue = $(".searchForm input").val();
                window.location.href = "@searchURL" + searchValue;
            });

            $(".searchForm input").keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    $(".searchForm").submit();
                }
            });

        });

           
    </script>
    <script type="text/javascript">
        //<![CDATA[
        (function () {
            var _analytics_scr = document.createElement('script');
            _analytics_scr.type = 'text/javascript'; _analytics_scr.async = true; _analytics_scr.src = '/_Incapsula_Resource?SWJIYLWA=2977d8d74f63d7f8fedbea018b7a1d05&ns=1';
            var _analytics_elem = document.getElementsByTagName('script')[0]; _analytics_elem.parentNode.insertBefore(_analytics_scr, _analytics_elem);
        })();
        // ]]>
    </script>
</body>
</html>