body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Less [31mNameError: variable @gray is undefined[39m[31m in [39mC:\\Users\\julio.a.huerta.canez\\Documents\\Code\\QIC Portal_021515\\QIC Portal\\public\\less\\modules\\footer.less[90m on line 4, column 14:[39m \A [90m3 footer{[39m \A 4 	background: [7m[31m[1m@[22mgray url(..\\images\\footer-bg.png) repeat-x top center;[39m[27m \A [90m5 	.up{[39m[0m[0m \A  \A '; }

  body * {
  	display: none;
  }
