﻿@model Qic.Sc.Web.Areas.Corporate.Model.StackedPanelModel
<div class="panel panel-default stacked">
    @if (Model.HeroImage != null)
    {
        var backgroundImgeStyle = string.IsNullOrEmpty(Model.HeroImage) ? null : "background-image: url('" + Model.HeroImage + "?mw=1230')";
        <div class="panel-heading" style="@Html.Raw(backgroundImgeStyle)">
        </div>
    }
    @if (Model.Title != null)
    {
        
        <div class="panel-body">
            <h1>@Model.Title @if(Model.TitleLink != null){<a href="@Model.TitleLink"><span class="icon-more"></span></a>}</h1>
        </div>
    }
    <div class="panel-footer">
        @if (Model.IsShowAllEnabled && Model.TitleLink != null)
        {
            <a href="@Model.TitleLink" class="view-all">View All</a>
        }
        @if (Model.NewsBlockList != null && Model.NewsBlockList.Any())
        {
            var leadHeigthStyle = Model.IntroHeight > 0 ? string.Format("style=\"min-height: {0}px; max-height: {0}px;\"", Model.IntroHeight) : null;
            foreach (var item in Model.NewsBlockList)
            {
                <div class="item-news-block">
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        <h2><a href="@item.Link">@item.Title</a></h2>
                    }
                    @if (!string.IsNullOrEmpty(item.DateFormat) && item.Date != DateTime.MinValue)
                    {
                        <span class="icon-calendar">@item.Date.ToString(item.DateFormat)</span>
                    }
                    @if (!string.IsNullOrEmpty(item.Intro))
                    {
                        <div class="lead ellipsis" @Html.Raw(leadHeigthStyle)>
                            @Html.Raw(item.Intro)
                        </div>
                    }
                    @if (Model.IsShowReadMoreEnabled)
                    {
                        <a href="@item.Link">Read More</a>
                    }
                </div>
            }
        }
        @if (Model.NewsItemList != null && Model.NewsItemList.Any())
        {
            <ul class="item-news-list">
                @foreach (var item in Model.NewsItemList)
                {
                    <li>
                        <a href="@item.Link">@item.Title</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
