﻿@model IEnumerable<Qic.Sc.Entities.UserDefined.QIC.Shared.Feature.IFeature>
@if (Model.Any())
{
    var count = 0;
    <div class="carousel">
        <div class="cycle-slideshow" data-cycle-swipe="true" data-cycle-swipe-fx="scrollHorz" data-cycle-fx="scrollHorz" data-cycle-timeout="6000" data-cycle-slides="&gt; section">
            <div class="cycle-pager"></div>
            @foreach (var slide in Model)
            {
                var slideStyle = (count++) > 0 ? "style=\"display:none\"" : null;
                var imgSrc = slide.HeroImage.GetMaxWidthSrc(1230) ?? Url.Content(Links.Content.corporate.images.placeholder_jpeg);
                var imgAlt = slide.HeroImage.Alt ?? "generic stock image";
                <section class="cycle-slide" @Html.Raw(slideStyle)>
                    <img src="@imgSrc" alt="@imgAlt" class="pull-right">
                    <div class="text-box">
                        <div class="text-uppercase ellipses-text">@Html.Raw(slide.PullQuote)</div>
                        <a class="btn btn-danger btn-lg center-block" href="@Url.ForItem(slide.EntityId)">@slide.GetDisplayNameOrName()</a>
                    </div>
                </section>
            }
        </div>
    </div>
}
