﻿@model Qic.Sc.Web.Areas.Corporate.Model.FeatureModel
<div class="row">
    @foreach (var hero in Model.Feature.FeatureEntities.Take(Model.Count))
    {
        var backgroundImgeStyle = string.IsNullOrEmpty(hero.HeroImage.Src) ?  null : "background-image: url('" + hero.HeroImage.GetMaxWidthSrc(1230) + "')";
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-margin landing-panel left">
            <div class="panel panel-default panel-news">
                <div class="panel-body coverimg" style="@Html.Raw(backgroundImgeStyle)">
                </div>
                <div class="panel-heading">
                    <span class="panel-title">@hero.Title</span>
                    <a href="@Url.ForItem(hero.EntityId)"><span class="icon-more"></span></a>
                </div>
                <div class="panel-body news-container">
                    <div class="item-news">
                        <div class="lead">
                            @Html.Raw(hero.PullQuote)
                        </div>
                        <a class="btn-default" href="@Url.ForItem(hero.EntityId)">Discover</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
