﻿@{
    Layout = MVC.Portal.Shared.Views._Layout;
    ViewBag.BodyClasses = "no-background";
}
<div class="container">
	<div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        @Html.Sitecore().Placeholder("master")
	    </div>
	</div>
</div>
