﻿@using Newtonsoft.Json
@model Qic.Sc.Web.Areas.Portal.Models.DocumentListModel
<form id="document-list">
    @Html.Partial(MVC.Portal.Library.Views._DocumentListFilter, Model)
    <div class="row" id="new">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="panel panel-default" id="availableDocuments">
                <div class="panel-heading">
                    <span id="tableTitle" class="icon-library panel-title" aria-hidden="true"></span>
                    @Html.Partial(MVC.Portal.Library.Views._DocumentListPaging)
                </div>
                @Html.Partial(MVC.Portal.Library.Views._DocumentListTablePanel)
                <!-- Table -->
                @Html.Partial(MVC.Portal.Library.Views._DocumentListTable, Model)
            </div>
        </div>
    </div>
</form>

@Html.RegisterPageScript(
    @<script>
        // @* Render server model as an object to the client. *@
        qic.data = @Html.Raw(JsonConvert.SerializeObject(Model));

        //@* Bind the model to the DOM *@
        qic.menuItemsVM = new menuItemsViewModel();
        qic.documentsFilterVM = new documentFilterViewModel(qic.data);
        qic.documents = new DocumentsViewModel(qic.data);

        ko.applyBindings(qic.documents, document.getElementById("availableDocuments"));
        ko.applyBindings(qic.documentsFilterVM, document.getElementById("filter-content"));
        ko.applyBindings(qic.menuItemsVM, document.getElementById("libraryMenu"));

        updateNoResultRow(qic.data);
        $('#recentCount').text(qic.data.RecentCount);

        if (qic.data.ReportGroup != "") {
            qic.menuItemsVM.goToMenuItem(qic.data.ReportGroup);
        }
    </script>)