﻿@using Newtonsoft.Json
@model Qic.Sc.Web.Areas.Portal.Models.DocumentListModel
<form id="document-list">
    <div class="row" id="new">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="panel panel-default" id="availableDocuments">
                <div class="panel-heading">
                    <span id="tableTitle" class="icon-library panel-title" aria-hidden="true">Forms</span>
                    @Html.Partial(MVC.Portal.Library.Views._DocumentListPaging)
                </div>
                @Html.Partial(MVC.Portal.Library.Views._DocumentListTablePanel)
                <!-- Table -->
                @Html.Partial(MVC.Portal.Library.Views._FormListTable, Model)
            </div>
        </div>
    </div>
</form>

@Html.RegisterPageScript(
    @<script>
        // @* Render server model as an object to the client. *@
        qic.data = @Html.Raw(JsonConvert.SerializeObject(Model));

        //@* Bind the model to the DOM *@
        qic.documents = new DocumentsViewModel(qic.data);

        ko.applyBindings(qic.documents, document.getElementById("availableDocuments"));
        $("#favLi").hide();
        if (qic.documents.Documents().length > 0) {
            $('.noResultsTr').css('display','none');
        }    
    </script>)