﻿<div class="stackedmobile">
<table class="table" id="documentTable">
    <thead>
        <tr colspan="5" class="hidden-xs">
            <th>
                <input value="" name="check-custom-header" type="checkbox"
                       class="check" id="check-header" data-bind="checked: selectAllCheckBox" />
                <label class="custom-label custom-header" for="check-header"
                       data-bind="click: changeAllTextBoxes"></label>
                <span class="file-name-header">Document Name</span>
            </th>
            <th>
                <span>Client</span>
            </th>
            <th>
                <span>Document Type</span>
            </th>
            <th>
                <span>Document Date</span>
            </th>
            <th>
                <span>Published</span>
            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Documents" >
        <tr data-bind="visible: $data.IsVisible,attr: { id: $data.ReportId },css: { highlight: $data.IsNew}" class="tbodydocuments">
            <td>
                <input type="checkbox" class="check"
                       data-bind="checked: reportSelected,attr: { id: 'check-list-' + $index() }" />
                <label class="custom-label"
                       data-bind="attr: { for: 'check-list-' + $index() },
                    click: function(data, event) { $parent.showFunctionalityBar($parent,$data)}"></label>
                <span class="glyphicon glyphicon-star favorite-table" data-bind="click:function(data, event) { $parent.addToFav($parent,$data)},
                style: {color: $data.IsFavourite()==true? '#fdba31' : ''}"></span>
                <a data-bind="text: $data.FileName,attr:{ title: $data.TitleFileName, href: $data.RelativeUrl}" target="_blank"></a>
            </td>
            <td>
                <span data-bind="text: $data.Name,attr:{ title: $data.TitleName}"></span>
            </td>
            <td>
                <span data-bind="text: $data.DocumentType"></span>
            </td>
            <td>
                <span data-bind="text: $data.ReportDate"></span>
            </td>
            <td>
                <span data-bind="text: $data.PublishedDate"></span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="viewAll" data-bind="visible: ShowViewAll">
            <td colspan="5" style="text-align:center;">
                <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Library.ItemID.Guid)/Recent" class="dashRecentLink" style="display:none">View All Recent</a>
                <a href="@Url.ForItem(Constants.Content.ClientPortal.Home.Library.ItemID.Guid)/Favourite" class="dashFavLink" style="display:none">View All Favourites</a>
            </td>
        </tr>
        <tr class="noResultsTr" style="visibility:hidden">
            <td colspan="5" style="text-align:center;">
                <span> No Results</span>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="td-view"></td>
        </tr>
    </tfoot>
</table>
</div>