﻿<!-- Default panel contents -->

<div class="panel-body body-notification col-lg-12 col-md-12 col-sm-12 col-xs-6" id="tableMenu" data-bind="visible: panelVisibility" style="display:none">
    <div class="content-icon">
        <ul>
            <li class="hidden-xs" data-bind="click: function(data, event) {panelDownload($data)}">
                <ul>
                    <li><span class="icon-dowload"></span></li>
                    <li><span><a href="">Download</a></span></li>
                </ul>
            </li>
            <li data-bind="click: function(data, event) {panelPreview($data)}">
                <ul>
                    <li><span class="icon-preview"></span></li>
                    <li><span><a href="">Preview</a></span></li>
                </ul>
            </li>
            <li id="favLi" data-bind="click: function(data, event) {panelFavourites($data)}">
                <ul>
                    <li><span class="glyphicon glyphicon-star"></span></li>
                    <li><span><a id="panelFavBtn" href="">Favourite / Unfavourite</a></span></li>
                </ul>
            </li>
        </ul>
    </div>
</div>