﻿
<div class="pager-arrows pull-right" id="paging">
    <a id="document-list-prev" href="#">
        <span class="icon-left"
              data-bind="css: { invisible: !(CurrentPage()+1 >1)}, click: getNewPageData.bind($data,0)"></span>
    </a>
    <span data-bind="text: CurrentPage()+1 +' - '+ LastPage()" class="pager-text"></span>
    <a id="document-list-next" href="#">
        <span class="icon-more"
              data-bind="css: { invisible: !(CurrentPage() + 1 < LastPage())},click: getNewPageData.bind($data,1)"></span>
    </a>
</div>