            
/*Blog QIC POPUp CSS*/
.button{
                background: #1A1A1A;
                border: 1px solid #2e2e2e;
                color: white;
                text-decoration: none;
                padding: 8px 15px;
                cursor: pointer;
                text-transform:uppercase;
            }
            .button:hover{
                background: #ec7500;
                border-color: #ec7500;
                text-decoration: none;
            }
            .icon-subscribe{
                font-size: 20px;
                vertical-align: middle;
                margin-right: 5px;}
            .icon-subscribe::before{
                //content: "\62"
            }
            .icon-subscribe>img{
                width: 25px;
            }
            .popupBox {
                    position:fixed;
                    padding: 6px;
                    border: 1px;
                    color: #73706d;
                    margin:0px;

                    }