﻿@model Qic.Sc.Web.Areas.Portal.Models.DocumentUploadModel

@{
    Layout = MVC.Portal.Shared.Views._LayoutForCrm;
    var now = DateTime.Now;
    var alertCssclass = "alert-danger";
    var alertIcon = "glyphicon-exclamation-sign";
    if (!Model.IsFailed)
    {
        alertCssclass = "alert-success";
        alertIcon = "glyphicon-ok";
    }
}
<div class="upload">
    @using (Html.BeginForm(MVC.Portal.Report.Upload(), FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (Model.Messages != null && Model.Messages.Any())
        {
            <ul class="list-unstyled alert @alertCssclass">
                @*alert-success*@
                @foreach (var message in Model.Messages)
                {
                    <li>
                        @*glyphicon-ok*@
                        <span class="glyphicon @alertIcon" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>@message
                    </li>
                }
            </ul>
        }

        @Html.HiddenFor(m => m.EntityName)
        @Html.HiddenFor(m => m.EntityCode)
        @Html.HiddenFor(m => m.ReportCode)
        @Html.HiddenFor(m => m.UploadType)
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            <div class="btn-group" role="group">
                @Html.DropDownListFor(
                m => m.ReportDateDay,
                Enumerable.Range(1, 31).Select(
                    i => new SelectListItem { Value = i.ToString(), Text = string.Format("{0:00}", i), Selected = i == now.Day }),
                "DD", new { @class = "btn btn-default" })

                @Html.DropDownListFor(
                m => m.ReportDateMonth,
                Enumerable.Range(1, 12).Select(
                    i => new SelectListItem { Value = i.ToString(), Text = string.Format("{0:00}", i), Selected = i == now.Month }),
                "MM", new { @class = "btn btn-default" })

                @Html.DropDownListFor(
                m => m.ReportDateYear,
                Enumerable.Range(0, 20).Select(
                    i => new SelectListItem { Value = (now.Year - i).ToString(), Text = string.Format("{0:0000}", now.Year - i), Selected = i == 0 }),
                "YYYY", new { @class = "btn btn-default" })

                <span class="btn btn-default btn-file">
                    &hellip;<input type="file" name="file" id="uploadFile" />
                </span>

                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> UPLOAD
                </button>
            </div>
            <br/>
            <label id="filename" for="file"></label>
        </div>
    }
</div>

<script>
    function displayVals() {
        var fileName = $("#uploadFile").val().replace(/C:\\fakepath\\/i, "");
        if (fileName != "") {
            $("#filename").html(fileName);
        } else {
            $("#filename").html("");
        }
    }
    $("#uploadFile").change(displayVals);
</script>