﻿@model Qic.Sc.Web.Areas.Corporate.Model.AttachmentModel

@if (string.IsNullOrEmpty(Model.Url))
{
    <!-- NO ATTACHMENT -->
}
else
{
    <div class="form-container attachment-download">
        <span class="glyphicon glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        <a href="@Model.Url" title="@Model.Text">Download a copy</a>
    </div>
}
