﻿@using Glass.Mapper
@using Microsoft.Ajax.Utilities
@model IEnumerable<Qic.Sc.Entities.UserDefined.QIC.Corporate.Data.Property.IProperty>


@if (Model.Any())
{
    <div class="row features">
        @foreach (var property in Model)
        {
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default stacked">
                    <div class="panel-body-new">
                        <div class="text-center panel-image">
                            <img src="@property.ListingImage.GetMaxWidthSrc(1230)" alt="">
                            @if (@property.ListingCaption.IsNotNullOrEmpty())
                            {
                                <div class="image-title">@property.ListingCaption</div>
                            }
                        </div>
                    </div>
                    <div class="panel-footer-new">
                        <div class="item-news-block">
                            <div class="footer-links">
                                <div class="text-center"> <a href="@Url.ForItem(property.EntityId)"><em class="glyphicon glyphicon-plus"></em> <span>More</span></a> </div>
                                <div class="text-center">
                                    <a href="@property.GoogleMap" target="_blank"><em class="glyphicon glyphicon-map-marker"></em> <span>Location</span></a>
                                </div>
                                <div class="text-center @Html.Raw(property.Website.IsNullOrEmpty() ? "inactive" : string.Empty)"> <a href="@property.Website.IfNullOrWhiteSpace("#")" @Html.Raw(property.Website.IsNotNullOrEmpty() ? "target='_blank'" : String.Empty)><em class="glyphicon glyphicon-link"></em> <span>Website</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}